{
  "openapi": "3.0.0",
  "info": {
    "title": "distribute API",
    "description": "API Gateway for distribute.\n\n## Quick Start\n\n1. Create an API key in the distribute dashboard, or via `POST /v1/api-keys`\n2. Use it as a Bearer token — that's it, no extra headers needed\n\n```\nAuthorization: Bearer distrib.usr_abc123...\n```\n\nYour key carries your org and user identity. All endpoints work out of the box.\n\n## Storing provider keys (BYOK)\n\nTo store your own provider API keys (e.g. OpenAI, Anthropic) for use in workflows:\n\n```\nPOST /v1/keys\nAuthorization: Bearer distrib.usr_abc123...\n\n{ \"provider\": \"openai\", \"apiKey\": \"sk-...\" }\n```\n\n## Error codes\n\n| Code | Meaning |\n|------|---------|\n| 401 | Missing or invalid Bearer token |\n| 400 | Organization context required (missing `x-org-id` — app key only) |\n| 502 | Identity resolution failed (internal service unreachable) |\n\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.distribute.you"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check and debug endpoints"
    },
    {
      "name": "Authentication",
      "description": "Create and manage your API keys"
    },
    {
      "name": "Keys",
      "description": "Provider key management"
    },
    {
      "name": "Performance",
      "description": "Public performance leaderboard"
    },
    {
      "name": "User",
      "description": "Current user information"
    },
    {
      "name": "Campaigns",
      "description": "Campaign management"
    },
    {
      "name": "Leads",
      "description": "Lead search"
    },
    {
      "name": "Qualify",
      "description": "Email reply qualification"
    },
    {
      "name": "Brand",
      "description": "Brand scraping and management"
    },
    {
      "name": "Activity",
      "description": "User activity tracking"
    },
    {
      "name": "Chat",
      "description": "AI chat with SSE streaming"
    },
    {
      "name": "Billing",
      "description": "Billing, credits, and checkout"
    },
    {
      "name": "Internal",
      "description": "Platform-level operations (API key auth, no identity headers)"
    },
    {
      "name": "Platform",
      "description": "Service discovery and platform configuration"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication.\n\nUse an API key (`distrib.usr_*`) as your Bearer token. Create one via `POST /v1/api-keys` or in the dashboard.\n\nYour key carries your org and user identity. No extra headers needed."
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Platform API key for internal/admin operations.\n\nUsed for cold-start operations (e.g. template deployment) where no user session exists."
      }
    },
    "schemas": {
      "ApiInfoResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "docs": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "version",
          "docs"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service",
          "version"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "error"
        ]
      },
      "LeaderboardResponse": {
        "type": "object",
        "properties": {
          "brands": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "brandId": {
                  "type": "string",
                  "nullable": true
                },
                "brandUrl": {
                  "type": "string",
                  "nullable": true
                },
                "brandDomain": {
                  "type": "string",
                  "nullable": true
                },
                "emailsSent": {
                  "type": "number"
                },
                "emailsOpened": {
                  "type": "number"
                },
                "emailsClicked": {
                  "type": "number"
                },
                "emailsReplied": {
                  "type": "number"
                },
                "totalCostUsdCents": {
                  "type": "number"
                },
                "openRate": {
                  "type": "number"
                },
                "clickRate": {
                  "type": "number"
                },
                "replyRate": {
                  "type": "number"
                },
                "costPerOpenCents": {
                  "type": "number",
                  "nullable": true
                },
                "costPerClickCents": {
                  "type": "number",
                  "nullable": true
                },
                "costPerReplyCents": {
                  "type": "number",
                  "nullable": true
                }
              },
              "required": [
                "brandId",
                "brandUrl",
                "brandDomain",
                "emailsSent",
                "emailsOpened",
                "emailsClicked",
                "emailsReplied",
                "totalCostUsdCents",
                "openRate",
                "clickRate",
                "replyRate",
                "costPerOpenCents",
                "costPerClickCents",
                "costPerReplyCents"
              ]
            }
          },
          "workflows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "workflowName": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "signatureName": {
                  "type": "string",
                  "nullable": true
                },
                "category": {
                  "type": "string",
                  "nullable": true
                },
                "sectionKey": {
                  "type": "string",
                  "nullable": true
                },
                "runCount": {
                  "type": "number"
                },
                "emailsSent": {
                  "type": "number"
                },
                "emailsOpened": {
                  "type": "number"
                },
                "emailsClicked": {
                  "type": "number"
                },
                "emailsReplied": {
                  "type": "number"
                },
                "repliesInterested": {
                  "type": "number"
                },
                "recipients": {
                  "type": "number"
                },
                "totalCostUsdCents": {
                  "type": "number"
                },
                "openRate": {
                  "type": "number"
                },
                "clickRate": {
                  "type": "number"
                },
                "replyRate": {
                  "type": "number"
                },
                "interestedRate": {
                  "type": "number"
                },
                "costPerOpenCents": {
                  "type": "number",
                  "nullable": true
                },
                "costPerClickCents": {
                  "type": "number",
                  "nullable": true
                },
                "costPerReplyCents": {
                  "type": "number",
                  "nullable": true
                }
              },
              "required": [
                "workflowName",
                "displayName",
                "signatureName",
                "category",
                "sectionKey",
                "runCount",
                "emailsSent",
                "emailsOpened",
                "emailsClicked",
                "emailsReplied",
                "repliesInterested",
                "recipients",
                "totalCostUsdCents",
                "openRate",
                "clickRate",
                "replyRate",
                "interestedRate",
                "costPerOpenCents",
                "costPerClickCents",
                "costPerReplyCents"
              ]
            }
          },
          "hero": {
            "type": "object",
            "nullable": true,
            "properties": {
              "bestCostPerOpen": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "brandDomain": {
                    "type": "string",
                    "nullable": true
                  },
                  "costPerOpenCents": {
                    "type": "number"
                  }
                },
                "required": [
                  "brandDomain",
                  "costPerOpenCents"
                ]
              },
              "bestCostPerReply": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "brandDomain": {
                    "type": "string",
                    "nullable": true
                  },
                  "costPerReplyCents": {
                    "type": "number"
                  }
                },
                "required": [
                  "brandDomain",
                  "costPerReplyCents"
                ]
              }
            },
            "required": [
              "bestCostPerOpen",
              "bestCostPerReply"
            ]
          },
          "updatedAt": {
            "type": "string"
          },
          "availableCategories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "categorySections": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string"
                },
                "sectionKey": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "stats": {
                  "type": "object",
                  "properties": {
                    "emailsSent": {
                      "type": "number"
                    },
                    "emailsOpened": {
                      "type": "number"
                    },
                    "emailsReplied": {
                      "type": "number"
                    },
                    "repliesInterested": {
                      "type": "number"
                    },
                    "recipients": {
                      "type": "number"
                    },
                    "totalCostUsdCents": {
                      "type": "number"
                    },
                    "openRate": {
                      "type": "number"
                    },
                    "replyRate": {
                      "type": "number"
                    },
                    "interestedRate": {
                      "type": "number"
                    },
                    "costPerOpenCents": {
                      "type": "number",
                      "nullable": true
                    },
                    "costPerReplyCents": {
                      "type": "number",
                      "nullable": true
                    }
                  },
                  "required": [
                    "emailsSent",
                    "emailsOpened",
                    "emailsReplied",
                    "repliesInterested",
                    "recipients",
                    "totalCostUsdCents",
                    "openRate",
                    "replyRate",
                    "interestedRate",
                    "costPerOpenCents",
                    "costPerReplyCents"
                  ]
                },
                "workflows": {
                  "type": "array",
                  "items": {
                    "nullable": true
                  }
                },
                "brands": {
                  "type": "array",
                  "items": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "category",
                "sectionKey",
                "label",
                "stats",
                "workflows",
                "brands"
              ]
            }
          }
        },
        "required": [
          "brands",
          "workflows",
          "hero",
          "updatedAt",
          "availableCategories",
          "categorySections"
        ]
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "authType": {
            "type": "string",
            "enum": [
              "user_key",
              "admin"
            ]
          }
        }
      },
      "CreateCampaignRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Campaign name"
          },
          "workflowName": {
            "type": "string",
            "minLength": 1,
            "description": "Workflow name (e.g. 'sales-email-cold-outreach-sienna'). Determines which execution pipeline to use."
          },
          "brandUrl": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL"
          },
          "targetAudience": {
            "type": "string",
            "minLength": 1,
            "description": "Plain text description of who to target (e.g. 'CTOs at SaaS startups with 10-50 employees in the US')"
          },
          "targetOutcome": {
            "type": "string",
            "minLength": 1,
            "description": "What you want to achieve (e.g. 'Book sales demos', 'Recruit community ambassadors')"
          },
          "valueForTarget": {
            "type": "string",
            "minLength": 1,
            "description": "What the target audience gains from responding"
          },
          "urgency": {
            "type": "string",
            "minLength": 1,
            "description": "Time-based constraint that motivates action now (e.g. 'Recruitment closes in 30 days', 'Price doubles after March 1st')"
          },
          "scarcity": {
            "type": "string",
            "minLength": 1,
            "description": "Supply-based constraint on availability (e.g. 'Only 10 spots available worldwide', 'Limited to 50 participants')"
          },
          "riskReversal": {
            "type": "string",
            "minLength": 1,
            "description": "Guarantee or safety net that removes risk for the prospect (e.g. 'Free trial for 2 weeks, no commitment', 'Phone screening call before any obligation')"
          },
          "socialProof": {
            "type": "string",
            "minLength": 1,
            "description": "Evidence of credibility and traction (e.g. 'Backed by 60 sponsors including X, Y, Z', '500+ companies already onboarded')"
          },
          "maxBudgetDailyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max daily budget in USD"
          },
          "maxBudgetWeeklyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max weekly budget in USD"
          },
          "maxBudgetMonthlyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max monthly budget in USD"
          },
          "maxBudgetTotalUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max total budget in USD"
          },
          "maxLeads": {
            "type": "integer",
            "description": "Maximum number of leads to contact"
          },
          "endDate": {
            "type": "string",
            "description": "Campaign end date"
          }
        },
        "required": [
          "name",
          "workflowName",
          "brandUrl",
          "targetAudience",
          "targetOutcome",
          "valueForTarget",
          "urgency",
          "scarcity",
          "riskReversal",
          "socialProof"
        ]
      },
      "CampaignStatsResponse": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "leadsServed": {
            "type": "number"
          },
          "leadsBuffered": {
            "type": "number"
          },
          "leadsSkipped": {
            "type": "number"
          },
          "apollo": {
            "type": "object",
            "properties": {
              "enrichedLeadsCount": {
                "type": "number"
              },
              "searchCount": {
                "type": "number"
              },
              "fetchedPeopleCount": {
                "type": "number"
              },
              "totalMatchingPeople": {
                "type": "number"
              }
            },
            "required": [
              "enrichedLeadsCount",
              "searchCount",
              "fetchedPeopleCount",
              "totalMatchingPeople"
            ]
          },
          "emailsGenerated": {
            "type": "number"
          },
          "totalCostUsd": {
            "type": "number"
          },
          "leadsContacted": {
            "type": "number",
            "description": "Count of unique leads that received at least one email"
          },
          "emailsContacted": {
            "type": "number",
            "description": "Leads successfully submitted to email provider (immediate)"
          },
          "emailsSent": {
            "type": "number",
            "description": "Emails confirmed sent by provider (from webhook)"
          },
          "emailsDelivered": {
            "type": "number",
            "description": "Emails confirmed delivered (from webhook)"
          },
          "emailsOpened": {
            "type": "number"
          },
          "emailsClicked": {
            "type": "number"
          },
          "emailsReplied": {
            "type": "number"
          },
          "emailsBounced": {
            "type": "number"
          },
          "repliesWillingToMeet": {
            "type": "number"
          },
          "repliesInterested": {
            "type": "number"
          },
          "repliesNotInterested": {
            "type": "number"
          },
          "repliesOutOfOffice": {
            "type": "number"
          },
          "repliesUnsubscribe": {
            "type": "number"
          },
          "totalCostInUsdCents": {
            "type": "string",
            "nullable": true,
            "description": "Total cost from campaign-service budget tracking"
          },
          "costBreakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "costName": {
                  "type": "string"
                },
                "totalCostInUsdCents": {
                  "type": "string"
                },
                "actualCostInUsdCents": {
                  "type": "string"
                },
                "provisionedCostInUsdCents": {
                  "type": "string"
                },
                "totalQuantity": {
                  "type": "string"
                }
              },
              "required": [
                "costName",
                "totalCostInUsdCents",
                "actualCostInUsdCents",
                "provisionedCostInUsdCents",
                "totalQuantity"
              ]
            },
            "description": "Per-cost-name breakdown from runs-service"
          }
        },
        "required": [
          "campaignId",
          "leadsServed",
          "leadsBuffered",
          "leadsSkipped",
          "emailsGenerated",
          "leadsContacted",
          "emailsContacted",
          "emailsSent",
          "emailsOpened",
          "emailsClicked",
          "emailsReplied",
          "emailsBounced"
        ]
      },
      "CampaignsBatchStatsResponse": {
        "type": "object",
        "properties": {
          "campaigns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "campaignId": {
                  "type": "string"
                },
                "leadsServed": {
                  "type": "number"
                },
                "leadsBuffered": {
                  "type": "number"
                },
                "leadsSkipped": {
                  "type": "number"
                },
                "emailsGenerated": {
                  "type": "number"
                },
                "leadsContacted": {
                  "type": "number",
                  "description": "Count of unique leads that received at least one email"
                },
                "emailsContacted": {
                  "type": "number",
                  "description": "Leads successfully submitted to email provider (immediate)"
                },
                "emailsSent": {
                  "type": "number",
                  "description": "Emails confirmed sent by provider (from webhook)"
                },
                "emailsDelivered": {
                  "type": "number",
                  "description": "Emails confirmed delivered (from webhook)"
                },
                "emailsOpened": {
                  "type": "number"
                },
                "emailsClicked": {
                  "type": "number"
                },
                "emailsReplied": {
                  "type": "number"
                },
                "emailsBounced": {
                  "type": "number"
                },
                "repliesWillingToMeet": {
                  "type": "number"
                },
                "repliesInterested": {
                  "type": "number"
                },
                "repliesNotInterested": {
                  "type": "number"
                },
                "repliesOutOfOffice": {
                  "type": "number"
                },
                "repliesUnsubscribe": {
                  "type": "number"
                },
                "totalCostInUsdCents": {
                  "type": "string",
                  "nullable": true
                },
                "runCount": {
                  "type": "number"
                }
              },
              "required": [
                "campaignId",
                "leadsServed",
                "leadsBuffered",
                "leadsSkipped",
                "emailsGenerated",
                "leadsContacted",
                "emailsContacted",
                "emailsSent",
                "emailsDelivered",
                "emailsOpened",
                "emailsClicked",
                "emailsReplied",
                "emailsBounced",
                "repliesWillingToMeet",
                "repliesInterested",
                "repliesNotInterested",
                "repliesOutOfOffice",
                "repliesUnsubscribe",
                "totalCostInUsdCents",
                "runCount"
              ]
            }
          }
        },
        "required": [
          "campaigns"
        ]
      },
      "RunCostData": {
        "type": "object",
        "nullable": true,
        "properties": {
          "status": {
            "type": "string",
            "description": "Run status (e.g. completed, failed)"
          },
          "startedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO timestamp when the run started"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO timestamp when the run completed"
          },
          "totalCostInUsdCents": {
            "type": "string",
            "nullable": true,
            "description": "Total cost in USD cents"
          },
          "costs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "costName": {
                  "type": "string"
                },
                "totalCostInUsdCents": {
                  "type": "string"
                },
                "actualCostInUsdCents": {
                  "type": "string"
                },
                "provisionedCostInUsdCents": {
                  "type": "string"
                },
                "quantity": {
                  "type": "number"
                }
              },
              "required": [
                "costName",
                "totalCostInUsdCents",
                "actualCostInUsdCents",
                "provisionedCostInUsdCents",
                "quantity"
              ]
            },
            "description": "Per-cost-name breakdown"
          },
          "serviceName": {
            "type": "string",
            "nullable": true
          },
          "taskName": {
            "type": "string",
            "nullable": true
          },
          "descendantRuns": {
            "type": "array",
            "items": {
              "nullable": true
            },
            "description": "Child runs"
          }
        },
        "required": [
          "status",
          "startedAt",
          "completedAt",
          "totalCostInUsdCents",
          "costs",
          "serviceName",
          "taskName",
          "descendantRuns"
        ],
        "description": "Enrichment run cost data, null if no run"
      },
      "CampaignLeadsResponse": {
        "type": "object",
        "properties": {
          "leads": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "externalId": {
                  "type": "string",
                  "nullable": true
                },
                "firstName": {
                  "type": "string",
                  "nullable": true
                },
                "lastName": {
                  "type": "string",
                  "nullable": true
                },
                "emailStatus": {
                  "type": "string",
                  "nullable": true
                },
                "title": {
                  "type": "string",
                  "nullable": true
                },
                "organizationName": {
                  "type": "string",
                  "nullable": true
                },
                "organizationDomain": {
                  "type": "string",
                  "nullable": true
                },
                "organizationIndustry": {
                  "type": "string",
                  "nullable": true
                },
                "organizationSize": {
                  "type": "string",
                  "nullable": true
                },
                "linkedinUrl": {
                  "type": "string",
                  "nullable": true
                },
                "status": {
                  "type": "string",
                  "description": "Always 'contacted'"
                },
                "createdAt": {
                  "type": "string",
                  "nullable": true,
                  "description": "ISO timestamp (from lead-service servedAt)"
                },
                "enrichmentRunId": {
                  "type": "string",
                  "nullable": true
                },
                "enrichmentRun": {
                  "$ref": "#/components/schemas/RunCostData"
                }
              },
              "required": [
                "id",
                "email",
                "externalId",
                "firstName",
                "lastName",
                "emailStatus",
                "title",
                "organizationName",
                "organizationDomain",
                "organizationIndustry",
                "organizationSize",
                "linkedinUrl",
                "status",
                "createdAt",
                "enrichmentRunId",
                "enrichmentRun"
              ]
            }
          }
        },
        "required": [
          "leads"
        ]
      },
      "CampaignEmailsResponse": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Generation ID"
                },
                "campaignId": {
                  "type": "string"
                },
                "subject": {
                  "type": "string",
                  "nullable": true,
                  "description": "Email subject line"
                },
                "bodyHtml": {
                  "type": "string",
                  "nullable": true,
                  "description": "Email body as HTML"
                },
                "bodyText": {
                  "type": "string",
                  "nullable": true,
                  "description": "Email body as plain text"
                },
                "sequence": {
                  "type": "number",
                  "nullable": true,
                  "description": "Sequence number in the campaign"
                },
                "leadFirstName": {
                  "type": "string",
                  "nullable": true
                },
                "leadLastName": {
                  "type": "string",
                  "nullable": true
                },
                "leadCompany": {
                  "type": "string",
                  "nullable": true
                },
                "leadTitle": {
                  "type": "string",
                  "nullable": true
                },
                "leadIndustry": {
                  "type": "string",
                  "nullable": true
                },
                "clientCompanyName": {
                  "type": "string",
                  "nullable": true
                },
                "generationRunId": {
                  "type": "string",
                  "nullable": true
                },
                "createdAt": {
                  "type": "string",
                  "description": "ISO timestamp"
                },
                "generationRun": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/RunCostData"
                    },
                    {
                      "description": "Generation run cost data, null if no run"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "campaignId",
                "subject",
                "bodyHtml",
                "bodyText",
                "sequence",
                "leadFirstName",
                "leadLastName",
                "leadCompany",
                "leadTitle",
                "leadIndustry",
                "clientCompanyName",
                "generationRunId",
                "createdAt",
                "generationRun"
              ]
            }
          }
        },
        "required": [
          "emails"
        ]
      },
      "UpsertKeyRequest": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Provider name (e.g. openai, anthropic, stripe)"
          },
          "apiKey": {
            "type": "string",
            "description": "The API key value"
          }
        },
        "required": [
          "provider",
          "apiKey"
        ]
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name for the API key"
          }
        }
      },
      "LeadSearchRequest": {
        "type": "object",
        "properties": {
          "person_titles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Job titles to search for"
          },
          "organization_locations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Company locations filter"
          },
          "organization_industries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Industry tag IDs filter"
          },
          "organization_num_employees_ranges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Employee count ranges"
          },
          "per_page": {
            "type": "integer",
            "maximum": 100,
            "default": 10,
            "description": "Results per page (max 100)"
          }
        },
        "required": [
          "person_titles"
        ]
      },
      "QualifyRequest": {
        "type": "object",
        "properties": {
          "sourceService": {
            "type": "string",
            "default": "api",
            "description": "Source service identifier"
          },
          "sourceOrgId": {
            "type": "string",
            "description": "Organization ID (defaults to auth org)"
          },
          "sourceRefId": {
            "type": "string",
            "description": "Reference ID in the source system"
          },
          "fromEmail": {
            "type": "string",
            "minLength": 1,
            "description": "Sender email address"
          },
          "toEmail": {
            "type": "string",
            "minLength": 1,
            "description": "Recipient email address"
          },
          "subject": {
            "type": "string",
            "description": "Email subject line"
          },
          "bodyText": {
            "type": "string",
            "description": "Plain text email body"
          },
          "bodyHtml": {
            "type": "string",
            "description": "HTML email body"
          },
          "byokApiKey": {
            "type": "string",
            "description": "BYOK API key for AI provider"
          }
        },
        "required": [
          "fromEmail",
          "toEmail"
        ]
      },
      "BrandScrapeRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL to scrape"
          },
          "skipCache": {
            "type": "boolean",
            "description": "Skip cached results and force re-scrape"
          }
        },
        "required": [
          "url"
        ]
      },
      "IcpSuggestionRequest": {
        "type": "object",
        "properties": {
          "brandUrl": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL"
          }
        },
        "required": [
          "brandUrl"
        ]
      },
      "BrandUpsertRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL"
          }
        },
        "required": [
          "url"
        ]
      },
      "EmailGatewayStatsResponse": {
        "type": "object",
        "properties": {
          "emailsContacted": {
            "type": "number",
            "description": "Leads successfully submitted to email provider (immediate)"
          },
          "emailsSent": {
            "type": "number",
            "description": "Emails confirmed sent by provider (from webhook)"
          },
          "emailsDelivered": {
            "type": "number",
            "description": "Emails confirmed delivered (from webhook)"
          },
          "emailsOpened": {
            "type": "number"
          },
          "emailsClicked": {
            "type": "number"
          },
          "emailsReplied": {
            "type": "number"
          },
          "emailsBounced": {
            "type": "number"
          },
          "repliesWillingToMeet": {
            "type": "number"
          },
          "repliesInterested": {
            "type": "number"
          },
          "repliesNotInterested": {
            "type": "number"
          },
          "repliesOutOfOffice": {
            "type": "number"
          },
          "repliesUnsubscribe": {
            "type": "number"
          }
        },
        "required": [
          "emailsContacted",
          "emailsSent",
          "emailsDelivered",
          "emailsOpened",
          "emailsClicked",
          "emailsReplied",
          "emailsBounced",
          "repliesWillingToMeet",
          "repliesInterested",
          "repliesNotInterested",
          "repliesOutOfOffice",
          "repliesUnsubscribe"
        ]
      },
      "RunsCostStatsResponse": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dimensions": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "nullable": true
                  },
                  "description": "Dimension key-value pairs (e.g. { brandId: '...' })"
                },
                "totalCostInUsdCents": {
                  "type": "string"
                },
                "actualCostInUsdCents": {
                  "type": "string"
                },
                "provisionedCostInUsdCents": {
                  "type": "string"
                },
                "cancelledCostInUsdCents": {
                  "type": "string"
                },
                "runCount": {
                  "type": "number"
                },
                "totalQuantity": {
                  "type": "string",
                  "description": "Present when groupBy includes costName"
                }
              },
              "required": [
                "dimensions",
                "totalCostInUsdCents",
                "actualCostInUsdCents",
                "provisionedCostInUsdCents",
                "cancelledCostInUsdCents",
                "runCount"
              ]
            }
          }
        },
        "required": [
          "groups"
        ]
      },
      "BestWorkflowResponse": {
        "type": "object",
        "properties": {
          "workflow": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "category": {
                "type": "string"
              },
              "channel": {
                "type": "string"
              },
              "audienceType": {
                "type": "string"
              },
              "signature": {
                "type": "string"
              },
              "signatureName": {
                "type": "string"
              },
              "humanId": {
                "type": "string",
                "nullable": true,
                "description": "Human ID if styled after an expert"
              },
              "styleName": {
                "type": "string",
                "nullable": true,
                "description": "Base style name for versioning (e.g. 'hormozi')"
              }
            },
            "required": [
              "id",
              "name",
              "category",
              "channel",
              "audienceType",
              "signature",
              "signatureName",
              "humanId",
              "styleName"
            ]
          },
          "dag": {
            "type": "object",
            "properties": {
              "nodes": {
                "type": "array",
                "items": {
                  "nullable": true
                }
              },
              "edges": {
                "type": "array",
                "items": {
                  "nullable": true
                }
              }
            },
            "required": [
              "nodes",
              "edges"
            ]
          },
          "stats": {
            "type": "object",
            "properties": {
              "totalCostInUsdCents": {
                "type": "number"
              },
              "totalOutcomes": {
                "type": "number"
              },
              "costPerOutcome": {
                "type": "number"
              },
              "completedRuns": {
                "type": "number"
              }
            },
            "required": [
              "totalCostInUsdCents",
              "totalOutcomes",
              "costPerOutcome",
              "completedRuns"
            ]
          }
        },
        "required": [
          "workflow",
          "dag",
          "stats"
        ]
      },
      "GenerateWorkflowResponse": {
        "type": "object",
        "properties": {
          "workflow": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Workflow ID"
              },
              "name": {
                "type": "string",
                "description": "Auto-generated workflow name"
              },
              "category": {
                "type": "string",
                "description": "Workflow category"
              },
              "channel": {
                "type": "string",
                "description": "Communication channel"
              },
              "audienceType": {
                "type": "string",
                "description": "Audience type"
              },
              "signature": {
                "type": "string",
                "description": "SHA-256 hash of the canonical DAG"
              },
              "signatureName": {
                "type": "string",
                "description": "Human-readable name for this DAG variant"
              },
              "action": {
                "type": "string",
                "enum": [
                  "created",
                  "updated"
                ],
                "description": "Whether the workflow was created or updated"
              },
              "humanId": {
                "type": "string",
                "nullable": true,
                "description": "Human ID if styled after an expert"
              },
              "styleName": {
                "type": "string",
                "nullable": true,
                "description": "Base style name for versioning (e.g. 'hormozi')"
              }
            },
            "required": [
              "id",
              "name",
              "category",
              "channel",
              "audienceType",
              "signature",
              "signatureName",
              "action",
              "humanId",
              "styleName"
            ]
          },
          "dag": {
            "type": "object",
            "properties": {
              "nodes": {
                "type": "array",
                "items": {
                  "nullable": true
                },
                "description": "DAG nodes"
              },
              "edges": {
                "type": "array",
                "items": {
                  "nullable": true
                },
                "description": "DAG edges"
              }
            },
            "required": [
              "nodes",
              "edges"
            ]
          },
          "generatedDescription": {
            "type": "string",
            "description": "AI-generated description of the workflow"
          }
        },
        "required": [
          "workflow",
          "dag",
          "generatedDescription"
        ]
      },
      "WorkflowStyle": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "human",
              "brand"
            ],
            "description": "Style source type"
          },
          "humanId": {
            "type": "string",
            "description": "Human ID from human-service. Required when type is 'human'."
          },
          "brandId": {
            "type": "string",
            "description": "Brand ID from brand-service. Required when type is 'brand'."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Display name of the human or brand (e.g. 'Hormozi', 'My Brand')"
          }
        },
        "required": [
          "type",
          "name"
        ],
        "description": "Optional style configuration. When provided, the workflow is generated in the style of an industry expert or brand."
      },
      "GenerateWorkflowRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Natural language description of the desired workflow. Be specific about steps, services, and data flow."
          },
          "hints": {
            "type": "object",
            "properties": {
              "services": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Scope generation to these services"
              },
              "nodeTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Suggest specific node types"
              },
              "expectedInputs": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Expected flow_input field names (e.g. campaignId, email)"
              }
            },
            "description": "Optional hints to guide DAG generation"
          },
          "style": {
            "$ref": "#/components/schemas/WorkflowStyle"
          }
        },
        "required": [
          "description"
        ]
      },
      "ProviderInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Provider name (e.g. 'anthropic', 'apollo')"
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "Provider domain for logo display (e.g. 'anthropic.com'), null for internal services"
          }
        },
        "required": [
          "name",
          "domain"
        ]
      },
      "WorkflowSummaryResponse": {
        "type": "object",
        "properties": {
          "workflowName": {
            "type": "string",
            "description": "Workflow name"
          },
          "summary": {
            "type": "string",
            "description": "Natural-language summary of the workflow"
          },
          "requiredProviders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderInfo"
            },
            "description": "External providers required by this workflow, with domains for logo display"
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Ordered list of workflow steps in human-readable format"
          }
        },
        "required": [
          "workflowName",
          "summary",
          "requiredProviders",
          "steps"
        ]
      },
      "WorkflowKeyStatusItem": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Provider name (e.g. 'apollo', 'anthropic')"
          },
          "configured": {
            "type": "boolean",
            "description": "Whether a key is available for this provider (via platform or org key)"
          },
          "maskedKey": {
            "type": "string",
            "nullable": true,
            "description": "Masked org key value, or null if not configured"
          },
          "keySource": {
            "type": "string",
            "enum": [
              "org",
              "platform"
            ],
            "description": "Key source preference: 'platform' (default) or 'org' (BYOK)"
          }
        },
        "required": [
          "provider",
          "configured",
          "maskedKey",
          "keySource"
        ]
      },
      "WorkflowKeyStatusResponse": {
        "type": "object",
        "properties": {
          "workflowName": {
            "type": "string",
            "description": "Workflow name"
          },
          "ready": {
            "type": "boolean",
            "description": "True if all required provider keys are configured"
          },
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowKeyStatusItem"
            },
            "description": "Status of each required provider key"
          },
          "missing": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of provider names with missing keys"
          }
        },
        "required": [
          "workflowName",
          "ready",
          "keys",
          "missing"
        ]
      },
      "TemplateRef": {
        "type": "object",
        "properties": {
          "nodeId": {
            "type": "string",
            "description": "DAG node ID"
          },
          "templateType": {
            "type": "string",
            "description": "Prompt template type used by this node"
          },
          "variablesProvided": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Variable names the workflow provides to this node"
          }
        },
        "required": [
          "nodeId",
          "templateType",
          "variablesProvided"
        ]
      },
      "TemplateContractIssue": {
        "type": "object",
        "properties": {
          "nodeId": {
            "type": "string",
            "description": "DAG node ID that calls content-generation"
          },
          "templateType": {
            "type": "string",
            "description": "Prompt template type (e.g. 'cold-email')"
          },
          "field": {
            "type": "string",
            "description": "Variable name or template type"
          },
          "severity": {
            "type": "string",
            "enum": [
              "error",
              "warning"
            ],
            "description": "'error' = missing required variable, 'warning' = extra/unknown variable"
          },
          "reason": {
            "type": "string",
            "description": "Human-readable explanation of the issue"
          }
        },
        "required": [
          "nodeId",
          "templateType",
          "field",
          "severity",
          "reason"
        ]
      },
      "ValidationResult": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean",
            "description": "Whether the workflow DAG is valid"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "Field that caused the error"
                },
                "message": {
                  "type": "string",
                  "description": "Error description"
                }
              },
              "required": [
                "field",
                "message"
              ]
            },
            "description": "Structural validation errors"
          },
          "templateContract": {
            "type": "object",
            "properties": {
              "valid": {
                "type": "boolean",
                "description": "Whether all template contracts are satisfied"
              },
              "templateRefs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TemplateRef"
                },
                "description": "Content-generation template references found in the DAG"
              },
              "issues": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TemplateContractIssue"
                },
                "description": "Variable mismatches between workflow and prompt templates"
              }
            },
            "required": [
              "valid",
              "templateRefs",
              "issues"
            ],
            "description": "Template contract validation result. Present when content-generation service is reachable."
          }
        },
        "required": [
          "valid"
        ]
      },
      "DAGNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique node identifier within the DAG"
          },
          "type": {
            "type": "string",
            "description": "Node type (e.g. 'http.call', 'condition', 'wait', 'for-each', 'script')"
          },
          "config": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Node-specific configuration"
          },
          "inputMapping": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Maps input variables to this node"
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "DAGEdge": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Source node ID"
          },
          "to": {
            "type": "string",
            "description": "Target node ID"
          }
        },
        "required": [
          "from",
          "to"
        ]
      },
      "DAG": {
        "type": "object",
        "properties": {
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DAGNode"
            },
            "minItems": 1,
            "description": "The steps of the workflow. Must contain at least one node."
          },
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DAGEdge"
            },
            "description": "Execution order between nodes. Empty array for single-node workflows."
          },
          "onError": {
            "type": "string",
            "description": "Node ID of an error handler that runs when any node fails"
          }
        },
        "required": [
          "nodes",
          "edges"
        ],
        "description": "Updated DAG definition"
      },
      "UpdateWorkflowRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Workflow name"
          },
          "description": {
            "type": "string",
            "description": "Workflow description"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags for filtering/grouping"
          },
          "dag": {
            "$ref": "#/components/schemas/DAG"
          }
        }
      },
      "PromptResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prompt ID"
          },
          "type": {
            "type": "string",
            "description": "Prompt type identifier (e.g. 'cold-email', 'cold-email-v2')"
          },
          "prompt": {
            "type": "string",
            "description": "Prompt template text with {{variable}} placeholders"
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of expected variable names used in the prompt"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 last-updated timestamp"
          }
        },
        "required": [
          "id",
          "type",
          "prompt",
          "variables",
          "createdAt",
          "updatedAt"
        ]
      },
      "VersionPromptRequest": {
        "type": "object",
        "properties": {
          "sourceType": {
            "type": "string",
            "minLength": 1,
            "description": "The type of the prompt to create a new version from (e.g. 'cold-email')"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "description": "New prompt template text with {{variable}} placeholders. Must NOT contain company-specific data."
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "List of expected variable names used in the prompt"
          }
        },
        "required": [
          "sourceType",
          "prompt",
          "variables"
        ]
      },
      "ActivityResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        },
        "required": [
          "ok"
        ]
      },
      "ChatConfigRequest": {
        "type": "object",
        "properties": {
          "systemPrompt": {
            "type": "string",
            "minLength": 1,
            "description": "System prompt for the AI assistant"
          }
        },
        "required": [
          "systemPrompt"
        ]
      },
      "ChatMessageRequest": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1,
            "description": "The user's chat message"
          },
          "sessionId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of an existing session to continue. Omit to create a new session. When omitted, the service creates a new session and returns its ID in the first SSE event ({\"sessionId\":\"<uuid>\"}). Use that ID in subsequent requests to continue the conversation. If a sessionId is provided but does not exist or belongs to a different org, the stream returns a \"Session not found.\" error and closes."
          },
          "context": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Free-form JSON injected into the system prompt for this request only (not stored). Use this to pass dynamic data like workflow IDs, brand URLs, campaign objectives, etc."
          }
        },
        "required": [
          "message"
        ]
      },
      "PlatformKeyRequest": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "minLength": 1,
            "description": "Provider name (e.g. 'anthropic', 'stripe')"
          },
          "apiKey": {
            "type": "string",
            "minLength": 1,
            "description": "The API key value"
          }
        },
        "required": [
          "provider",
          "apiKey"
        ]
      },
      "PlatformPromptRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "minLength": 1,
            "description": "Prompt type (e.g. 'cold-email')"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "description": "The prompt template text"
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Template variable names (e.g. ['leadFirstName', 'leadLastName'])"
          }
        },
        "required": [
          "type",
          "prompt",
          "variables"
        ]
      },
      "PlatformChatConfigRequest": {
        "type": "object",
        "properties": {
          "systemPrompt": {
            "type": "string",
            "minLength": 1,
            "description": "System prompt for the AI assistant"
          }
        },
        "required": [
          "systemPrompt"
        ]
      },
      "SwitchBillingModeRequest": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "byok",
              "payg"
            ],
            "description": "Billing mode to switch to"
          },
          "reload_amount_cents": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Auto-reload amount in cents (for payg mode)"
          }
        },
        "required": [
          "mode"
        ]
      },
      "DeductCreditsRequest": {
        "type": "object",
        "properties": {
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Amount to deduct in cents"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "description": "Reason for the deduction"
          },
          "user_id": {
            "type": "string",
            "format": "uuid",
            "description": "User ID"
          }
        },
        "required": [
          "amount_cents",
          "description"
        ]
      },
      "CreateCheckoutSessionRequest": {
        "type": "object",
        "properties": {
          "success_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect after successful payment"
          },
          "cancel_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect on cancellation"
          },
          "reload_amount_cents": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Amount to reload in cents"
          }
        },
        "required": [
          "success_url",
          "cancel_url",
          "reload_amount_cents"
        ]
      },
      "SendEmailRequest": {
        "type": "object",
        "properties": {
          "eventType": {
            "type": "string",
            "minLength": 1,
            "description": "Event type determining which template to use (e.g. 'webinar_welcome', 'j_minus_1')"
          },
          "recipientEmail": {
            "type": "string",
            "format": "email",
            "description": "Direct recipient email (fallback when no userId on the key)"
          },
          "brandId": {
            "type": "string",
            "description": "Brand ID for tracking"
          },
          "campaignId": {
            "type": "string",
            "description": "Campaign ID for tracking"
          },
          "productId": {
            "type": "string",
            "description": "Product/instance ID for product-scoped dedup (e.g. webinar ID)"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Template variables for {{variable}} interpolation"
          }
        },
        "required": [
          "eventType"
        ]
      },
      "TransactionalEmailStatsResponse": {
        "type": "object",
        "properties": {
          "stats": {
            "type": "object",
            "properties": {
              "totalEmails": {
                "type": "number",
                "description": "Total email events"
              },
              "sent": {
                "type": "number",
                "description": "Successfully sent"
              },
              "failed": {
                "type": "number",
                "description": "Failed to send"
              }
            },
            "required": [
              "totalEmails",
              "sent",
              "failed"
            ]
          }
        },
        "required": [
          "stats"
        ]
      },
      "DeployEmailTemplatesRequest": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Template name (unique per app)"
                },
                "subject": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Email subject line"
                },
                "htmlBody": {
                  "type": "string",
                  "minLength": 1,
                  "description": "HTML body with {{variable}} interpolation"
                },
                "textBody": {
                  "type": "string",
                  "description": "Plain text body (optional)"
                },
                "from": {
                  "type": "string",
                  "description": "Sender address, e.g. \"Display Name <email@domain.com>\""
                },
                "messageStream": {
                  "type": "string",
                  "description": "Postmark message stream ID, e.g. \"outbound\" or \"broadcast\""
                }
              },
              "required": [
                "name",
                "subject",
                "htmlBody"
              ]
            },
            "minItems": 1,
            "description": "Templates to deploy"
          }
        },
        "required": [
          "templates"
        ]
      },
      "CreateStripeProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Product name"
          },
          "description": {
            "type": "string",
            "description": "Product description"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Arbitrary key-value metadata"
          }
        },
        "required": [
          "name"
        ]
      },
      "CreateStripePriceRequest": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "minLength": 1,
            "description": "Stripe product ID"
          },
          "unitAmountCents": {
            "type": "integer",
            "minimum": 0,
            "description": "Price in cents"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "default": "usd",
            "description": "ISO 4217 currency code"
          },
          "recurring": {
            "type": "object",
            "properties": {
              "interval": {
                "type": "string",
                "enum": [
                  "day",
                  "week",
                  "month",
                  "year"
                ],
                "description": "Billing interval"
              }
            },
            "required": [
              "interval"
            ],
            "description": "Recurring pricing config (omit for one-time)"
          }
        },
        "required": [
          "productId",
          "unitAmountCents"
        ]
      },
      "CreateStripeCouponRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Custom coupon ID (auto-generated if omitted)"
          },
          "percentOff": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Percent discount (0-100)"
          },
          "amountOffCents": {
            "type": "integer",
            "minimum": 0,
            "description": "Fixed discount in cents"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "description": "Currency for amountOff (required if amountOff is set)"
          },
          "duration": {
            "type": "string",
            "enum": [
              "once",
              "repeating",
              "forever"
            ],
            "description": "How long the coupon applies"
          },
          "durationInMonths": {
            "type": "integer",
            "minimum": 1,
            "description": "Months for 'repeating' duration"
          }
        },
        "required": [
          "duration"
        ]
      },
      "CreateStripeCheckoutRequest": {
        "type": "object",
        "properties": {
          "lineItems": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "priceId": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Stripe price ID"
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1,
                  "default": 1,
                  "description": "Quantity"
                }
              },
              "required": [
                "priceId"
              ]
            },
            "minItems": 1,
            "description": "Line items for checkout"
          },
          "mode": {
            "type": "string",
            "enum": [
              "payment",
              "subscription"
            ],
            "default": "payment",
            "description": "Checkout mode"
          },
          "successUrl": {
            "type": "string",
            "format": "uri",
            "description": "Redirect URL after success"
          },
          "cancelUrl": {
            "type": "string",
            "format": "uri",
            "description": "Redirect URL after cancel"
          },
          "customerEmail": {
            "type": "string",
            "format": "email",
            "description": "Pre-fill customer email"
          },
          "customerId": {
            "type": "string",
            "description": "Existing Stripe customer ID"
          },
          "discounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "couponId": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Stripe coupon ID"
                }
              },
              "required": [
                "couponId"
              ]
            },
            "description": "Coupons to apply"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Metadata for the checkout session"
          }
        },
        "required": [
          "lineItems",
          "successUrl",
          "cancelUrl"
        ]
      },
      "StripeStatsResponse": {
        "type": "object",
        "properties": {
          "totalPayments": {
            "type": "number",
            "description": "Total number of payments"
          },
          "totalAmountInCents": {
            "type": "number",
            "description": "Total payment amount in cents"
          },
          "successCount": {
            "type": "number",
            "description": "Successful payments"
          },
          "failureCount": {
            "type": "number",
            "description": "Failed payments"
          },
          "refundCount": {
            "type": "number",
            "description": "Refunded payments"
          },
          "disputeCount": {
            "type": "number",
            "description": "Disputed payments"
          }
        },
        "required": [
          "totalPayments",
          "totalAmountInCents",
          "successCount",
          "failureCount",
          "refundCount",
          "disputeCount"
        ]
      },
      "ResolveUserResponse": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "format": "uuid",
            "description": "Internal organization UUID"
          },
          "userId": {
            "type": "string",
            "format": "uuid",
            "description": "Internal user UUID"
          },
          "orgCreated": {
            "type": "boolean",
            "description": "Whether a new org was created"
          },
          "userCreated": {
            "type": "boolean",
            "description": "Whether a new user was created"
          }
        },
        "required": [
          "orgId",
          "userId",
          "orgCreated",
          "userCreated"
        ]
      },
      "ResolveUserRequest": {
        "type": "object",
        "properties": {
          "externalOrgId": {
            "type": "string",
            "minLength": 1,
            "description": "External organization ID from identity provider"
          },
          "externalUserId": {
            "type": "string",
            "minLength": 1,
            "description": "External user ID — use a generated UUID for anonymous users"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "firstName": {
            "type": "string",
            "description": "User first name"
          },
          "lastName": {
            "type": "string",
            "description": "User last name"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "User avatar URL"
          }
        },
        "required": [
          "externalOrgId",
          "externalUserId"
        ]
      },
      "ListUsersUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Internal user UUID"
          },
          "externalId": {
            "type": "string",
            "description": "External user ID from identity provider"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "User email address"
          },
          "firstName": {
            "type": "string",
            "nullable": true,
            "description": "User first name"
          },
          "lastName": {
            "type": "string",
            "nullable": true,
            "description": "User last name"
          },
          "imageUrl": {
            "type": "string",
            "nullable": true,
            "description": "User avatar URL"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "User phone number"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO timestamp of user creation"
          }
        },
        "required": [
          "id",
          "externalId",
          "email",
          "firstName",
          "lastName",
          "imageUrl",
          "phone",
          "createdAt"
        ]
      },
      "ListUsersResponse": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListUsersUser"
            },
            "description": "List of users"
          },
          "total": {
            "type": "integer",
            "description": "Total number of users matching the query"
          },
          "limit": {
            "type": "integer",
            "description": "Limit used for this page"
          },
          "offset": {
            "type": "integer",
            "description": "Offset used for this page"
          }
        },
        "required": [
          "users",
          "total",
          "limit",
          "offset"
        ]
      },
      "PlatformService": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Service name (e.g. 'lead', 'campaign')"
          },
          "baseUrl": {
            "type": "string",
            "description": "Service base URL"
          },
          "openapiUrl": {
            "type": "string",
            "description": "URL to the service's OpenAPI spec"
          }
        },
        "required": [
          "name",
          "baseUrl",
          "openapiUrl"
        ]
      },
      "PlatformServicesResponse": {
        "type": "object",
        "properties": {
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformService"
            },
            "description": "List of registered platform services"
          }
        },
        "required": [
          "services"
        ]
      },
      "OpenApiSpec": {
        "type": "object",
        "properties": {}
      },
      "LlmEndpointSummary": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "description": "HTTP method"
          },
          "path": {
            "type": "string",
            "description": "Endpoint path"
          },
          "summary": {
            "type": "string",
            "description": "Endpoint summary"
          },
          "params": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "required": {
                  "type": "boolean"
                }
              },
              "required": [
                "name",
                "in",
                "required"
              ]
            },
            "description": "Endpoint parameters"
          },
          "bodyFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Request body field names"
          }
        },
        "required": [
          "method",
          "path",
          "summary"
        ]
      },
      "LlmServiceSummary": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string",
            "description": "Service name"
          },
          "baseUrl": {
            "type": "string",
            "description": "Service base URL"
          },
          "title": {
            "type": "string",
            "description": "Service title"
          },
          "description": {
            "type": "string",
            "description": "Service description"
          },
          "endpoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LlmEndpointSummary"
            },
            "description": "Available endpoints"
          }
        },
        "required": [
          "service",
          "baseUrl",
          "endpoints"
        ]
      },
      "LlmContextResponse": {
        "type": "object",
        "properties": {
          "_description": {
            "type": "string",
            "description": "Description of this context payload"
          },
          "_usage": {
            "type": "string",
            "description": "Usage instructions for LLMs"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LlmServiceSummary"
            },
            "description": "All platform services with their endpoints"
          }
        },
        "required": [
          "_description",
          "_usage",
          "services"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "API info",
        "description": "Returns API name, version, and docs URL",
        "responses": {
          "200": {
            "description": "API information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "description": "Returns service health status",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/debug/config": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Debug configuration",
        "description": "Returns debug info about external service configuration",
        "responses": {
          "200": {
            "description": "Debug configuration data"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "OpenAPI specification",
        "description": "Returns the OpenAPI 3.0 JSON spec for this service",
        "responses": {
          "200": {
            "description": "OpenAPI 3.0 specification"
          },
          "404": {
            "description": "Spec not generated yet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/stats/leaderboard": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get performance leaderboard",
        "description": "Returns performance leaderboard data including brands, workflows, and hero stats. Requires authentication.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard data with brands, workflows, and hero stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-campaign-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Campaign ID. Automatically injected by workflow-service on workflow HTTP calls. Optional — forwarded to downstream services for tracking."
          },
          {
            "name": "x-brand-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Brand ID. Automatically injected by workflow-service on workflow HTTP calls. Optional — forwarded to downstream services for tracking."
          },
          {
            "name": "x-workflow-name",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Workflow name. Automatically injected by workflow-service on workflow HTTP calls. Optional — forwarded to downstream services for tracking."
          }
        ]
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get current user info",
        "description": "Returns the authenticated user and organization details",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user and org info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-campaign-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Campaign ID. Automatically injected by workflow-service on workflow HTTP calls. Optional — forwarded to downstream services for tracking."
          },
          {
            "name": "x-brand-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Brand ID. Automatically injected by workflow-service on workflow HTTP calls. Optional — forwarded to downstream services for tracking."
          },
          {
            "name": "x-workflow-name",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Workflow name. Automatically injected by workflow-service on workflow HTTP calls. Optional — forwarded to downstream services for tracking."
          }
        ]
      }
    },
    "/v1/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List campaigns",
        "description": "List all campaigns for the organization, optionally filtered by brand ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Filter by brand ID"
            },
            "required": false,
            "description": "Filter by brand ID",
            "name": "brandId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by status (e.g. 'active', 'stopped', 'all')"
            },
            "required": false,
            "description": "Filter by status (e.g. 'active', 'stopped', 'all')",
            "name": "status",
            "in": "query"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-campaign-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Campaign ID. Automatically injected by workflow-service on workflow HTTP calls. Optional — forwarded to downstream services for tracking."
          },
          {
            "name": "x-brand-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Brand ID. Automatically injected by workflow-service on workflow HTTP calls. Optional — forwarded to downstream services for tracking."
          },
          {
            "name": "x-workflow-name",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Workflow name. Automatically injected by workflow-service on workflow HTTP calls. Optional — forwarded to downstream services for tracking."
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create a campaign",
        "description": "Create a new outreach campaign. The `workflowName` field determines which execution pipeline campaign-service uses.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created campaign"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-campaign-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Campaign ID. Automatically injected by workflow-service on workflow HTTP calls. Optional — forwarded to downstream services for tracking."
          },
          {
            "name": "x-brand-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Brand ID. Automatically injected by workflow-service on workflow HTTP calls. Optional — forwarded to downstream services for tracking."
          },
          {
            "name": "x-workflow-name",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Workflow name. Automatically injected by workflow-service on workflow HTTP calls. Optional — forwarded to downstream services for tracking."
          }
        ]
      }
    },
    "/v1/campaigns/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get a campaign",
        "description": "Get a specific campaign by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-campaign-id",
            "in": "header",
            "required": false,
[...]
