{
  "openapi": "3.0.0",
  "info": {
    "title": "distribute API",
    "description": "API Gateway for distribute. Handles authentication, proxies to internal services, and exposes the public REST API.\n\n## Authentication\n\nAll authenticated endpoints require a Bearer token in the `Authorization` header.\n\nThere are two key types, each with different identity resolution behavior:\n\n### 1. User key (`mcpf_*`)\n\nIssued per-user via `POST /v1/api-keys`. The key already carries the user's internal org UUID — no extra headers needed.\n\n```\nAuthorization: Bearer mcpf_abc123...\n```\n\n### 2. App key (`mcpf_app_*`)\n\nIssued when an app registers via `POST /v1/apps/register`. The key identifies the **app**, not a user or org. To access endpoints that require org/user context (campaigns, keys, activity, etc.), you must also send two identity headers:\n\n| Header | Description | Example |\n|--------|-------------|---------|\n| `x-org-id` | External organization ID (e.g. Clerk org ID) | `org_2xyz...` |\n| `x-user-id` | External user ID (e.g. Clerk user ID) | `user_2abc...` |\n\n```\nAuthorization: Bearer mcpf_app_abc123...\nx-org-id: org_2xyzABC\nx-user-id: user_2abcDEF\n```\n\nThe API service resolves these external IDs to internal UUIDs via `client-service`. Both headers are **optional** — if omitted, the request proceeds without org/user context, which is fine for endpoints that only need app-level auth (e.g. `GET /v1/me`). But endpoints that require org context (e.g. `GET /v1/campaigns`) will return `400 Organization context required`.\n\n### Error codes\n\n| Code | Meaning |\n|------|---------|\n| 401 | Missing or invalid Bearer token |\n| 400 | Org context required but `x-org-id` header not provided (app key only) |\n| 401 | User identity required but `x-user-id` header not provided (app key only) |\n| 502 | Identity resolution failed (client-service unreachable) |\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.distribute.you"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check and debug endpoints"
    },
    {
      "name": "Apps",
      "description": "App registration"
    },
    {
      "name": "Performance",
      "description": "Public performance leaderboard"
    },
    {
      "name": "User",
      "description": "Current user information"
    },
    {
      "name": "Campaigns",
      "description": "Campaign management"
    },
    {
      "name": "Keys",
      "description": "BYOK key management"
    },
    {
      "name": "API Keys",
      "description": "API key management"
    },
    {
      "name": "Leads",
      "description": "Lead search"
    },
    {
      "name": "Qualify",
      "description": "Email reply qualification"
    },
    {
      "name": "Brand",
      "description": "Brand scraping and management"
    },
    {
      "name": "Activity",
      "description": "User activity tracking"
    },
    {
      "name": "Chat",
      "description": "AI chat with SSE streaming"
    },
    {
      "name": "Billing",
      "description": "Billing, credits, and checkout"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Two key types are supported:\n\n- **User key** (`mcpf_usr_*`): carries app, org, and user context. No extra headers needed. Recommended for API/MCP access.\n- **App key** (`mcpf_app_*`): identifies the app only (server-to-server). To access endpoints that require org/user context, also send `x-org-id` and `x-user-id` headers with your external IDs (e.g. Clerk IDs). The API resolves them to internal UUIDs via client-service.\n\nSee the top-level API description for full details and examples."
      }
    },
    "schemas": {
      "ApiInfoResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "docs": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "version",
          "docs"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service",
          "version"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "error"
        ]
      },
      "RegisterAppResponse": {
        "type": "object",
        "properties": {
          "appId": {
            "type": "string",
            "description": "The registered app ID"
          },
          "apiKey": {
            "type": "string",
            "description": "API key (only returned on first creation — save it)"
          },
          "message": {
            "type": "string",
            "description": "Status message"
          }
        },
        "required": [
          "appId"
        ]
      },
      "RegisterAppRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[a-z0-9-]+$",
            "description": "Unique app name (lowercase, alphanumeric with hyphens)"
          }
        },
        "required": [
          "name"
        ]
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "authType": {
            "type": "string",
            "enum": [
              "app_key",
              "user_key"
            ]
          }
        }
      },
      "CreateCampaignRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Campaign name"
          },
          "workflowName": {
            "type": "string",
            "minLength": 1,
            "description": "Workflow name (e.g. 'sales-email-cold-outreach-sienna'). Determines which execution pipeline to use."
          },
          "brandUrl": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL"
          },
          "targetAudience": {
            "type": "string",
            "minLength": 1,
            "description": "Plain text description of who to target (e.g. 'CTOs at SaaS startups with 10-50 employees in the US')"
          },
          "targetOutcome": {
            "type": "string",
            "minLength": 1,
            "description": "What you want to achieve (e.g. 'Book sales demos', 'Recruit community ambassadors')"
          },
          "valueForTarget": {
            "type": "string",
            "minLength": 1,
            "description": "What the target audience gains from responding"
          },
          "urgency": {
            "type": "string",
            "minLength": 1,
            "description": "Time-based constraint that motivates action now (e.g. 'Recruitment closes in 30 days', 'Price doubles after March 1st')"
          },
          "scarcity": {
            "type": "string",
            "minLength": 1,
            "description": "Supply-based constraint on availability (e.g. 'Only 10 spots available worldwide', 'Limited to 50 participants')"
          },
          "riskReversal": {
            "type": "string",
            "minLength": 1,
            "description": "Guarantee or safety net that removes risk for the prospect (e.g. 'Free trial for 2 weeks, no commitment', 'Phone screening call before any obligation')"
          },
          "socialProof": {
            "type": "string",
            "minLength": 1,
            "description": "Evidence of credibility and traction (e.g. 'Backed by 60 sponsors including X, Y, Z', '500+ companies already onboarded')"
          },
          "maxBudgetDailyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max daily budget in USD"
          },
          "maxBudgetWeeklyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max weekly budget in USD"
          },
          "maxBudgetMonthlyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max monthly budget in USD"
          },
          "maxBudgetTotalUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max total budget in USD"
          },
          "maxLeads": {
            "type": "integer",
            "description": "Maximum number of leads to contact"
          },
          "endDate": {
            "type": "string",
            "description": "Campaign end date"
          }
        },
        "required": [
          "name",
          "workflowName",
          "brandUrl",
          "targetAudience",
          "targetOutcome",
          "valueForTarget",
          "urgency",
          "scarcity",
          "riskReversal",
          "socialProof"
        ]
      },
      "CampaignStatsResponse": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "leadsServed": {
            "type": "number"
          },
          "leadsBuffered": {
            "type": "number"
          },
          "leadsSkipped": {
            "type": "number"
          },
          "apollo": {
            "type": "object",
            "properties": {
              "enrichedLeadsCount": {
                "type": "number"
              },
              "searchCount": {
                "type": "number"
              },
              "fetchedPeopleCount": {
                "type": "number"
              },
              "totalMatchingPeople": {
                "type": "number"
              }
            },
            "required": [
              "enrichedLeadsCount",
              "searchCount",
              "fetchedPeopleCount",
              "totalMatchingPeople"
            ]
          },
          "emailsGenerated": {
            "type": "number"
          },
          "totalCostUsd": {
            "type": "number"
          },
          "emailsSent": {
            "type": "number"
          },
          "emailsOpened": {
            "type": "number"
          },
          "emailsClicked": {
            "type": "number"
          },
          "emailsReplied": {
            "type": "number"
          },
          "emailsBounced": {
            "type": "number"
          },
          "repliesWillingToMeet": {
            "type": "number"
          },
          "repliesInterested": {
            "type": "number"
          },
          "repliesNotInterested": {
            "type": "number"
          },
          "repliesOutOfOffice": {
            "type": "number"
          },
          "repliesUnsubscribe": {
            "type": "number"
          }
        },
        "required": [
          "campaignId",
          "leadsServed",
          "leadsBuffered",
          "leadsSkipped",
          "emailsGenerated",
          "emailsSent",
          "emailsOpened",
          "emailsClicked",
          "emailsReplied",
          "emailsBounced"
        ]
      },
      "BatchStatsRequest": {
        "type": "object",
        "properties": {
          "campaignIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Array of campaign IDs to fetch stats for"
          }
        },
        "required": [
          "campaignIds"
        ]
      },
      "AddByokKeyRequest": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Provider name (e.g. openai, anthropic, apollo)"
          },
          "apiKey": {
            "type": "string",
            "description": "The API key value"
          },
          "scope": {
            "type": "string",
            "enum": [
              "app"
            ],
            "description": "Key scope: 'app' for app-level key (no org/user needed). Omit for org-level BYOK."
          }
        },
        "required": [
          "provider",
          "apiKey"
        ]
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name for the API key"
          }
        }
      },
      "LeadSearchRequest": {
        "type": "object",
        "properties": {
          "person_titles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Job titles to search for"
          },
          "organization_locations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Company locations filter"
          },
          "organization_industries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Industry tag IDs filter"
          },
          "organization_num_employees_ranges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Employee count ranges"
          },
          "per_page": {
            "type": "integer",
            "maximum": 100,
            "default": 10,
            "description": "Results per page (max 100)"
          }
        },
        "required": [
          "person_titles"
        ]
      },
      "QualifyRequest": {
        "type": "object",
        "properties": {
          "sourceService": {
            "type": "string",
            "default": "api",
            "description": "Source service identifier"
          },
          "sourceOrgId": {
            "type": "string",
            "description": "Organization ID (defaults to auth org)"
          },
          "sourceRefId": {
            "type": "string",
            "description": "Reference ID in the source system"
          },
          "fromEmail": {
            "type": "string",
            "minLength": 1,
            "description": "Sender email address"
          },
          "toEmail": {
            "type": "string",
            "minLength": 1,
            "description": "Recipient email address"
          },
          "subject": {
            "type": "string",
            "description": "Email subject line"
          },
          "bodyText": {
            "type": "string",
            "description": "Plain text email body"
          },
          "bodyHtml": {
            "type": "string",
            "description": "HTML email body"
          },
          "byokApiKey": {
            "type": "string",
            "description": "BYOK API key for AI provider"
          }
        },
        "required": [
          "fromEmail",
          "toEmail"
        ]
      },
      "BrandScrapeRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL to scrape"
          },
          "skipCache": {
            "type": "boolean",
            "description": "Skip cached results and force re-scrape"
          }
        },
        "required": [
          "url"
        ]
      },
      "IcpSuggestionRequest": {
        "type": "object",
        "properties": {
          "brandUrl": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL"
          }
        },
        "required": [
          "brandUrl"
        ]
      },
      "SalesProfileFromUrlRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL to extract a sales profile from"
          },
          "skipCache": {
            "type": "boolean",
            "description": "Skip cached results and force re-extraction"
          }
        },
        "required": [
          "url"
        ]
      },
      "BestWorkflowResponse": {
        "type": "object",
        "properties": {
          "workflow": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "category": {
                "type": "string"
              },
              "channel": {
                "type": "string"
              },
              "audienceType": {
                "type": "string"
              },
              "signature": {
                "type": "string"
              },
              "signatureName": {
                "type": "string"
              },
              "humanId": {
                "type": "string",
                "nullable": true,
                "description": "Human ID if styled after an expert"
              },
              "styleName": {
                "type": "string",
                "nullable": true,
                "description": "Base style name for versioning (e.g. 'hormozi')"
              }
            },
            "required": [
              "id",
              "name",
              "category",
              "channel",
              "audienceType",
              "signature",
              "signatureName",
              "humanId",
              "styleName"
            ]
          },
          "dag": {
            "type": "object",
            "properties": {
              "nodes": {
                "type": "array",
                "items": {
                  "nullable": true
                }
              },
              "edges": {
                "type": "array",
                "items": {
                  "nullable": true
                }
              }
            },
            "required": [
              "nodes",
              "edges"
            ]
          },
          "stats": {
            "type": "object",
            "properties": {
              "totalCostInUsdCents": {
                "type": "number"
              },
              "totalOutcomes": {
                "type": "number"
              },
              "costPerOutcome": {
                "type": "number"
              },
              "completedRuns": {
                "type": "number"
              }
            },
            "required": [
              "totalCostInUsdCents",
              "totalOutcomes",
              "costPerOutcome",
              "completedRuns"
            ]
          }
        },
        "required": [
          "workflow",
          "dag",
          "stats"
        ]
      },
      "GenerateWorkflowResponse": {
        "type": "object",
        "properties": {
          "workflow": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Workflow ID"
              },
              "name": {
                "type": "string",
                "description": "Auto-generated workflow name"
              },
              "category": {
                "type": "string",
                "description": "Workflow category"
              },
              "channel": {
                "type": "string",
                "description": "Communication channel"
              },
              "audienceType": {
                "type": "string",
                "description": "Audience type"
              },
              "signature": {
                "type": "string",
                "description": "SHA-256 hash of the canonical DAG"
              },
              "signatureName": {
                "type": "string",
                "description": "Human-readable name for this DAG variant"
              },
              "action": {
                "type": "string",
                "enum": [
                  "created",
                  "updated"
                ],
                "description": "Whether the workflow was created or updated"
              },
              "humanId": {
                "type": "string",
                "nullable": true,
                "description": "Human ID if styled after an expert"
              },
              "styleName": {
                "type": "string",
                "nullable": true,
                "description": "Base style name for versioning (e.g. 'hormozi')"
              }
            },
            "required": [
              "id",
              "name",
              "category",
              "channel",
              "audienceType",
              "signature",
              "signatureName",
              "action",
              "humanId",
              "styleName"
            ]
          },
          "dag": {
            "type": "object",
            "properties": {
              "nodes": {
                "type": "array",
                "items": {
                  "nullable": true
                },
                "description": "DAG nodes"
              },
              "edges": {
                "type": "array",
                "items": {
                  "nullable": true
                },
                "description": "DAG edges"
              }
            },
            "required": [
              "nodes",
              "edges"
            ]
          },
          "generatedDescription": {
            "type": "string",
            "description": "AI-generated description of the workflow"
          }
        },
        "required": [
          "workflow",
          "dag",
          "generatedDescription"
        ]
      },
      "WorkflowStyle": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "human",
              "brand"
            ],
            "description": "Style source type"
          },
          "humanId": {
            "type": "string",
            "description": "Human ID from human-service. Required when type is 'human'."
          },
          "brandId": {
            "type": "string",
            "description": "Brand ID from brand-service. Required when type is 'brand'."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Display name of the human or brand (e.g. 'Hormozi', 'My Brand')"
          }
        },
        "required": [
          "type",
          "name"
        ],
        "description": "Optional style configuration. When provided, the workflow is generated in the style of an industry expert or brand."
      },
      "GenerateWorkflowRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Natural language description of the desired workflow. Be specific about steps, services, and data flow."
          },
          "hints": {
            "type": "object",
            "properties": {
              "services": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Scope generation to these services"
              },
              "nodeTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Suggest specific node types"
              },
              "expectedInputs": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Expected flow_input field names (e.g. campaignId, email)"
              }
            },
            "description": "Optional hints to guide DAG generation"
          },
          "style": {
            "$ref": "#/components/schemas/WorkflowStyle"
          }
        },
        "required": [
          "description"
        ]
      },
      "ActivityResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        },
        "required": [
          "ok"
        ]
      },
      "ChatConfigRequest": {
        "type": "object",
        "properties": {
          "systemPrompt": {
            "type": "string",
            "minLength": 1,
            "description": "System prompt for the AI assistant"
          },
          "mcpServerUrl": {
            "type": "string",
            "format": "uri",
            "description": "MCP server URL for tool calling"
          },
          "mcpKeyName": {
            "type": "string",
            "minLength": 1,
            "description": "MCP key name for auth resolution"
          }
        },
        "required": [
          "systemPrompt"
        ]
      },
      "ChatMessageRequest": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1,
            "description": "User message text"
          },
          "sessionId": {
            "type": "string",
            "format": "uuid",
            "description": "Session ID for conversation continuity"
          },
          "context": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Additional context for the AI"
          }
        },
        "required": [
          "message"
        ]
      },
      "SwitchBillingModeRequest": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "byok",
              "payg"
            ],
            "description": "Billing mode to switch to"
          },
          "reload_amount_cents": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Auto-reload amount in cents (for payg mode)"
          }
        },
        "required": [
          "mode"
        ]
      },
      "DeductCreditsRequest": {
        "type": "object",
        "properties": {
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Amount to deduct in cents"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "description": "Reason for the deduction"
          },
          "app_id": {
            "type": "string",
            "minLength": 1,
            "description": "App ID"
          },
          "user_id": {
            "type": "string",
            "format": "uuid",
            "description": "User ID"
          }
        },
        "required": [
          "amount_cents",
          "description",
          "app_id"
        ]
      },
      "CreateCheckoutSessionRequest": {
        "type": "object",
        "properties": {
          "success_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect after successful payment"
          },
          "cancel_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect on cancellation"
          },
          "reload_amount_cents": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Amount to reload in cents"
          }
        },
        "required": [
          "success_url",
          "cancel_url",
          "reload_amount_cents"
        ]
      },
      "SendEmailRequest": {
        "type": "object",
        "properties": {
          "eventType": {
            "type": "string",
            "minLength": 1,
            "description": "Event type determining which template to use (e.g. 'webinar_welcome', 'j_minus_1')"
          },
          "recipientEmail": {
            "type": "string",
            "format": "email",
            "description": "Direct recipient email (fallback when no userId on the key)"
          },
          "brandId": {
            "type": "string",
            "description": "Brand ID for tracking"
          },
          "campaignId": {
            "type": "string",
            "description": "Campaign ID for tracking"
          },
          "productId": {
            "type": "string",
            "description": "Product/instance ID for product-scoped dedup (e.g. webinar ID)"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Template variables for {{variable}} interpolation"
          }
        },
        "required": [
          "eventType"
        ]
      },
      "EmailStatsRequest": {
        "type": "object",
        "properties": {
          "eventType": {
            "type": "string",
            "description": "Filter by event type"
          }
        }
      },
      "DeployEmailTemplatesRequest": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Template name (unique per app)"
                },
                "subject": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Email subject line"
                },
                "htmlBody": {
                  "type": "string",
                  "minLength": 1,
                  "description": "HTML body with {{variable}} interpolation"
                },
                "textBody": {
                  "type": "string",
                  "description": "Plain text body (optional)"
                },
                "from": {
                  "type": "string",
                  "description": "Sender address, e.g. \"Display Name <email@domain.com>\""
                },
                "messageStream": {
                  "type": "string",
                  "description": "Postmark message stream ID, e.g. \"outbound\" or \"broadcast\""
                }
              },
              "required": [
                "name",
                "subject",
                "htmlBody"
              ]
            },
            "minItems": 1,
            "description": "Templates to deploy"
          }
        },
        "required": [
          "templates"
        ]
      },
      "CreateStripeProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Product name"
          },
          "description": {
            "type": "string",
            "description": "Product description"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Arbitrary key-value metadata"
          }
        },
        "required": [
          "name"
        ]
      },
      "CreateStripePriceRequest": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "minLength": 1,
            "description": "Stripe product ID"
          },
          "unitAmountCents": {
            "type": "integer",
            "minimum": 0,
            "description": "Price in cents"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "default": "usd",
            "description": "ISO 4217 currency code"
          },
          "recurring": {
            "type": "object",
            "properties": {
              "interval": {
                "type": "string",
                "enum": [
                  "day",
                  "week",
                  "month",
                  "year"
                ],
                "description": "Billing interval"
              }
            },
            "required": [
              "interval"
            ],
            "description": "Recurring pricing config (omit for one-time)"
          }
        },
        "required": [
          "productId",
          "unitAmountCents"
        ]
      },
      "CreateStripeCouponRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Custom coupon ID (auto-generated if omitted)"
          },
          "percentOff": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Percent discount (0-100)"
          },
          "amountOffCents": {
            "type": "integer",
            "minimum": 0,
            "description": "Fixed discount in cents"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "description": "Currency for amountOff (required if amountOff is set)"
          },
          "duration": {
            "type": "string",
            "enum": [
              "once",
              "repeating",
              "forever"
            ],
            "description": "How long the coupon applies"
          },
          "durationInMonths": {
            "type": "integer",
            "minimum": 1,
            "description": "Months for 'repeating' duration"
          }
        },
        "required": [
          "duration"
        ]
      },
      "CreateStripeCheckoutRequest": {
        "type": "object",
        "properties": {
          "lineItems": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "priceId": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Stripe price ID"
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1,
                  "default": 1,
                  "description": "Quantity"
                }
              },
              "required": [
                "priceId"
              ]
            },
            "minItems": 1,
            "description": "Line items for checkout"
          },
          "mode": {
            "type": "string",
            "enum": [
              "payment",
              "subscription"
            ],
            "default": "payment",
            "description": "Checkout mode"
          },
          "successUrl": {
            "type": "string",
            "format": "uri",
            "description": "Redirect URL after success"
          },
          "cancelUrl": {
            "type": "string",
            "format": "uri",
            "description": "Redirect URL after cancel"
          },
          "customerEmail": {
            "type": "string",
            "format": "email",
            "description": "Pre-fill customer email"
          },
          "customerId": {
            "type": "string",
            "description": "Existing Stripe customer ID"
          },
          "discounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "couponId": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Stripe coupon ID"
                }
              },
              "required": [
                "couponId"
              ]
            },
            "description": "Coupons to apply"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Metadata for the checkout session"
          }
        },
        "required": [
          "lineItems",
          "successUrl",
          "cancelUrl"
        ]
      },
      "StripeStatsRequest": {
        "type": "object",
        "properties": {
          "brandId": {
            "type": "string",
            "description": "Filter by brand ID"
          },
          "campaignId": {
            "type": "string",
            "description": "Filter by campaign ID"
          },
          "runIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by run IDs"
          }
        }
      },
      "ResolveUserResponse": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "format": "uuid",
            "description": "Internal organization UUID"
          },
          "userId": {
            "type": "string",
            "format": "uuid",
            "description": "Internal user UUID"
          },
          "orgCreated": {
            "type": "boolean",
            "description": "Whether a new org was created"
          },
          "userCreated": {
            "type": "boolean",
            "description": "Whether a new user was created"
          }
        },
        "required": [
          "orgId",
          "userId",
          "orgCreated",
          "userCreated"
        ]
      },
      "ResolveUserRequest": {
        "type": "object",
        "properties": {
          "externalOrgId": {
            "type": "string",
            "minLength": 1,
            "description": "External organization ID (e.g. Clerk org ID)"
          },
          "externalUserId": {
            "type": "string",
            "minLength": 1,
            "description": "External user ID — use a generated UUID for anonymous users"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "firstName": {
            "type": "string",
            "description": "User first name"
          },
          "lastName": {
            "type": "string",
            "description": "User last name"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "User avatar URL"
          }
        },
        "required": [
          "externalOrgId",
          "externalUserId"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "API info",
        "description": "Returns API name, version, and docs URL",
        "responses": {
          "200": {
            "description": "API information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "description": "Returns service health status",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/debug/config": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Debug configuration",
        "description": "Returns debug info about external service configuration",
        "responses": {
          "200": {
            "description": "Debug configuration data"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "OpenAPI specification",
        "description": "Returns the OpenAPI 3.0 JSON spec for this service",
        "responses": {
          "200": {
            "description": "OpenAPI 3.0 specification"
          },
          "404": {
            "description": "Spec not generated yet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/register": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Register an app",
        "description": "Register a new app and receive an API key. Idempotent: returns existing appId if already registered. The API key is only shown on first creation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAppRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App registered (or already exists)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/performance/leaderboard": {
      "get": {
        "tags": [
          "Performance"
        ],
        "summary": "Get performance leaderboard",
        "description": "Returns performance leaderboard data including brands, workflows, and hero stats. Requires authentication.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Filter by application ID (opt-in, omit to return all)"
            },
            "required": false,
            "description": "Filter by application ID (opt-in, omit to return all)",
            "name": "appId",
            "in": "query"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard data with brands, workflows, and hero stats"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get current user info",
        "description": "Returns the authenticated user and organization details",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user and org info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ]
      }
    },
    "/v1/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List campaigns",
        "description": "List all campaigns for the organization, optionally filtered by brand ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Filter by brand ID"
            },
            "required": false,
            "description": "Filter by brand ID",
            "name": "brandId",
            "in": "query"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create a campaign",
        "description": "Create a new outreach campaign. The `workflowName` field determines which execution pipeline campaign-service uses.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created campaign"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ]
      }
    },
    "/v1/campaigns/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get a campaign",
        "description": "Get a specific campaign by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign data"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Update a campaign",
        "description": "Update campaign fields (name, settings, etc.)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated campaign"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/stop": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Stop a campaign",
        "description": "Stop a running campaign",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Stopped campaign"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/resume": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Resume a campaign",
        "description": "Resume a stopped campaign",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Resumed campaign"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/runs": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign runs",
        "description": "Get execution history/runs for a campaign",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign runs list"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/stats": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign stats",
        "description": "Get campaign statistics (leads served/buffered/skipped, apollo metrics, emails sent/opened/clicked/replied, etc.)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated campaign statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignStatsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/batch-stats": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Batch get campaign stats",
        "description": "Get stats for multiple campaigns in a single request",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchStatsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stats keyed by campaign ID"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ]
      }
    },
    "/v1/campaigns/{id}/leads": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign leads",
        "description": "Get all leads for a campaign with enrichment cost data",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign leads with enrichment run data"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/emails": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign emails",
        "description": "Get all generated emails for a campaign across all runs, with generation cost data",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign emails with generation run data"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "List BYOK keys",
        "description": "List all BYOK (Bring Your Own Key) API keys for the organization",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of BYOK keys"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ]
      },
      "post": {
        "tags": [
          "Keys"
        ],
        "summary": "Add a provider key",
        "description": "Store a provider API key. Use scope:'app' for app-level keys (no org/user needed). Omit scope for org-level BYOK keys.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddByokKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key stored"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ]
      }
    },
    "/v1/keys/{provider}": {
      "delete": {
        "tags": [
          "Keys"
        ],
        "summary": "Delete a BYOK key",
        "description": "Remove a BYOK API key for a specific provider",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Provider name"
            },
            "required": true,
            "description": "Provider name",
            "name": "provider",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Key deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/internal/keys/{provider}/decrypt": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "Decrypt a BYOK key (internal)",
        "description": "Get decrypted BYOK key value. Internal service-to-service endpoint.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Provider name"
            },
            "required": true,
            "description": "Provider name",
            "name": "provider",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Organization ID"
            },
            "required": true,
            "description": "Organization ID",
            "name": "orgId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Decrypted key"
          },
          "400": {
            "description": "Missing orgId query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "description": "List all API keys for the organization",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ]
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create an API key",
        "description": "Generate a new permanent API key for the organization",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created API key"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ]
      }
    },
    "/v1/api-keys/{id}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke an API key",
        "description": "Delete/revoke an API key by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "API key ID"
            },
            "required": true,
            "description": "API key ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys/session": {
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Get or create session API key",
        "description": "Get or create a short-lived session API key for Foxy chat integration",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Session API key"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ]
      }
    },
    "/v1/leads/search": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Search for leads",
        "description": "Search for leads using Apollo-compatible filters (titles, locations, industries, company size)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead search results"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ]
      }
    },
    "/v1/qualify": {
      "post": {
        "tags": [
          "Qualify"
        ],
        "summary": "Qualify an email reply",
        "description": "Uses AI to qualify/classify an inbound email reply (interested, not interested, out-of-office, etc.)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QualifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Qualification result"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ]
      }
    },
    "/v1/brand/scrape": {
      "post": {
        "tags": [
          "Brand"
        ],
        "summary": "Scrape brand info",
        "description": "Scrape brand information from a URL using the scraping service",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scraped brand information"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ]
      }
    },
    "/v1/brand/by-url": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Get brand by URL",
        "description": "Get cached brand info by website URL",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Brand website URL"
            },
            "required": true,
            "description": "Brand website URL",
            "name": "url",
            "in": "query"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Cached brand information"
          },
          "400": {
            "description": "Missing url param",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "List brands",
        "description": "Get all brands for the organization",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of brands"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ]
      }
    },
    "/v1/brands/{id}": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Get a brand",
        "description": "Get a single brand by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Brand ID"
            },
            "required": true,
            "description": "Brand ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`mcpf_app_*`) on endpoints that need org context. Ignored when using a user key (`mcpf_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`mcpf_app_*`) on endpoints that need user context. Ignored when using a user key (`mcpf_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Brand data"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands/{id}/sales-profile": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Get brand sales profile",
        "description": "Get the sales profile for a specific brand",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Brand ID"
            },
            "required": true,
            "description": "Brand ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
[...]
