{
  "openapi": "3.0.0",
  "info": {
    "title": "distribute API",
    "description": "API Gateway for distribute.\n\n## Quick Start\n\n1. Create an API key in the distribute dashboard, or via `POST /v1/api-keys`\n2. Use it as a Bearer token — that's it, no extra headers needed\n\n```\nAuthorization: Bearer distrib.usr_abc123...\n```\n\nYour key carries your org and user identity. All endpoints work out of the box.\n\n## Storing provider keys (BYOK)\n\nTo store your own provider API keys (e.g. OpenAI, Anthropic) for use in workflows:\n\n```\nPOST /v1/keys\nAuthorization: Bearer distrib.usr_abc123...\n\n{ \"provider\": \"openai\", \"apiKey\": \"sk-...\" }\n```\n\n## Error codes\n\n| Code | Meaning |\n|------|---------|\n| 401 | Missing or invalid Bearer token |\n| 400 | Organization context required (missing `x-org-id` — app key only) |\n| 502 | Identity resolution failed (internal service unreachable) |\n\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.distribute.you"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check and debug endpoints"
    },
    {
      "name": "Authentication",
      "description": "Create and manage your API keys"
    },
    {
      "name": "Keys",
      "description": "Provider key management"
    },
    {
      "name": "Performance",
      "description": "Public performance leaderboard"
    },
    {
      "name": "Public Costs",
      "description": "Public costs/pricing endpoints (no auth, used by landing pages)"
    },
    {
      "name": "User",
      "description": "Current user information"
    },
    {
      "name": "Campaigns",
      "description": "Campaign management"
    },
    {
      "name": "Leads",
      "description": "Lead search"
    },
    {
      "name": "Qualify",
      "description": "Email reply qualification"
    },
    {
      "name": "Brand",
      "description": "Brand management"
    },
    {
      "name": "Scraping",
      "description": "URL scraping via scraping-service"
    },
    {
      "name": "Activity",
      "description": "User activity tracking"
    },
    {
      "name": "Chat",
      "description": "AI chat with SSE streaming"
    },
    {
      "name": "Billing",
      "description": "Billing, credits, and checkout"
    },
    {
      "name": "Instantly",
      "description": "Instantly sending-infrastructure audit (staff-only, instantly-service proxy)"
    },
    {
      "name": "Internal",
      "description": "Platform-level operations (API key auth, no identity headers)"
    },
    {
      "name": "Platform",
      "description": "Service discovery and platform configuration"
    },
    {
      "name": "Google CRM",
      "description": "Google CRM (Gmail + People bronze) ingestion"
    },
    {
      "name": "Expert Quotes",
      "description": "Expert quote outreach (journalists-quotes-service proxy)"
    },
    {
      "name": "AI Visibility",
      "description": "AI visibility-score audits (ai-visibility-score-service proxy)"
    },
    {
      "name": "Invites",
      "description": "Invite-only gate (Wave 0.5): validate codes, query org quota, claim rewards"
    },
    {
      "name": "Waitlist",
      "description": "Waitlist for users without an invite code"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication.\n\nUse an API key (`distrib.usr_*`) as your Bearer token. Create one via `POST /v1/api-keys` or in the dashboard.\n\nYour key carries your org and user identity. No extra headers needed."
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Platform API key for internal/admin operations.\n\nUsed for cold-start operations (e.g. template deployment) where no user session exists."
      }
    },
    "schemas": {
      "ApiInfoResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "docs": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "version",
          "docs"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service",
          "version"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "error"
        ]
      },
      "RankedResponse": {
        "type": "object",
        "properties": {}
      },
      "BestResponse": {
        "type": "object",
        "properties": {}
      },
      "PublicFeatureRevenueResponse": {
        "type": "object",
        "properties": {}
      },
      "PublicWorkflowEngagementLatencyResponse": {
        "type": "object",
        "properties": {}
      },
      "PublicCostProjectionResponse": {
        "type": "object",
        "properties": {}
      },
      "PublicCostPerOutcomeTrendResponse": {
        "type": "object",
        "properties": {}
      },
      "PublicWorkflowCostPerOutcomeResponse": {
        "type": "object",
        "properties": {}
      },
      "StaffSendForecastResponse": {
        "type": "object",
        "properties": {}
      },
      "StaffAccountsResponse": {
        "type": "object",
        "properties": {}
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "authType": {
            "type": "string",
            "enum": [
              "user_key",
              "admin"
            ]
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Campaign ID"
          },
          "orgId": {
            "type": "string",
            "description": "Organization ID"
          },
          "createdByUserId": {
            "type": "string",
            "nullable": true,
            "description": "User who created the campaign"
          },
          "name": {
            "type": "string",
            "description": "Campaign name"
          },
          "workflowSlug": {
            "type": "string",
            "description": "Exact versioned workflow slug used for execution"
          },
          "workflowDynastySlug": {
            "type": "string",
            "nullable": true,
            "description": "Stable dynasty slug for the workflow lineage (unversioned)"
          },
          "brandUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Brand website URLs (resolved from brandIds via brand-service)"
          },
          "brandIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Brand IDs"
          },
          "featureSlug": {
            "type": "string",
            "nullable": true,
            "description": "Exact versioned feature slug for tracking"
          },
          "featureDynastySlug": {
            "type": "string",
            "nullable": true,
            "description": "Stable dynasty slug for the feature lineage (unversioned)"
          },
          "featureInputs": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Free-form JSONB inputs for the feature"
          },
          "maxBudgetDailyUsd": {
            "type": "string",
            "nullable": true,
            "description": "Max daily budget in USD"
          },
          "maxBudgetWeeklyUsd": {
            "type": "string",
            "nullable": true,
            "description": "Max weekly budget in USD"
          },
          "maxBudgetMonthlyUsd": {
            "type": "string",
            "nullable": true,
            "description": "Max monthly budget in USD"
          },
          "maxBudgetTotalUsd": {
            "type": "string",
            "nullable": true,
            "description": "Max total budget in USD"
          },
          "maxLeads": {
            "type": "number",
            "nullable": true,
            "description": "Maximum number of leads"
          },
          "startDate": {
            "type": "string",
            "nullable": true,
            "description": "Campaign start date"
          },
          "endDate": {
            "type": "string",
            "nullable": true,
            "description": "Campaign end date"
          },
          "status": {
            "type": "string",
            "description": "Campaign status (e.g. 'active', 'stopped')"
          },
          "nextRunAt": {
            "type": "string",
            "nullable": true,
            "description": "Scheduled next run time for a gate-blocked campaign"
          },
          "notifyFrequency": {
            "type": "string",
            "nullable": true,
            "description": "Notification frequency"
          },
          "notifyChannel": {
            "type": "string",
            "nullable": true,
            "description": "Notification channel"
          },
          "notifyDestination": {
            "type": "string",
            "nullable": true,
            "description": "Notification destination"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO timestamp"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO timestamp"
          }
        },
        "required": [
          "id",
          "orgId",
          "createdByUserId",
          "name",
          "workflowSlug",
          "workflowDynastySlug",
          "brandUrls",
          "brandIds",
          "featureSlug",
          "featureDynastySlug",
          "featureInputs",
          "maxBudgetDailyUsd",
          "maxBudgetWeeklyUsd",
          "maxBudgetMonthlyUsd",
          "maxBudgetTotalUsd",
          "maxLeads",
          "startDate",
          "endDate",
          "status",
          "nextRunAt",
          "notifyFrequency",
          "notifyChannel",
          "notifyDestination",
          "createdAt",
          "updatedAt"
        ]
      },
      "CampaignListResponse": {
        "type": "object",
        "properties": {
          "campaigns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          }
        },
        "required": [
          "campaigns"
        ]
      },
      "CreateCampaignResponse": {
        "type": "object",
        "properties": {
          "campaign": {
            "$ref": "#/components/schemas/Campaign"
          }
        },
        "required": [
          "campaign"
        ]
      },
      "CreateCampaignRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Campaign name"
          },
          "workflowSlug": {
            "type": "string",
            "minLength": 1,
            "description": "Exact versioned workflow slug (e.g. 'sales-email-cold-outreach-sienna-v3'). Use for pinning to a specific version. Provide this OR workflowDynastySlug."
          },
          "workflowDynastySlug": {
            "type": "string",
            "minLength": 1,
            "description": "Stable dynasty slug for the workflow lineage (e.g. 'sales-email-cold-outreach-sienna'). Campaign-service resolves to the latest version automatically. Preferred over workflowSlug for dashboard use."
          },
          "brandUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "minItems": 1,
            "description": "Brand website URLs. First URL is the primary brand; additional URLs are secondary brands."
          },
          "featureSlug": {
            "type": "string",
            "minLength": 1,
            "description": "Exact versioned feature slug. Use for pinning to a specific version. Provide this OR featureDynastySlug."
          },
          "featureDynastySlug": {
            "type": "string",
            "minLength": 1,
            "description": "Stable dynasty slug for the feature lineage (e.g. 'pr-cold-email-outreach'). Campaign-service resolves to the latest version automatically. Preferred over featureSlug for dashboard use."
          },
          "featureInputs": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Opaque feature inputs. Validated by key-presence against features-service, never inspected by api-service."
          },
          "maxBudgetDailyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max daily budget in USD"
          },
          "maxBudgetWeeklyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max weekly budget in USD"
          },
          "maxBudgetMonthlyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max monthly budget in USD"
          },
          "maxBudgetTotalUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max total budget in USD"
          },
          "maxLeads": {
            "type": "integer",
            "description": "Maximum number of leads to contact"
          },
          "endDate": {
            "type": "string",
            "description": "Campaign end date"
          }
        },
        "required": [
          "name",
          "brandUrls",
          "featureInputs"
        ],
        "example": {
          "name": "Q2 SaaS Outreach",
          "workflowDynastySlug": "sales-email-cold-outreach-sienna",
          "brandUrls": [
            "https://acme.com"
          ],
          "featureDynastySlug": "pr-cold-email-outreach",
          "featureInputs": {
            "targetAudience": "SaaS founders in the US",
            "editorialAngle": "AI productivity tools"
          },
          "maxBudgetTotalUsd": "500"
        }
      },
      "GetCampaignResponse": {
        "type": "object",
        "properties": {
          "campaign": {
            "$ref": "#/components/schemas/Campaign"
          }
        },
        "required": [
          "campaign"
        ]
      },
      "UpdateCampaignResponse": {
        "type": "object",
        "properties": {
          "campaign": {
            "$ref": "#/components/schemas/Campaign"
          }
        },
        "required": [
          "campaign"
        ]
      },
      "StopCampaignResponse": {
        "type": "object",
        "properties": {
          "campaign": {
            "$ref": "#/components/schemas/Campaign"
          }
        },
        "required": [
          "campaign"
        ]
      },
      "RunWithOwnCost": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Run ID"
          },
          "organizationId": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "brandIds": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "campaignId": {
            "type": "string",
            "nullable": true
          },
          "workflowSlug": {
            "type": "string",
            "nullable": true
          },
          "featureSlug": {
            "type": "string",
            "nullable": true
          },
          "serviceName": {
            "type": "string"
          },
          "taskName": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Run status (e.g. completed, failed)"
          },
          "parentRunId": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp when the run started"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "ISO timestamp when the run completed"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "ownCostInUsdCents": {
            "type": "string",
            "description": "Sum of this run's own costs (excludes descendants)"
          },
          "ownActualCostInUsdCents": {
            "type": "string",
            "description": "Sum of this run's own costs with status='actual'"
          },
          "ownProvisionedCostInUsdCents": {
            "type": "string",
            "description": "Sum of this run's own costs with status='provisioned'"
          }
        },
        "required": [
          "id",
          "organizationId",
          "userId",
          "brandIds",
          "campaignId",
          "workflowSlug",
          "featureSlug",
          "serviceName",
          "taskName",
          "status",
          "parentRunId",
          "startedAt",
          "completedAt",
          "createdAt",
          "updatedAt",
          "ownCostInUsdCents",
          "ownActualCostInUsdCents",
          "ownProvisionedCostInUsdCents"
        ]
      },
      "ListRunsResponse": {
        "type": "object",
        "properties": {
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunWithOwnCost"
            }
          },
          "offset": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          }
        },
        "required": [
          "runs",
          "offset"
        ]
      },
      "RepliesDetail": {
        "type": "object",
        "properties": {
          "interested": {
            "type": "number"
          },
          "meetingBooked": {
            "type": "number"
          },
          "closed": {
            "type": "number"
          },
          "notInterested": {
            "type": "number"
          },
          "wrongPerson": {
            "type": "number"
          },
          "unsubscribe": {
            "type": "number"
          },
          "neutral": {
            "type": "number"
          },
          "autoReply": {
            "type": "number"
          },
          "outOfOffice": {
            "type": "number"
          }
        },
        "required": [
          "interested",
          "meetingBooked",
          "closed",
          "notInterested",
          "wrongPerson",
          "unsubscribe",
          "neutral",
          "autoReply",
          "outOfOffice"
        ]
      },
      "RecipientStats": {
        "type": "object",
        "properties": {
          "contacted": {
            "type": "number",
            "description": "Leads submitted to email provider (COUNT DISTINCT by lead)"
          },
          "sent": {
            "type": "number",
            "description": "Recipients with at least one sent email"
          },
          "delivered": {
            "type": "number",
            "description": "Recipients with at least one delivered email"
          },
          "opened": {
            "type": "number",
            "description": "Recipients who opened at least one email"
          },
          "bounced": {
            "type": "number",
            "description": "Recipients who bounced"
          },
          "clicked": {
            "type": "number",
            "description": "Recipients who clicked"
          },
          "unsubscribed": {
            "type": "number",
            "description": "Recipients who unsubscribed"
          },
          "repliesPositive": {
            "type": "number"
          },
          "repliesNegative": {
            "type": "number"
          },
          "repliesNeutral": {
            "type": "number"
          },
          "repliesAutoReply": {
            "type": "number"
          },
          "repliesDetail": {
            "$ref": "#/components/schemas/RepliesDetail"
          }
        },
        "required": [
          "contacted",
          "sent",
          "delivered",
          "opened",
          "bounced",
          "clicked",
          "unsubscribed",
          "repliesPositive",
          "repliesNegative",
          "repliesNeutral",
          "repliesAutoReply",
          "repliesDetail"
        ]
      },
      "EmailStats": {
        "type": "object",
        "properties": {
          "sent": {
            "type": "number",
            "description": "Total emails sent (COUNT *)"
          },
          "delivered": {
            "type": "number",
            "description": "Total emails delivered"
          },
          "opened": {
            "type": "number",
            "description": "Total email opens"
          },
          "clicked": {
            "type": "number",
            "description": "Total email clicks"
          },
          "bounced": {
            "type": "number",
            "description": "Total emails bounced"
          },
          "unsubscribed": {
            "type": "number",
            "description": "Total unsubscribes"
          },
          "stepStats": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "nullable": true
              }
            },
            "description": "Per-step breakdown"
          }
        },
        "required": [
          "sent",
          "delivered",
          "opened",
          "clicked",
          "bounced",
          "unsubscribed",
          "stepStats"
        ]
      },
      "CampaignStatsResponse": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "leadsServed": {
            "type": "number"
          },
          "leadsContacted": {
            "type": "number",
            "description": "Count of unique leads that received at least one email"
          },
          "leadsBuffered": {
            "type": "number"
          },
          "leadsSkipped": {
            "type": "number"
          },
          "apollo": {
            "type": "object",
            "properties": {
              "enrichedLeadsCount": {
                "type": "number"
              },
              "searchCount": {
                "type": "number"
              },
              "fetchedPeopleCount": {
                "type": "number"
              },
              "totalMatchingPeople": {
                "type": "number"
              }
            },
            "required": [
              "enrichedLeadsCount",
              "searchCount",
              "fetchedPeopleCount",
              "totalMatchingPeople"
            ]
          },
          "emailsGenerated": {
            "type": "number"
          },
          "totalCostUsd": {
            "type": "number"
          },
          "recipientStats": {
            "$ref": "#/components/schemas/RecipientStats"
          },
          "emailStats": {
            "$ref": "#/components/schemas/EmailStats"
          },
          "totalCostInUsdCents": {
            "type": "string",
            "nullable": true,
            "description": "Total cost from campaign-service budget tracking"
          },
          "costBreakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "costName": {
                  "type": "string"
                },
                "totalCostInUsdCents": {
                  "type": "string"
                },
                "actualCostInUsdCents": {
                  "type": "string"
                },
                "provisionedCostInUsdCents": {
                  "type": "string"
                },
                "totalQuantity": {
                  "type": "string"
                }
              },
              "required": [
                "costName",
                "totalCostInUsdCents",
                "actualCostInUsdCents",
                "provisionedCostInUsdCents",
                "totalQuantity"
              ]
            },
            "description": "Per-cost-name breakdown from runs-service"
          }
        },
        "required": [
          "campaignId",
          "leadsServed",
          "leadsContacted",
          "leadsBuffered",
          "leadsSkipped",
          "emailsGenerated",
          "recipientStats",
          "emailStats"
        ]
      },
      "CampaignsBatchStatsResponse": {
        "type": "object",
        "properties": {
          "campaigns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "campaignId": {
                  "type": "string"
                },
                "leadsServed": {
                  "type": "number"
                },
                "leadsContacted": {
                  "type": "number",
                  "description": "Count of unique leads that received at least one email"
                },
                "leadsBuffered": {
                  "type": "number"
                },
                "leadsSkipped": {
                  "type": "number"
                },
                "emailsGenerated": {
                  "type": "number"
                },
                "recipientStats": {
                  "$ref": "#/components/schemas/RecipientStats"
                },
                "emailStats": {
                  "$ref": "#/components/schemas/EmailStats"
                },
                "totalCostInUsdCents": {
                  "type": "string",
                  "nullable": true
                },
                "runCount": {
                  "type": "number"
                }
              },
              "required": [
                "campaignId",
                "leadsServed",
                "leadsContacted",
                "leadsBuffered",
                "leadsSkipped",
                "emailsGenerated",
                "recipientStats",
                "emailStats",
                "totalCostInUsdCents",
                "runCount"
              ]
            }
          }
        },
        "required": [
          "campaigns"
        ]
      },
      "ErrorSummary": {
        "type": "object",
        "properties": {
          "failedStep": {
            "type": "string",
            "description": "Which DAG step failed (e.g. 'fetch_lead', 'generate_email')"
          },
          "message": {
            "type": "string",
            "description": "Cleaned error message without stack traces"
          },
          "rootCause": {
            "type": "string",
            "description": "User-friendly root cause (e.g. 'billing-service unavailable')"
          }
        },
        "required": [
          "failedStep",
          "message",
          "rootCause"
        ],
        "description": "Structured error summary for failed runs. Contains a user-friendly rootCause, the failedStep, and a cleaned message. Only present when status is 'failed'."
      },
      "RunCostData": {
        "type": "object",
        "nullable": true,
        "properties": {
          "status": {
            "type": "string",
            "description": "Run status (e.g. completed, failed)"
          },
          "startedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO timestamp when the run started"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO timestamp when the run completed"
          },
          "totalCostInUsdCents": {
            "type": "string",
            "nullable": true,
            "description": "Total cost in USD cents"
          },
          "costs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "costName": {
                  "type": "string"
                },
                "totalCostInUsdCents": {
                  "type": "string"
                },
                "actualCostInUsdCents": {
                  "type": "string"
                },
                "provisionedCostInUsdCents": {
                  "type": "string"
                },
                "quantity": {
                  "type": "number"
                }
              },
              "required": [
                "costName",
                "totalCostInUsdCents",
                "actualCostInUsdCents",
                "provisionedCostInUsdCents",
                "quantity"
              ]
            },
            "description": "Per-cost-name breakdown"
          },
          "serviceName": {
            "type": "string",
            "nullable": true
          },
          "taskName": {
            "type": "string",
            "nullable": true
          },
          "error": {
            "type": "string",
            "description": "Raw error message (for debugging). Only present on failed runs."
          },
          "errorSummary": {
            "$ref": "#/components/schemas/ErrorSummary"
          },
          "descendantRuns": {
            "type": "array",
            "items": {
              "nullable": true
            },
            "description": "Child runs"
          }
        },
        "required": [
          "status",
          "startedAt",
          "completedAt",
          "totalCostInUsdCents",
          "costs",
          "serviceName",
          "taskName",
          "descendantRuns"
        ],
        "description": "Generation run cost data, null if no run"
      },
      "CampaignEmailsResponse": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Generation ID"
                },
                "campaignId": {
                  "type": "string"
                },
                "subject": {
                  "type": "string",
                  "nullable": true,
                  "description": "Email subject line"
                },
                "bodyHtml": {
                  "type": "string",
                  "nullable": true,
                  "description": "Email body as HTML"
                },
                "bodyText": {
                  "type": "string",
                  "nullable": true,
                  "description": "Email body as plain text"
                },
                "sequence": {
                  "type": "number",
                  "nullable": true,
                  "description": "Sequence number in the campaign"
                },
                "leadFirstName": {
                  "type": "string",
                  "nullable": true
                },
                "leadLastName": {
                  "type": "string",
                  "nullable": true
                },
                "leadCompany": {
                  "type": "string",
                  "nullable": true
                },
                "leadOrganizationDomain": {
                  "type": "string",
                  "nullable": true,
                  "description": "Company domain from lead enrichment"
                },
                "leadTitle": {
                  "type": "string",
                  "nullable": true
                },
                "leadIndustry": {
                  "type": "string",
                  "nullable": true
                },
                "clientCompanyName": {
                  "type": "string",
                  "nullable": true
                },
                "generationRunId": {
                  "type": "string",
                  "nullable": true
                },
                "createdAt": {
                  "type": "string",
                  "description": "ISO timestamp"
                },
                "generationRun": {
                  "$ref": "#/components/schemas/RunCostData"
                }
              },
              "required": [
                "id",
                "campaignId",
                "subject",
                "bodyHtml",
                "bodyText",
                "sequence",
                "leadFirstName",
                "leadLastName",
                "leadCompany",
                "leadOrganizationDomain",
                "leadTitle",
                "leadIndustry",
                "clientCompanyName",
                "generationRunId",
                "createdAt",
                "generationRun"
              ]
            }
          }
        },
        "required": [
          "emails"
        ]
      },
      "CampaignOutletsResponse": {
        "type": "object",
        "properties": {
          "outlets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "outletName": {
                  "type": "string",
                  "nullable": true
                },
                "outletUrl": {
                  "type": "string",
                  "nullable": true
                },
                "outletDomain": {
                  "type": "string",
                  "nullable": true
                },
                "relevanceScore": {
                  "type": "number",
                  "nullable": true
                },
                "whyRelevant": {
                  "type": "string",
                  "nullable": true
                },
                "outletStatus": {
                  "type": "string",
                  "nullable": true,
                  "description": "Campaign-level status: open, ended, or denied"
                }
              },
              "required": [
                "outletName",
                "outletUrl",
                "outletDomain",
                "relevanceScore",
                "whyRelevant",
                "outletStatus"
              ]
            }
          }
        },
        "required": [
          "outlets"
        ]
      },
      "CampaignJournalistsResponse": {
        "type": "object",
        "properties": {
          "journalists": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "outletId": {
                  "type": "string",
                  "format": "uuid"
                },
                "outletName": {
                  "type": "string",
                  "description": "Resolved outlet name"
                },
                "outletDomain": {
                  "type": "string",
                  "nullable": true,
                  "description": "Resolved outlet domain (e.g. techcrunch.com)"
                },
                "journalistName": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "entityType": {
                  "type": "string",
                  "enum": [
                    "individual",
                    "organization"
                  ]
                },
                "relevanceScore": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "whyRelevant": {
                  "type": "string"
                },
                "whyNotRelevant": {
                  "type": "string"
                },
                "articleUrls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "id",
                "outletId",
                "outletName",
                "outletDomain",
                "journalistName",
                "firstName",
                "lastName",
                "entityType",
                "relevanceScore",
                "whyRelevant",
                "whyNotRelevant",
                "articleUrls"
              ]
            }
          }
        },
        "required": [
          "journalists"
        ]
      },
      "OutletCampaignEntry": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "format": "uuid"
          },
          "featureSlug": {
            "type": "string"
          },
          "brandIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "whyRelevant": {
            "type": "string"
          },
          "whyNotRelevant": {
            "type": "string"
          },
          "relevanceScore": {
            "type": "number"
          },
          "overallRelevance": {
            "type": "string",
            "nullable": true
          },
          "relevanceRationale": {
            "type": "string",
            "nullable": true
          },
          "runId": {
            "type": "string",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "campaignId",
          "featureSlug",
          "brandIds",
          "relevanceScore",
          "updatedAt"
        ]
      },
      "OutletWithCampaigns": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "outletName": {
            "type": "string"
          },
          "outletUrl": {
            "type": "string"
          },
          "outletDomain": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "object",
            "nullable": true,
            "properties": {
              "totalJournalists": {
                "type": "number"
              },
              "brand": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "buffered": {
                    "type": "number"
                  },
                  "claimed": {
                    "type": "number"
                  },
                  "served": {
                    "type": "number"
                  },
                  "skipped": {
                    "type": "number"
                  },
                  "contacted": {
                    "type": "number"
                  },
                  "sent": {
                    "type": "number"
                  },
                  "delivered": {
                    "type": "number"
                  },
                  "opened": {
                    "type": "number"
                  },
                  "clicked": {
                    "type": "number"
                  },
                  "replied": {
                    "type": "number"
                  },
                  "repliesPositive": {
                    "type": "number"
                  },
                  "repliesNegative": {
                    "type": "number"
                  },
                  "repliesNeutral": {
                    "type": "number"
                  },
                  "bounced": {
                    "type": "number"
                  },
                  "unsubscribed": {
                    "type": "number"
                  }
                },
                "required": [
                  "buffered",
                  "claimed",
                  "served",
                  "skipped",
                  "contacted",
                  "sent",
                  "delivered",
                  "opened",
                  "clicked",
                  "replied",
                  "repliesPositive",
                  "repliesNegative",
                  "repliesNeutral",
                  "bounced",
                  "unsubscribed"
                ],
                "description": "Cumulative counts at brand scope. Present in brand mode, null in campaign mode."
              },
              "byCampaign": {
                "type": "object",
                "nullable": true,
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "buffered": {
                      "type": "number"
                    },
                    "claimed": {
                      "type": "number"
                    },
                    "served": {
                      "type": "number"
                    },
                    "skipped": {
                      "type": "number"
                    },
                    "contacted": {
                      "type": "number"
                    },
                    "sent": {
                      "type": "number"
                    },
                    "delivered": {
                      "type": "number"
                    },
                    "opened": {
                      "type": "number"
                    },
                    "clicked": {
                      "type": "number"
                    },
                    "replied": {
                      "type": "number"
                    },
                    "repliesPositive": {
                      "type": "number"
                    },
                    "repliesNegative": {
                      "type": "number"
                    },
                    "repliesNeutral": {
                      "type": "number"
                    },
                    "bounced": {
                      "type": "number"
                    },
                    "unsubscribed": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "buffered",
                    "claimed",
                    "served",
                    "skipped",
                    "contacted",
                    "sent",
                    "delivered",
                    "opened",
                    "clicked",
                    "replied",
                    "repliesPositive",
                    "repliesNegative",
                    "repliesNeutral",
                    "bounced",
                    "unsubscribed"
                  ],
                  "description": "Cumulative status counts across ALL journalists matching filters."
                },
                "description": "Per-campaign counts. Present in brand mode, null in campaign mode."
              },
              "campaign": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "buffered": {
                    "type": "number"
                  },
                  "claimed": {
                    "type": "number"
                  },
                  "served": {
                    "type": "number"
                  },
                  "skipped": {
                    "type": "number"
                  },
                  "contacted": {
                    "type": "number"
                  },
                  "sent": {
                    "type": "number"
                  },
                  "delivered": {
                    "type": "number"
                  },
                  "opened": {
                    "type": "number"
                  },
                  "clicked": {
                    "type": "number"
                  },
                  "replied": {
                    "type": "number"
                  },
                  "repliesPositive": {
                    "type": "number"
                  },
                  "repliesNegative": {
                    "type": "number"
                  },
                  "repliesNeutral": {
                    "type": "number"
                  },
                  "bounced": {
                    "type": "number"
                  },
                  "unsubscribed": {
                    "type": "number"
                  }
                },
                "required": [
                  "buffered",
                  "claimed",
                  "served",
                  "skipped",
                  "contacted",
                  "sent",
                  "delivered",
                  "opened",
                  "clicked",
                  "replied",
                  "repliesPositive",
                  "repliesNegative",
                  "repliesNeutral",
                  "bounced",
                  "unsubscribed"
                ],
                "description": "Cumulative counts at campaign scope. Present in campaign mode, null in brand mode."
              },
              "global": {
                "type": "object",
                "properties": {
                  "bounced": {
                    "type": "number"
                  },
                  "unsubscribed": {
                    "type": "number"
                  }
                },
                "required": [
                  "bounced",
                  "unsubscribed"
                ],
                "description": "Global email signals (bounced/unsubscribed counts)."
              }
            },
            "required": [
              "totalJournalists",
              "brand",
              "byCampaign",
              "campaign",
              "global"
            ],
            "description": "Structured status from journalists-service. Null when no journalist data exists for this outlet."
          },
          "relevanceScore": {
            "type": "number",
            "description": "Max relevance score across all per-campaign scores for this outlet."
          },
          "campaigns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutletCampaignEntry"
            },
            "description": "Per-campaign data for this outlet"
          }
        },
        "required": [
          "id",
          "outletName",
          "outletUrl",
          "outletDomain",
          "createdAt",
          "status",
          "relevanceScore",
          "campaigns"
        ]
      },
      "ListOutletsResponse": {
        "type": "object",
        "properties": {
          "outlets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutletWithCampaigns"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of distinct outlets matching filters"
          },
          "byOutreachStatus": {
            "type": "object",
            "properties": {
              "buffered": {
                "type": "number"
              },
              "claimed": {
                "type": "number"
              },
              "served": {
                "type": "number"
              },
              "skipped": {
                "type": "number"
              },
              "contacted": {
                "type": "number"
              },
              "sent": {
                "type": "number"
              },
              "delivered": {
                "type": "number"
              },
              "opened": {
                "type": "number"
              },
              "clicked": {
                "type": "number"
              },
              "replied": {
                "type": "number"
              },
              "repliesPositive": {
                "type": "number"
              },
              "repliesNegative": {
                "type": "number"
              },
              "repliesNeutral": {
                "type": "number"
              },
              "bounced": {
                "type": "number"
              },
              "unsubscribed": {
                "type": "number"
              }
            },
            "required": [
              "buffered",
              "claimed",
              "served",
              "skipped",
              "contacted",
              "sent",
              "delivered",
              "opened",
              "clicked",
              "replied",
              "repliesPositive",
              "repliesNegative",
              "repliesNeutral",
              "bounced",
              "unsubscribed"
            ],
            "description": "Cumulative status counts across ALL outlets (not affected by pagination)."
          }
        },
        "required": [
          "outlets",
          "total",
          "byOutreachStatus"
        ]
      },
      "CreateOutletRequest": {
        "type": "object",
        "properties": {
          "outletName": {
            "type": "string",
            "minLength": 1
          },
          "outletUrl": {
            "type": "string",
            "format": "uri"
          },
          "outletDomain": {
            "type": "string",
            "minLength": 1
          },
          "campaignId": {
            "type": "string",
            "format": "uuid"
          },
          "brandId": {
            "type": "string",
            "format": "uuid"
          },
          "whyRelevant": {
            "type": "string"
          },
          "whyNotRelevant": {
            "type": "string"
          },
          "relevanceScore": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "overallRelevance": {
            "type": "string"
          },
          "relevanceRationale": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "ended",
              "denied"
            ],
            "default": "open"
          },
          "workflowSlug": {
            "type": "string"
          }
        },
        "required": [
          "outletName",
          "outletUrl",
          "outletDomain",
          "campaignId",
          "brandId",
          "whyRelevant",
          "whyNotRelevant",
          "relevanceScore"
        ]
      },
      "OutletStatsResponse": {
        "type": "object",
        "properties": {
          "outletsDiscovered": {
            "type": "number",
            "description": "Total outlets discovered matching the filters"
          },
          "avgRelevanceScore": {
            "type": "number",
            "description": "Average relevance score across matching outlets"
          },
          "searchQueriesUsed": {
            "type": "number",
            "description": "Number of distinct search queries used"
          },
          "byOutreachStatus": {
            "type": "object",
            "properties": {
              "buffered": {
                "type": "number"
              },
              "claimed": {
                "type": "number"
              },
              "served": {
                "type": "number"
              },
              "skipped": {
                "type": "number"
              },
              "contacted": {
                "type": "number"
              },
              "sent": {
                "type": "number"
              },
              "delivered": {
                "type": "number"
              },
              "opened": {
                "type": "number"
              },
              "clicked": {
                "type": "number"
              },
              "replied": {
                "type": "number"
              },
              "repliesPositive": {
                "type": "number"
              },
              "repliesNegative": {
                "type": "number"
              },
              "repliesNeutral": {
                "type": "number"
              },
              "bounced": {
                "type": "number"
              },
              "unsubscribed": {
                "type": "number"
              }
            },
            "required": [
              "buffered",
              "claimed",
              "served",
              "skipped",
              "contacted",
              "sent",
              "delivered",
              "opened",
              "clicked",
              "replied",
              "repliesPositive",
              "repliesNegative",
              "repliesNeutral",
              "bounced",
              "unsubscribed"
            ],
            "description": "Cumulative status counts across matching outlets. Enriched from journalists-service."
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "outletsDiscovered": {
                  "type": "number"
                },
                "avgRelevanceScore": {
                  "type": "number"
                },
                "searchQueriesUsed": {
                  "type": "number"
                }
              },
              "required": [
                "key",
                "outletsDiscovered",
                "avgRelevanceScore",
                "searchQueriesUsed"
              ]
            },
            "description": "Per-dimension breakdown when groupBy is specified"
          }
        },
        "required": [
          "outletsDiscovered",
          "avgRelevanceScore",
          "searchQueriesUsed"
        ]
      },
      "OutletStatsCostsResponse": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dimensions": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "description": "Grouping dimensions (e.g. outletId, runId)"
                },
                "totalCostInUsdCents": {
                  "type": "number",
                  "description": "Total cost (actual + provisioned) in USD cents"
                },
                "actualCostInUsdCents": {
                  "type": "number",
                  "description": "Actual billed cost in USD cents"
                },
                "provisionedCostInUsdCents": {
                  "type": "number",
                  "description": "Provisioned (estimated) cost in USD cents"
                },
                "runCount": {
                  "type": "integer",
                  "description": "Number of discovery runs contributing to this group"
                }
              },
              "required": [
                "dimensions",
                "totalCostInUsdCents",
                "actualCostInUsdCents",
                "provisionedCostInUsdCents",
                "runCount"
              ]
            }
          }
        },
        "required": [
          "groups"
        ]
      },
      "BulkCreateOutletsRequest": {
        "type": "object",
        "properties": {
          "outlets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "outletName": {
                  "type": "string",
                  "minLength": 1
                },
                "outletUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "outletDomain": {
                  "type": "string",
                  "minLength": 1
                },
                "campaignId": {
                  "type": "string",
                  "format": "uuid"
                },
                "brandId": {
                  "type": "string",
                  "format": "uuid"
                },
                "whyRelevant": {
                  "type": "string"
                },
                "whyNotRelevant": {
                  "type": "string"
                },
                "relevanceScore": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "overallRelevance": {
                  "type": "string"
                },
                "relevanceRationale": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "open",
                    "ended",
                    "denied"
                  ],
                  "default": "open"
                },
                "workflowSlug": {
                  "type": "string"
                }
              },
              "required": [
                "outletName",
                "outletUrl",
                "outletDomain",
                "campaignId",
                "brandId",
                "whyRelevant",
                "whyNotRelevant",
                "relevanceScore"
              ]
            }
          }
        },
        "required": [
          "outlets"
        ]
      },
      "SearchOutletsRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1
          },
          "campaignId": {
            "type": "string",
            "format": "uuid"
          },
          "limit": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "query"
        ]
      },
      "DiscoverOutletsResponse": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string",
            "format": "uuid",
            "description": "Child run ID for this discovery batch"
          },
          "discovered": {
            "type": "integer",
            "description": "Number of outlets discovered"
          }
        },
        "required": [
          "runId",
          "discovered"
        ]
      },
      "DiscoverOutletsRequest": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200,
            "default": 15,
            "description": "Number of outlets to discover (1-200, default 15)"
          }
        }
      },
      "PriceRequestOutletsResponse": {
        "type": "object",
        "properties": {}
      },
      "PriceRequestOutletsRequest": {
        "type": "object",
        "properties": {
          "outletIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Outlet IDs to request pricing for (downstream enforces 1–50 per request)"
          }
        },
        "required": [
          "outletIds"
        ]
      },
      "BufferNextOutletResponse": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string",
            "format": "uuid",
            "description": "Discovery run ID that originally found this outlet"
          }
        },
        "required": [
          "runId"
        ]
      },
      "UpdateOutletRequest": {
        "type": "object",
        "properties": {
          "outletName": {
            "type": "string",
            "minLength": 1
          },
          "outletUrl": {
            "type": "string",
            "format": "uri"
          },
          "outletDomain": {
            "type": "string",
            "minLength": 1
          },
          "whyRelevant": {
            "type": "string"
          },
          "whyNotRelevant": {
            "type": "string"
          },
          "relevanceScore": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "overallRelevance": {
            "type": "string"
          },
          "relevanceRationale": {
            "type": "string"
          }
        }
      },
      "UpdateOutletStatusRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "open",
              "served",
              "skipped"
            ]
          },
          "reason": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ]
      },
      "ListJournalistsResponse": {
        "type": "object",
        "properties": {
          "campaignJournalists": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "journalistId": {
                  "type": "string",
                  "format": "uuid"
                },
                "journalistName": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "entityType": {
                  "type": "string",
                  "enum": [
                    "individual",
                    "organization"
                  ]
                },
                "relevanceScore": {
                  "type": "number",
                  "nullable": true
                },
                "whyRelevant": {
                  "type": "string",
                  "nullable": true
                },
                "whyNotRelevant": {
                  "type": "string",
                  "nullable": true
                },
                "articleUrls": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "string"
                  }
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "buffered": {
                      "type": "boolean"
                    },
                    "claimed": {
                      "type": "boolean"
                    },
                    "served": {
                      "type": "boolean"
                    },
                    "skipped": {
                      "type": "boolean"
                    },
                    "contacted": {
                      "type": "boolean"
                    },
                    "sent": {
                      "type": "boolean"
                    },
                    "delivered": {
                      "type": "boolean"
                    },
                    "opened": {
                      "type": "boolean"
                    },
                    "clicked": {
                      "type": "boolean"
                    },
                    "replied": {
                      "type": "boolean"
                    },
                    "replyClassification": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "positive",
                        "negative",
                        "neutral"
                      ]
                    },
                    "bounced": {
                      "type": "boolean"
                    },
                    "unsubscribed": {
                      "type": "boolean"
                    },
                    "lastDeliveredAt": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "buffered",
                    "claimed",
                    "served",
                    "skipped",
                    "contacted",
                    "sent",
                    "delivered",
                    "opened",
                    "clicked",
                    "replied",
                    "replyClassification",
                    "bounced",
                    "unsubscribed",
                    "lastDeliveredAt"
                  ],
                  "description": "Cumulative status booleans merging DB statuses and email-gateway data."
                },
                "runId": {
                  "type": "string",
                  "nullable": true,
                  "format": "uuid",
                  "description": "The discovery run that created this journalist entry"
                }
              },
              "required": [
                "id",
                "journalistId",
                "journalistName",
                "firstName",
                "lastName",
                "entityType",
                "relevanceScore",
                "whyRelevant",
                "whyNotRelevant",
                "articleUrls",
                "status",
                "runId"
              ]
            }
          }
        },
        "required": [
          "campaignJournalists"
        ]
      },
      "JournalistCampaignEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "campaign_journalist row ID"
          },
          "campaignId": {
            "type": "string",
            "format": "uuid"
          },
          "featureSlug": {
            "type": "string",
            "nullable": true
          },
          "workflowSlug": {
            "type": "string",
            "nullable": true
          },
          "relevanceScore": {
            "type": "string"
          },
          "whyRelevant": {
            "type": "string"
          },
          "whyNotRelevant": {
            "type": "string"
          },
          "articleUrls": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Per-campaign email (from campaign_journalists table)"
          },
          "apolloPersonId": {
            "type": "string",
            "nullable": true
          },
          "runId": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "campaignId",
          "featureSlug",
          "workflowSlug",
          "relevanceScore",
          "whyRelevant",
          "whyNotRelevant",
          "articleUrls",
          "email",
          "apolloPersonId",
          "runId",
          "createdAt"
        ]
      },
      "JournalistListResponse": {
        "type": "object",
        "properties": {
          "journalists": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "journalistId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"
                },
                "journalistName": {
                  "type": "string",
                  "description": "Full display name of the journalist",
                  "example": "Sarah Perez"
                },
                "firstName": {
                  "type": "string",
                  "nullable": true,
                  "example": "Sarah"
                },
                "lastName": {
                  "type": "string",
                  "nullable": true,
                  "example": "Perez"
                },
                "entityType": {
                  "type": "string",
                  "enum": [
                    "individual",
                    "organization"
                  ],
                  "example": "individual"
                },
                "outletId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "f7e6d5c4-b3a2-4190-8877-665544332211"
                },
                "email": {
                  "type": "string",
                  "nullable": true,
                  "description": "Global email (from journalists table apollo_email, fallback to best campaign email)"
                },
                "apolloPersonId": {
                  "type": "string",
                  "nullable": true
                },
                "brand": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "buffered": {
                      "type": "boolean"
                    },
                    "claimed": {
                      "type": "boolean"
                    },
                    "served": {
                      "type": "boolean"
                    },
                    "skipped": {
                      "type": "boolean"
                    },
                    "contacted": {
                      "type": "boolean"
                    },
                    "sent": {
                      "type": "boolean"
                    },
                    "delivered": {
                      "type": "boolean"
                    },
                    "opened": {
                      "type": "boolean"
                    },
                    "clicked": {
                      "type": "boolean"
                    },
                    "replied": {
                      "type": "boolean"
                    },
                    "replyClassification": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "positive",
                        "negative",
                        "neutral"
                      ]
                    },
                    "bounced": {
                      "type": "boolean"
                    },
                    "unsubscribed": {
                      "type": "boolean"
                    },
                    "lastDeliveredAt": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "buffered",
                    "claimed",
                    "served",
                    "skipped",
                    "contacted",
                    "sent",
                    "delivered",
                    "opened",
                    "clicked",
                    "replied",
                    "replyClassification",
                    "bounced",
                    "unsubscribed",
                    "lastDeliveredAt"
                  ],
                  "description": "Cumulative status at brand scope (aggregate across campaigns). Present in brand mode, null in campaign mode."
                },
                "byCampaign": {
                  "type": "object",
                  "nullable": true,
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "buffered": {
                        "type": "boolean"
                      },
                      "claimed": {
                        "type": "boolean"
                      },
                      "served": {
                        "type": "boolean"
                      },
                      "skipped": {
                        "type": "boolean"
                      },
                      "contacted": {
                        "type": "boolean"
                      },
                      "sent": {
                        "type": "boolean"
                      },
                      "delivered": {
                        "type": "boolean"
                      },
                      "opened": {
                        "type": "boolean"
                      },
                      "clicked": {
                        "type": "boolean"
                      },
                      "replied": {
                        "type": "boolean"
                      },
                      "replyClassification": {
                        "type": "string",
                        "nullable": true,
                        "enum": [
                          "positive",
                          "negative",
                          "neutral"
                        ]
                      },
                      "bounced": {
                        "type": "boolean"
                      },
                      "unsubscribed": {
                        "type": "boolean"
                      },
                      "lastDeliveredAt": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "required": [
                      "buffered",
                      "claimed",
                      "served",
                      "skipped",
                      "contacted",
                      "sent",
                      "delivered",
                      "opened",
                      "clicked",
                      "replied",
                      "replyClassification",
                      "bounced",
                      "unsubscribed",
                      "lastDeliveredAt"
                    ],
                    "description": "Cumulative status booleans merging DB statuses and email-gateway data."
                  },
                  "description": "Per-campaign status breakdown. Present in brand mode, null in campaign mode."
                },
                "campaign": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "buffered": {
                      "type": "boolean"
                    },
                    "claimed": {
                      "type": "boolean"
                    },
                    "served": {
                      "type": "boolean"
                    },
                    "skipped": {
                      "type": "boolean"
                    },
                    "contacted": {
                      "type": "boolean"
                    },
                    "sent": {
                      "type": "boolean"
                    },
                    "delivered": {
                      "type": "boolean"
                    },
                    "opened": {
                      "type": "boolean"
                    },
                    "clicked": {
                      "type": "boolean"
                    },
                    "replied": {
                      "type": "boolean"
                    },
                    "replyClassification": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "positive",
                        "negative",
                        "neutral"
                      ]
                    },
                    "bounced": {
                      "type": "boolean"
                    },
                    "unsubscribed": {
                      "type": "boolean"
                    },
                    "lastDeliveredAt": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "buffered",
                    "claimed",
                    "served",
                    "skipped",
                    "contacted",
                    "sent",
                    "delivered",
                    "opened",
                    "clicked",
                    "replied",
                    "replyClassification",
                    "bounced",
                    "unsubscribed",
                    "lastDeliveredAt"
                  ],
                  "description": "Cumulative status at campaign scope. Present in campaign mode, null in brand mode."
                },
                "global": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "bounced": {
                      "type": "boolean",
                      "description": "Whether this email has bounced anywhere"
                    },
                    "unsubscribed": {
                      "type": "boolean",
                      "description": "Whether this email has unsubscribed anywhere"
                    }
                  },
                  "required": [
                    "bounced",
                    "unsubscribed"
                  ],
                  "description": "Global email signals (bounced/unsubscribed). Null if no email-gateway data."
                },
                "cost": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "totalCostInUsdCents": {
                      "type": "number"
                    },
                    "actualCostInUsdCents": {
                      "type": "number"
                    },
                    "provisionedCostInUsdCents": {
                      "type": "number"
                    },
                    "runCount": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "totalCostInUsdCents",
                    "actualCostInUsdCents",
                    "provisionedCostInUsdCents",
                    "runCount"
                  ],
                  "description": "Per-journalist cost from runs-service. Null if no runs."
                },
                "campaigns": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JournalistCampaignEntry"
                  },
                  "description": "Per-campaign entries for this journalist"
                }
              },
              "required": [
                "journalistId",
                "journalistName",
                "firstName",
                "lastName",
                "entityType",
                "outletId",
                "email",
                "apolloPersonId",
                "brand",
                "byCampaign",
                "campaign",
                "global",
                "cost",
                "campaigns"
              ]
            }
          },
          "total": {
            "type": "integer",
            "description": "Total journalists matching filters (not affected by pagination)"
          },
          "byOutreachStatus": {
            "type": "object",
            "properties": {
              "buffered": {
                "type": "number"
              },
              "claimed": {
                "type": "number"
              },
              "served": {
                "type": "number"
              },
              "skipped": {
                "type": "number"
              },
              "contacted": {
                "type": "number"
              },
              "sent": {
                "type": "number"
              },
              "delivered": {
                "type": "number"
              },
              "opened": {
                "type": "number"
              },
              "clicked": {
                "type": "number"
              },
              "replied": {
                "type": "number"
              },
              "repliesPositive": {
                "type": "number"
              },
              "repliesNegative": {
                "type": "number"
              },
              "repliesNeutral": {
                "type": "number"
              },
              "bounced": {
                "type": "number"
              },
              "unsubscribed": {
                "type": "number"
              }
            },
            "required": [
              "buffered",
              "claimed",
              "served",
              "skipped",
              "contacted",
              "sent",
              "delivered",
              "opened",
              "clicked",
              "replied",
              "repliesPositive",
              "repliesNegative",
              "repliesNeutral",
              "bounced",
              "unsubscribed"
            ],
            "description": "Cumulative status counts across ALL journalists matching filters."
          }
        },
        "required": [
          "journalists",
          "total",
          "byOutreachStatus"
        ]
      },
      "DiscoverJournalistsResponse": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string",
            "format": "uuid",
            "description": "Child run ID for this discovery. Use to query journalists from this run or check costs via runs-service."
          },
          "discovered": {
            "type": "integer",
            "description": "Number of journalists discovered and stored as buffered"
          }
        },
        "required": [
          "runId",
          "discovered"
        ]
      },
      "DiscoverJournalistsRequest": {
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "format": "uuid"
          },
          "maxArticles": {
            "type": "integer",
            "minimum": 1,
            "maximum": 30,
            "default": 15,
            "description": "Maximum number of articles to search (1-30, default 15)"
          }
        },
        "required": [
          "outletId"
        ]
      },
      "BufferNextJournalistResponse": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string",
            "format": "uuid",
            "description": "Child run ID for this buffer/next call"
          }
        },
        "required": [
          "runId"
        ]
      },
      "ResolveJournalistsResponse": {
        "type": "object",
        "properties": {
          "journalists": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "journalistName": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "entityType": {
                  "type": "string",
                  "enum": [
                    "individual",
                    "organization"
                  ]
                },
                "relevanceScore": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "whyRelevant": {
                  "type": "string"
                },
                "whyNotRelevant": {
                  "type": "string"
                },
                "articleUrls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "id",
                "journalistName",
                "firstName",
                "lastName",
                "entityType",
                "relevanceScore",
                "whyRelevant",
                "whyNotRelevant",
                "articleUrls"
              ]
            }
          },
          "cached": {
            "type": "boolean"
          }
        },
        "required": [
          "journalists",
          "cached"
        ]
      },
      "ResolveJournalistsRequest": {
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "format": "uuid"
          },
          "featureInputs": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "maxArticles": {
            "type": "integer",
            "minimum": 1,
            "maximum": 30
          }
        },
        "required": [
          "outletId"
        ]
      },
      "JournalistStatsResponse": {
        "type": "object",
        "properties": {
          "totalJournalists": {
            "type": "number"
          },
          "byOutreachStatus": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Cumulative status counts. DB statuses (buffered, claimed, served, skipped) are cumulative. Email-gateway fields (recipientStats.*, emailStats.*) are passed through."
          },
          "repliesDetail": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RepliesDetail"
              },
              {
                "description": "Granular reply breakdown from email-gateway. Present when reply data exists."
              }
            ]
          },
          "groupedBy": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "totalJournalists": {
                  "type": "number"
                },
                "byOutreachStatus": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "number"
                  },
                  "description": "Cumulative status counts for this group"
                },
                "repliesDetail": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/RepliesDetail"
                    },
                    {
                      "description": "Granular reply breakdown for this group"
                    }
                  ]
                }
              },
              "required": [
                "totalJournalists",
                "byOutreachStatus"
              ]
            },
            "description": "Per-dimension breakdown when groupBy is specified. Keys are the groupBy dimension values."
          }
        },
        "required": [
          "totalJournalists",
          "byOutreachStatus"
        ]
      },
      "JournalistStatsCostsResponse": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dimensions": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "description": "Grouping dimensions (e.g. journalistId)"
                },
                "totalCostInUsdCents": {
                  "type": "number"
                },
                "actualCostInUsdCents": {
                  "type": "number"
                },
                "provisionedCostInUsdCents": {
                  "type": "number"
                },
                "runCount": {
                  "type": "number"
                }
              },
              "required": [
                "dimensions",
                "totalCostInUsdCents",
                "actualCostInUsdCents",
                "provisionedCostInUsdCents",
                "runCount"
              ]
            }
          }
        },
        "required": [
          "groups"
        ]
      },
      "Article": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique article identifier",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "articleUrl": {
            "type": "string",
            "format": "uri",
            "description": "Canonical URL of the article",
            "example": "https://techcrunch.com/2025/03/15/ai-funding-roundup"
          },
          "snippet": {
            "type": "string",
            "nullable": true,
            "description": "Short text excerpt from the article or search result"
          },
          "ogDescription": {
            "type": "string",
            "nullable": true,
            "description": "OpenGraph og:description meta tag value"
          },
          "twitterCreator": {
            "type": "string",
            "nullable": true,
            "description": "Twitter/X @handle of the article creator",
            "example": "@johndoe"
          },
          "newsKeywords": {
            "type": "string",
            "nullable": true,
            "description": "Comma-separated news keywords meta tag"
          },
          "articlePublished": {
            "type": "string",
            "nullable": true,
            "description": "Published date from article metadata",
            "example": "2025-03-15T10:00:00Z"
          },
          "articleChannel": {
            "type": "string",
            "nullable": true,
            "description": "Channel or vertical the article belongs to",
            "example": "Technology"
          },
          "twitterTitle": {
            "type": "string",
            "nullable": true,
            "description": "Twitter/X card title meta tag"
          },
          "articleSection": {
            "type": "string",
            "nullable": true,
            "description": "Section of the publication",
            "example": "Startups"
          },
          "author": {
            "type": "string",
            "nullable": true,
            "description": "Serialized author data extracted via scraping (JSON array of ExtractedAuthor objects)"
          },
          "ogTitle": {
            "type": "string",
            "nullable": true,
            "description": "OpenGraph og:title meta tag value",
            "example": "AI Funding Hits Record High in Q1 2025"
          },
          "articleAuthor": {
            "type": "string",
            "nullable": true,
            "description": "Raw author string from article:author meta tag"
          },
          "twitterDescription": {
            "type": "string",
            "nullable": true,
            "description": "Twitter/X card description meta tag"
          },
          "articleModified": {
            "type": "string",
            "nullable": true,
            "description": "Last modified date from article metadata"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this article record was first created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this article record was last updated"
          }
        },
        "required": [
          "id",
          "articleUrl",
          "snippet",
          "ogDescription",
          "twitterCreator",
          "newsKeywords",
          "articlePublished",
          "articleChannel",
          "twitterTitle",
          "articleSection",
          "author",
          "ogTitle",
          "articleAuthor",
          "twitterDescription",
          "articleModified",
          "createdAt",
          "updatedAt"
        ]
      },
      "ListArticlesResponse": {
        "type": "object",
        "properties": {
          "articles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Article"
            }
          }
        },
        "required": [
          "articles"
        ]
      },
      "CreateArticleRequest": {
        "type": "object",
        "properties": {
          "articleUrl": {
            "type": "string",
            "format": "uri",
            "description": "Canonical URL of the article (used as upsert key)",
            "example": "https://techcrunch.com/2025/03/15/ai-funding-roundup"
          },
          "snippet": {
            "type": "string",
            "description": "Short text excerpt from the article"
          },
          "ogDescription": {
            "type": "string",
            "description": "OpenGraph og:description meta tag"
          },
          "twitterCreator": {
            "type": "string",
            "description": "Twitter/X @handle of the creator"
          },
          "newsKeywords": {
            "type": "string",
            "description": "Comma-separated news keywords"
          },
          "articlePublished": {
            "type": "string",
            "description": "Published date string from metadata"
          },
          "articleChannel": {
            "type": "string",
            "description": "Channel or vertical"
          },
          "twitterTitle": {
            "type": "string",
            "description": "Twitter/X card title"
          },
          "articleSection": {
            "type": "string",
            "description": "Section of the publication"
          },
          "author": {
            "type": "string",
            "description": "Serialized author data"
          },
          "ogTitle": {
            "type": "string",
            "description": "OpenGraph og:title"
          },
          "articleAuthor": {
            "type": "string",
            "description": "Raw author string from article:author meta tag"
          },
          "twitterDescription": {
            "type": "string",
            "description": "Twitter/X card description"
          },
          "articleModified": {
            "type": "string",
            "description": "Last modified date from metadata"
          }
        },
        "required": [
          "articleUrl"
        ]
      },
      "ArticleAuthorView": {
        "type": "object",
        "properties": {
          "articleId": {
            "type": "string",
            "format": "uuid",
            "description": "Article identifier"
          },
          "articleUrl": {
            "type": "string",
            "description": "Canonical URL of the article"
          },
          "computedTitle": {
            "type": "string",
            "nullable": true,
            "description": "Best-effort title derived from og:title, twitter:title, or snippet"
          },
          "computedLargestContent": {
            "type": "string",
            "nullable": true,
            "description": "Longest content field available (for display/preview)"
          },
          "computedAuthors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Deduplicated list of author names extracted from all metadata sources"
          },
          "computedPublishedAt": {
            "type": "string",
            "nullable": true,
            "description": "Best-effort publication date from available metadata"
          },
          "lastActivityAt": {
            "type": "string",
            "format": "date-time",
            "description": "Most recent update across all linked records"
          },
          "articleCreatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the article was first indexed"
          }
        },
        "required": [
          "articleId",
          "articleUrl",
          "computedTitle",
          "computedLargestContent",
          "computedAuthors",
          "computedPublishedAt",
          "lastActivityAt",
          "articleCreatedAt"
        ]
      },
      "ListArticleAuthorsResponse": {
        "type": "object",
        "properties": {
          "articles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArticleAuthorView"
            }
          }
        },
        "required": [
          "articles"
        ]
      },
      "BulkCreateArticlesResponse": {
        "type": "object",
        "properties": {
          "articles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Article"
            }
          }
        },
        "required": [
          "articles"
        ]
      },
      "BulkCreateArticlesRequest": {
        "type": "object",
        "properties": {
          "articles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "articleUrl": {
                  "type": "string",
                  "format": "uri",
                  "description": "Canonical URL of the article (used as upsert key)",
                  "example": "https://techcrunch.com/2025/03/15/ai-funding-roundup"
                },
                "snippet": {
                  "type": "string",
                  "description": "Short text excerpt from the article"
                },
                "ogDescription": {
                  "type": "string",
                  "description": "OpenGraph og:description meta tag"
                },
                "twitterCreator": {
                  "type": "string",
                  "description": "Twitter/X @handle of the creator"
                },
                "newsKeywords": {
                  "type": "string",
                  "description": "Comma-separated news keywords"
                },
                "articlePublished": {
                  "type": "string",
                  "description": "Published date string from metadata"
                },
                "articleChannel": {
                  "type": "string",
                  "description": "Channel or vertical"
                },
                "twitterTitle": {
                  "type": "string",
                  "description": "Twitter/X card title"
                },
[...]
