{
  "openapi": "3.0.0",
  "info": {
    "title": "distribute API",
    "description": "API Gateway for distribute.\n\n## Quick Start\n\n1. Create an API key in the distribute dashboard, or via `POST /v1/api-keys`\n2. Use it as a Bearer token — that's it, no extra headers needed\n\n```\nAuthorization: Bearer distrib.usr_abc123...\n```\n\nYour key carries your org and user identity. All endpoints work out of the box.\n\n## Storing provider keys (BYOK)\n\nTo store your own provider API keys (e.g. OpenAI, Anthropic) for use in workflows:\n\n```\nPOST /v1/keys\nAuthorization: Bearer distrib.usr_abc123...\n\n{ \"provider\": \"openai\", \"apiKey\": \"sk-...\" }\n```\n\n## Error codes\n\n| Code | Meaning |\n|------|---------|\n| 401 | Missing or invalid Bearer token |\n| 400 | Organization context required (missing `x-org-id` — app key only) |\n| 502 | Identity resolution failed (internal service unreachable) |\n\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.distribute.you"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check and debug endpoints"
    },
    {
      "name": "Authentication",
      "description": "Create and manage your API keys"
    },
    {
      "name": "Keys",
      "description": "Provider key management"
    },
    {
      "name": "Performance",
      "description": "Public performance leaderboard"
    },
    {
      "name": "User",
      "description": "Current user information"
    },
    {
      "name": "Campaigns",
      "description": "Campaign management"
    },
    {
      "name": "Leads",
      "description": "Lead search"
    },
    {
      "name": "Qualify",
      "description": "Email reply qualification"
    },
    {
      "name": "Brand",
      "description": "Brand scraping and management"
    },
    {
      "name": "Activity",
      "description": "User activity tracking"
    },
    {
      "name": "Chat",
      "description": "AI chat with SSE streaming"
    },
    {
      "name": "Billing",
      "description": "Billing, credits, and checkout"
    },
    {
      "name": "Internal",
      "description": "Platform-level operations (API key auth, no identity headers)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication.\n\nUse an API key (`distrib.usr_*`) as your Bearer token. Create one via `POST /v1/api-keys` or in the dashboard.\n\nYour key carries your org and user identity. No extra headers needed."
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Platform API key for internal/admin operations.\n\nUsed for cold-start operations (e.g. template deployment) where no user session exists."
      }
    },
    "schemas": {
      "ApiInfoResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "docs": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "version",
          "docs"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service",
          "version"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "error"
        ]
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "authType": {
            "type": "string",
            "enum": [
              "user_key",
              "admin"
            ]
          }
        }
      },
      "CreateCampaignRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Campaign name"
          },
          "workflowName": {
            "type": "string",
            "minLength": 1,
            "description": "Workflow name (e.g. 'sales-email-cold-outreach-sienna'). Determines which execution pipeline to use."
          },
          "brandUrl": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL"
          },
          "targetAudience": {
            "type": "string",
            "minLength": 1,
            "description": "Plain text description of who to target (e.g. 'CTOs at SaaS startups with 10-50 employees in the US')"
          },
          "targetOutcome": {
            "type": "string",
            "minLength": 1,
            "description": "What you want to achieve (e.g. 'Book sales demos', 'Recruit community ambassadors')"
          },
          "valueForTarget": {
            "type": "string",
            "minLength": 1,
            "description": "What the target audience gains from responding"
          },
          "urgency": {
            "type": "string",
            "minLength": 1,
            "description": "Time-based constraint that motivates action now (e.g. 'Recruitment closes in 30 days', 'Price doubles after March 1st')"
          },
          "scarcity": {
            "type": "string",
            "minLength": 1,
            "description": "Supply-based constraint on availability (e.g. 'Only 10 spots available worldwide', 'Limited to 50 participants')"
          },
          "riskReversal": {
            "type": "string",
            "minLength": 1,
            "description": "Guarantee or safety net that removes risk for the prospect (e.g. 'Free trial for 2 weeks, no commitment', 'Phone screening call before any obligation')"
          },
          "socialProof": {
            "type": "string",
            "minLength": 1,
            "description": "Evidence of credibility and traction (e.g. 'Backed by 60 sponsors including X, Y, Z', '500+ companies already onboarded')"
          },
          "maxBudgetDailyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max daily budget in USD"
          },
          "maxBudgetWeeklyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max weekly budget in USD"
          },
          "maxBudgetMonthlyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max monthly budget in USD"
          },
          "maxBudgetTotalUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max total budget in USD"
          },
          "maxLeads": {
            "type": "integer",
            "description": "Maximum number of leads to contact"
          },
          "endDate": {
            "type": "string",
            "description": "Campaign end date"
          }
        },
        "required": [
          "name",
          "workflowName",
          "brandUrl",
          "targetAudience",
          "targetOutcome",
          "valueForTarget",
          "urgency",
          "scarcity",
          "riskReversal",
          "socialProof"
        ]
      },
      "CampaignStatsResponse": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "leadsServed": {
            "type": "number"
          },
          "leadsBuffered": {
            "type": "number"
          },
          "leadsSkipped": {
            "type": "number"
          },
          "apollo": {
            "type": "object",
            "properties": {
              "enrichedLeadsCount": {
                "type": "number"
              },
              "searchCount": {
                "type": "number"
              },
              "fetchedPeopleCount": {
                "type": "number"
              },
              "totalMatchingPeople": {
                "type": "number"
              }
            },
            "required": [
              "enrichedLeadsCount",
              "searchCount",
              "fetchedPeopleCount",
              "totalMatchingPeople"
            ]
          },
          "emailsGenerated": {
            "type": "number"
          },
          "totalCostUsd": {
            "type": "number"
          },
          "emailsSent": {
            "type": "number"
          },
          "emailsOpened": {
            "type": "number"
          },
          "emailsClicked": {
            "type": "number"
          },
          "emailsReplied": {
            "type": "number"
          },
          "emailsBounced": {
            "type": "number"
          },
          "repliesWillingToMeet": {
            "type": "number"
          },
          "repliesInterested": {
            "type": "number"
          },
          "repliesNotInterested": {
            "type": "number"
          },
          "repliesOutOfOffice": {
            "type": "number"
          },
          "repliesUnsubscribe": {
            "type": "number"
          }
        },
        "required": [
          "campaignId",
          "leadsServed",
          "leadsBuffered",
          "leadsSkipped",
          "emailsGenerated",
          "emailsSent",
          "emailsOpened",
          "emailsClicked",
          "emailsReplied",
          "emailsBounced"
        ]
      },
      "BatchStatsRequest": {
        "type": "object",
        "properties": {
          "campaignIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Array of campaign IDs to fetch stats for"
          }
        },
        "required": [
          "campaignIds"
        ]
      },
      "CampaignRepliesResponse": {
        "type": "object",
        "properties": {
          "replies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "Lead email address"
                },
                "emailsReplied": {
                  "type": "number",
                  "description": "Total replies from this lead"
                },
                "repliesWillingToMeet": {
                  "type": "number",
                  "description": "Willing to meet replies"
                },
                "repliesInterested": {
                  "type": "number",
                  "description": "Interested replies"
                },
                "repliesNotInterested": {
                  "type": "number",
                  "description": "Not interested replies"
                },
                "repliesOutOfOffice": {
                  "type": "number",
                  "description": "Out of office replies"
                },
                "repliesUnsubscribe": {
                  "type": "number",
                  "description": "Unsubscribe replies"
                }
              },
              "required": [
                "email",
                "emailsReplied",
                "repliesWillingToMeet",
                "repliesInterested",
                "repliesNotInterested",
                "repliesOutOfOffice",
                "repliesUnsubscribe"
              ]
            }
          }
        },
        "required": [
          "replies"
        ]
      },
      "UpsertKeyRequest": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Provider name (e.g. openai, anthropic, stripe)"
          },
          "apiKey": {
            "type": "string",
            "description": "The API key value"
          }
        },
        "required": [
          "provider",
          "apiKey"
        ]
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name for the API key"
          }
        }
      },
      "LeadSearchRequest": {
        "type": "object",
        "properties": {
          "person_titles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Job titles to search for"
          },
          "organization_locations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Company locations filter"
          },
          "organization_industries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Industry tag IDs filter"
          },
          "organization_num_employees_ranges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Employee count ranges"
          },
          "per_page": {
            "type": "integer",
            "maximum": 100,
            "default": 10,
            "description": "Results per page (max 100)"
          }
        },
        "required": [
          "person_titles"
        ]
      },
      "QualifyRequest": {
        "type": "object",
        "properties": {
          "sourceService": {
            "type": "string",
            "default": "api",
            "description": "Source service identifier"
          },
          "sourceOrgId": {
            "type": "string",
            "description": "Organization ID (defaults to auth org)"
          },
          "sourceRefId": {
            "type": "string",
            "description": "Reference ID in the source system"
          },
          "fromEmail": {
            "type": "string",
            "minLength": 1,
            "description": "Sender email address"
          },
          "toEmail": {
            "type": "string",
            "minLength": 1,
            "description": "Recipient email address"
          },
          "subject": {
            "type": "string",
            "description": "Email subject line"
          },
          "bodyText": {
            "type": "string",
            "description": "Plain text email body"
          },
          "bodyHtml": {
            "type": "string",
            "description": "HTML email body"
          },
          "byokApiKey": {
            "type": "string",
            "description": "BYOK API key for AI provider"
          }
        },
        "required": [
          "fromEmail",
          "toEmail"
        ]
      },
      "BrandScrapeRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL to scrape"
          },
          "skipCache": {
            "type": "boolean",
            "description": "Skip cached results and force re-scrape"
          }
        },
        "required": [
          "url"
        ]
      },
      "IcpSuggestionRequest": {
        "type": "object",
        "properties": {
          "brandUrl": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL"
          }
        },
        "required": [
          "brandUrl"
        ]
      },
      "BrandUpsertRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL"
          }
        },
        "required": [
          "url"
        ]
      },
      "BrandDeliveryStatsResponse": {
        "type": "object",
        "properties": {
          "emailsSent": {
            "type": "number"
          },
          "emailsDelivered": {
            "type": "number"
          },
          "emailsOpened": {
            "type": "number"
          },
          "emailsClicked": {
            "type": "number"
          },
          "emailsReplied": {
            "type": "number"
          },
          "emailsBounced": {
            "type": "number"
          },
          "repliesWillingToMeet": {
            "type": "number"
          },
          "repliesInterested": {
            "type": "number"
          },
          "repliesNotInterested": {
            "type": "number"
          },
          "repliesOutOfOffice": {
            "type": "number"
          },
          "repliesUnsubscribe": {
            "type": "number"
          }
        },
        "required": [
          "emailsSent",
          "emailsDelivered",
          "emailsOpened",
          "emailsClicked",
          "emailsReplied",
          "emailsBounced",
          "repliesWillingToMeet",
          "repliesInterested",
          "repliesNotInterested",
          "repliesOutOfOffice",
          "repliesUnsubscribe"
        ]
      },
      "BestWorkflowResponse": {
        "type": "object",
        "properties": {
          "workflow": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "category": {
                "type": "string"
              },
              "channel": {
                "type": "string"
              },
              "audienceType": {
                "type": "string"
              },
              "signature": {
                "type": "string"
              },
              "signatureName": {
                "type": "string"
              },
              "humanId": {
                "type": "string",
                "nullable": true,
                "description": "Human ID if styled after an expert"
              },
              "styleName": {
                "type": "string",
                "nullable": true,
                "description": "Base style name for versioning (e.g. 'hormozi')"
              }
            },
            "required": [
              "id",
              "name",
              "category",
              "channel",
              "audienceType",
              "signature",
              "signatureName",
              "humanId",
              "styleName"
            ]
          },
          "dag": {
            "type": "object",
            "properties": {
              "nodes": {
                "type": "array",
                "items": {
                  "nullable": true
                }
              },
              "edges": {
                "type": "array",
                "items": {
                  "nullable": true
                }
              }
            },
            "required": [
              "nodes",
              "edges"
            ]
          },
          "stats": {
            "type": "object",
            "properties": {
              "totalCostInUsdCents": {
                "type": "number"
              },
              "totalOutcomes": {
                "type": "number"
              },
              "costPerOutcome": {
                "type": "number"
              },
              "completedRuns": {
                "type": "number"
              }
            },
            "required": [
              "totalCostInUsdCents",
              "totalOutcomes",
              "costPerOutcome",
              "completedRuns"
            ]
          }
        },
        "required": [
          "workflow",
          "dag",
          "stats"
        ]
      },
      "GenerateWorkflowResponse": {
        "type": "object",
        "properties": {
          "workflow": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Workflow ID"
              },
              "name": {
                "type": "string",
                "description": "Auto-generated workflow name"
              },
              "category": {
                "type": "string",
                "description": "Workflow category"
              },
              "channel": {
                "type": "string",
                "description": "Communication channel"
              },
              "audienceType": {
                "type": "string",
                "description": "Audience type"
              },
              "signature": {
                "type": "string",
                "description": "SHA-256 hash of the canonical DAG"
              },
              "signatureName": {
                "type": "string",
                "description": "Human-readable name for this DAG variant"
              },
              "action": {
                "type": "string",
                "enum": [
                  "created",
                  "updated"
                ],
                "description": "Whether the workflow was created or updated"
              },
              "humanId": {
                "type": "string",
                "nullable": true,
                "description": "Human ID if styled after an expert"
              },
              "styleName": {
                "type": "string",
                "nullable": true,
                "description": "Base style name for versioning (e.g. 'hormozi')"
              }
            },
            "required": [
              "id",
              "name",
              "category",
              "channel",
              "audienceType",
              "signature",
              "signatureName",
              "action",
              "humanId",
              "styleName"
            ]
          },
          "dag": {
            "type": "object",
            "properties": {
              "nodes": {
                "type": "array",
                "items": {
                  "nullable": true
                },
                "description": "DAG nodes"
              },
              "edges": {
                "type": "array",
                "items": {
                  "nullable": true
                },
                "description": "DAG edges"
              }
            },
            "required": [
              "nodes",
              "edges"
            ]
          },
          "generatedDescription": {
            "type": "string",
            "description": "AI-generated description of the workflow"
          }
        },
        "required": [
          "workflow",
          "dag",
          "generatedDescription"
        ]
      },
      "WorkflowStyle": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "human",
              "brand"
            ],
            "description": "Style source type"
          },
          "humanId": {
            "type": "string",
            "description": "Human ID from human-service. Required when type is 'human'."
          },
          "brandId": {
            "type": "string",
            "description": "Brand ID from brand-service. Required when type is 'brand'."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Display name of the human or brand (e.g. 'Hormozi', 'My Brand')"
          }
        },
        "required": [
          "type",
          "name"
        ],
        "description": "Optional style configuration. When provided, the workflow is generated in the style of an industry expert or brand."
      },
      "GenerateWorkflowRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Natural language description of the desired workflow. Be specific about steps, services, and data flow."
          },
          "hints": {
            "type": "object",
            "properties": {
              "services": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Scope generation to these services"
              },
              "nodeTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Suggest specific node types"
              },
              "expectedInputs": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Expected flow_input field names (e.g. campaignId, email)"
              }
            },
            "description": "Optional hints to guide DAG generation"
          },
          "style": {
            "$ref": "#/components/schemas/WorkflowStyle"
          }
        },
        "required": [
          "description"
        ]
      },
      "ProviderInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Provider name (e.g. 'anthropic', 'apollo')"
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "Provider domain for logo display (e.g. 'anthropic.com'), null for internal services"
          }
        },
        "required": [
          "name",
          "domain"
        ]
      },
      "WorkflowSummaryResponse": {
        "type": "object",
        "properties": {
          "workflowName": {
            "type": "string",
            "description": "Workflow name"
          },
          "summary": {
            "type": "string",
            "description": "Natural-language summary of the workflow"
          },
          "requiredProviders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderInfo"
            },
            "description": "External providers required by this workflow, with domains for logo display"
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Ordered list of workflow steps in human-readable format"
          }
        },
        "required": [
          "workflowName",
          "summary",
          "requiredProviders",
          "steps"
        ]
      },
      "WorkflowKeyStatusItem": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Provider name (e.g. 'apollo', 'anthropic')"
          },
          "configured": {
            "type": "boolean",
            "description": "Whether a key is available for this provider (via platform or org key)"
          },
          "maskedKey": {
            "type": "string",
            "nullable": true,
            "description": "Masked org key value, or null if not configured"
          },
          "keySource": {
            "type": "string",
            "enum": [
              "org",
              "platform"
            ],
            "description": "Key source preference: 'platform' (default) or 'org' (BYOK)"
          }
        },
        "required": [
          "provider",
          "configured",
          "maskedKey",
          "keySource"
        ]
      },
      "WorkflowKeyStatusResponse": {
        "type": "object",
        "properties": {
          "workflowName": {
            "type": "string",
            "description": "Workflow name"
          },
          "ready": {
            "type": "boolean",
            "description": "True if all required provider keys are configured"
          },
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowKeyStatusItem"
            },
            "description": "Status of each required provider key"
          },
          "missing": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of provider names with missing keys"
          }
        },
        "required": [
          "workflowName",
          "ready",
          "keys",
          "missing"
        ]
      },
      "ActivityResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        },
        "required": [
          "ok"
        ]
      },
      "ChatConfigRequest": {
        "type": "object",
        "properties": {
          "systemPrompt": {
            "type": "string",
            "minLength": 1,
            "description": "System prompt for the AI assistant"
          },
          "mcpServerUrl": {
            "type": "string",
            "format": "uri",
            "description": "MCP server URL for tool calling"
          },
          "mcpKeyName": {
            "type": "string",
            "minLength": 1,
            "description": "MCP key name for auth resolution"
          }
        },
        "required": [
          "systemPrompt"
        ]
      },
      "ChatMessageRequest": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1,
            "description": "User message text"
          },
          "sessionId": {
            "type": "string",
            "format": "uuid",
            "description": "Session ID for conversation continuity"
          },
          "context": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Additional context for the AI"
          }
        },
        "required": [
          "message"
        ]
      },
      "SwitchBillingModeRequest": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "byok",
              "payg"
            ],
            "description": "Billing mode to switch to"
          },
          "reload_amount_cents": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Auto-reload amount in cents (for payg mode)"
          }
        },
        "required": [
          "mode"
        ]
      },
      "DeductCreditsRequest": {
        "type": "object",
        "properties": {
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Amount to deduct in cents"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "description": "Reason for the deduction"
          },
          "user_id": {
            "type": "string",
            "format": "uuid",
            "description": "User ID"
          }
        },
        "required": [
          "amount_cents",
          "description"
        ]
      },
      "CreateCheckoutSessionRequest": {
        "type": "object",
        "properties": {
          "success_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect after successful payment"
          },
          "cancel_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect on cancellation"
          },
          "reload_amount_cents": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Amount to reload in cents"
          }
        },
        "required": [
          "success_url",
          "cancel_url",
          "reload_amount_cents"
        ]
      },
      "SendEmailRequest": {
        "type": "object",
        "properties": {
          "eventType": {
            "type": "string",
            "minLength": 1,
            "description": "Event type determining which template to use (e.g. 'webinar_welcome', 'j_minus_1')"
          },
          "recipientEmail": {
            "type": "string",
            "format": "email",
            "description": "Direct recipient email (fallback when no userId on the key)"
          },
          "brandId": {
            "type": "string",
            "description": "Brand ID for tracking"
          },
          "campaignId": {
            "type": "string",
            "description": "Campaign ID for tracking"
          },
          "productId": {
            "type": "string",
            "description": "Product/instance ID for product-scoped dedup (e.g. webinar ID)"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Template variables for {{variable}} interpolation"
          }
        },
        "required": [
          "eventType"
        ]
      },
      "EmailStatsRequest": {
        "type": "object",
        "properties": {
          "eventType": {
            "type": "string",
            "description": "Filter by event type"
          }
        }
      },
      "DeployEmailTemplatesRequest": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Template name (unique per app)"
                },
                "subject": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Email subject line"
                },
                "htmlBody": {
                  "type": "string",
                  "minLength": 1,
                  "description": "HTML body with {{variable}} interpolation"
                },
                "textBody": {
                  "type": "string",
                  "description": "Plain text body (optional)"
                },
                "from": {
                  "type": "string",
                  "description": "Sender address, e.g. \"Display Name <email@domain.com>\""
                },
                "messageStream": {
                  "type": "string",
                  "description": "Postmark message stream ID, e.g. \"outbound\" or \"broadcast\""
                }
              },
              "required": [
                "name",
                "subject",
                "htmlBody"
              ]
            },
            "minItems": 1,
            "description": "Templates to deploy"
          }
        },
        "required": [
          "templates"
        ]
      },
      "CreateStripeProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Product name"
          },
          "description": {
            "type": "string",
            "description": "Product description"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Arbitrary key-value metadata"
          }
        },
        "required": [
          "name"
        ]
      },
      "CreateStripePriceRequest": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "minLength": 1,
            "description": "Stripe product ID"
          },
          "unitAmountCents": {
            "type": "integer",
            "minimum": 0,
            "description": "Price in cents"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "default": "usd",
            "description": "ISO 4217 currency code"
          },
          "recurring": {
            "type": "object",
            "properties": {
              "interval": {
                "type": "string",
                "enum": [
                  "day",
                  "week",
                  "month",
                  "year"
                ],
                "description": "Billing interval"
              }
            },
            "required": [
              "interval"
            ],
            "description": "Recurring pricing config (omit for one-time)"
          }
        },
        "required": [
          "productId",
          "unitAmountCents"
        ]
      },
      "CreateStripeCouponRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Custom coupon ID (auto-generated if omitted)"
          },
          "percentOff": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Percent discount (0-100)"
          },
          "amountOffCents": {
            "type": "integer",
            "minimum": 0,
            "description": "Fixed discount in cents"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "description": "Currency for amountOff (required if amountOff is set)"
          },
          "duration": {
            "type": "string",
            "enum": [
              "once",
              "repeating",
              "forever"
            ],
            "description": "How long the coupon applies"
          },
          "durationInMonths": {
            "type": "integer",
            "minimum": 1,
            "description": "Months for 'repeating' duration"
          }
        },
        "required": [
          "duration"
        ]
      },
      "CreateStripeCheckoutRequest": {
        "type": "object",
        "properties": {
          "lineItems": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "priceId": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Stripe price ID"
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1,
                  "default": 1,
                  "description": "Quantity"
                }
              },
              "required": [
                "priceId"
              ]
            },
            "minItems": 1,
            "description": "Line items for checkout"
          },
          "mode": {
            "type": "string",
            "enum": [
              "payment",
              "subscription"
            ],
            "default": "payment",
            "description": "Checkout mode"
          },
          "successUrl": {
            "type": "string",
            "format": "uri",
            "description": "Redirect URL after success"
          },
          "cancelUrl": {
            "type": "string",
            "format": "uri",
            "description": "Redirect URL after cancel"
          },
          "customerEmail": {
            "type": "string",
            "format": "email",
            "description": "Pre-fill customer email"
          },
          "customerId": {
            "type": "string",
            "description": "Existing Stripe customer ID"
          },
          "discounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "couponId": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Stripe coupon ID"
                }
              },
              "required": [
                "couponId"
              ]
            },
            "description": "Coupons to apply"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Metadata for the checkout session"
          }
        },
        "required": [
          "lineItems",
          "successUrl",
          "cancelUrl"
        ]
      },
      "StripeStatsRequest": {
        "type": "object",
        "properties": {
          "brandId": {
            "type": "string",
            "description": "Filter by brand ID"
          },
          "campaignId": {
            "type": "string",
            "description": "Filter by campaign ID"
          },
          "runIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by run IDs"
          }
        }
      },
      "ResolveUserResponse": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string",
            "format": "uuid",
            "description": "Internal organization UUID"
          },
          "userId": {
            "type": "string",
            "format": "uuid",
            "description": "Internal user UUID"
          },
          "orgCreated": {
            "type": "boolean",
            "description": "Whether a new org was created"
          },
          "userCreated": {
            "type": "boolean",
            "description": "Whether a new user was created"
          }
        },
        "required": [
          "orgId",
          "userId",
          "orgCreated",
          "userCreated"
        ]
      },
      "ResolveUserRequest": {
        "type": "object",
        "properties": {
          "externalOrgId": {
            "type": "string",
            "minLength": 1,
            "description": "External organization ID from identity provider"
          },
          "externalUserId": {
            "type": "string",
            "minLength": 1,
            "description": "External user ID — use a generated UUID for anonymous users"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "firstName": {
            "type": "string",
            "description": "User first name"
          },
          "lastName": {
            "type": "string",
            "description": "User last name"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "User avatar URL"
          }
        },
        "required": [
          "externalOrgId",
          "externalUserId"
        ]
      },
      "ListUsersUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Internal user UUID"
          },
          "externalId": {
            "type": "string",
            "description": "External user ID from identity provider"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "User email address"
          },
          "firstName": {
            "type": "string",
            "nullable": true,
            "description": "User first name"
          },
          "lastName": {
            "type": "string",
            "nullable": true,
            "description": "User last name"
          },
          "imageUrl": {
            "type": "string",
            "nullable": true,
            "description": "User avatar URL"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "User phone number"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO timestamp of user creation"
          }
        },
        "required": [
          "id",
          "externalId",
          "email",
          "firstName",
          "lastName",
          "imageUrl",
          "phone",
          "createdAt"
        ]
      },
      "ListUsersResponse": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListUsersUser"
            },
            "description": "List of users"
          },
          "total": {
            "type": "integer",
            "description": "Total number of users matching the query"
          },
          "limit": {
            "type": "integer",
            "description": "Limit used for this page"
          },
          "offset": {
            "type": "integer",
            "description": "Offset used for this page"
          }
        },
        "required": [
          "users",
          "total",
          "limit",
          "offset"
        ]
      },
      "PlatformService": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Service name (e.g. 'lead', 'campaign')"
          },
          "baseUrl": {
            "type": "string",
            "description": "Service base URL"
          },
          "openapiUrl": {
            "type": "string",
            "description": "URL to the service's OpenAPI spec"
          }
        },
        "required": [
          "name",
          "baseUrl",
          "openapiUrl"
        ]
      },
      "PlatformServicesResponse": {
        "type": "object",
        "properties": {
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformService"
            },
            "description": "List of registered platform services"
          }
        },
        "required": [
          "services"
        ]
      },
      "OpenApiSpec": {
        "type": "object",
        "properties": {}
      },
      "LlmEndpointSummary": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "description": "HTTP method"
          },
          "path": {
            "type": "string",
            "description": "Endpoint path"
          },
          "summary": {
            "type": "string",
            "description": "Endpoint summary"
          },
          "params": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "required": {
                  "type": "boolean"
                }
              },
              "required": [
                "name",
                "in",
                "required"
              ]
            },
            "description": "Endpoint parameters"
          },
          "bodyFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Request body field names"
          }
        },
        "required": [
          "method",
          "path",
          "summary"
        ]
      },
      "LlmServiceSummary": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string",
            "description": "Service name"
          },
          "baseUrl": {
            "type": "string",
            "description": "Service base URL"
          },
          "title": {
            "type": "string",
            "description": "Service title"
          },
          "description": {
            "type": "string",
            "description": "Service description"
          },
          "endpoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LlmEndpointSummary"
            },
            "description": "Available endpoints"
          }
        },
        "required": [
          "service",
          "baseUrl",
          "endpoints"
        ]
      },
      "LlmContextResponse": {
        "type": "object",
        "properties": {
          "_description": {
            "type": "string",
            "description": "Description of this context payload"
          },
          "_usage": {
            "type": "string",
            "description": "Usage instructions for LLMs"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LlmServiceSummary"
            },
            "description": "All platform services with their endpoints"
          }
        },
        "required": [
          "_description",
          "_usage",
          "services"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "API info",
        "description": "Returns API name, version, and docs URL",
        "responses": {
          "200": {
            "description": "API information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "description": "Returns service health status",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/debug/config": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Debug configuration",
        "description": "Returns debug info about external service configuration",
        "responses": {
          "200": {
            "description": "Debug configuration data"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "OpenAPI specification",
        "description": "Returns the OpenAPI 3.0 JSON spec for this service",
        "responses": {
          "200": {
            "description": "OpenAPI 3.0 specification"
          },
          "404": {
            "description": "Spec not generated yet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/performance/leaderboard": {
      "get": {
        "tags": [
          "Performance"
        ],
        "summary": "Get performance leaderboard",
        "description": "Returns performance leaderboard data including brands, workflows, and hero stats. Requires authentication.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard data with brands, workflows, and hero stats"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ]
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get current user info",
        "description": "Returns the authenticated user and organization details",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user and org info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ]
      }
    },
    "/v1/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List campaigns",
        "description": "List all campaigns for the organization, optionally filtered by brand ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Filter by brand ID"
            },
            "required": false,
            "description": "Filter by brand ID",
            "name": "brandId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by status (e.g. 'active', 'stopped', 'all')"
            },
            "required": false,
            "description": "Filter by status (e.g. 'active', 'stopped', 'all')",
            "name": "status",
            "in": "query"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create a campaign",
        "description": "Create a new outreach campaign. The `workflowName` field determines which execution pipeline campaign-service uses.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created campaign"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ]
      }
    },
    "/v1/campaigns/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get a campaign",
        "description": "Get a specific campaign by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign data"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Update a campaign",
        "description": "Update campaign fields (name, settings, etc.)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated campaign"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/stop": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Stop a campaign",
        "description": "Stop a running campaign",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Stopped campaign"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/runs": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign runs",
        "description": "Get execution history/runs for a campaign",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign runs list"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/stats": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign stats",
        "description": "Get campaign statistics (leads served/buffered/skipped, apollo metrics, emails sent/opened/clicked/replied, etc.)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated campaign statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignStatsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/batch-stats": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Batch get campaign stats",
        "description": "Get stats for multiple campaigns in a single request",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchStatsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stats keyed by campaign ID"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ]
      }
    },
    "/v1/campaigns/{id}/leads": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign leads",
        "description": "Get all leads for a campaign with enrichment cost data",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign leads with enrichment run data"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/emails": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign emails",
        "description": "Get all generated emails for a campaign across all runs, with generation cost data",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign emails with generation run data"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/replies": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign replies",
        "description": "Get email replies for a campaign, grouped by lead email. Returns only leads who have at least one reply, with reply type breakdown.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "List of reply records per lead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignRepliesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "List provider keys",
        "description": "List provider keys for the organization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of provider keys (masked)"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ]
      },
      "post": {
        "tags": [
          "Keys"
        ],
        "summary": "Upsert a provider key",
        "description": "Store or update a provider API key for the organization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key stored"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ]
      }
    },
    "/v1/keys/{provider}": {
      "delete": {
        "tags": [
          "Keys"
        ],
        "summary": "Delete a provider key",
        "description": "Remove a provider key for the organization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Provider name"
            },
            "required": true,
            "description": "Provider name",
            "name": "provider",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Key deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "List API keys",
        "description": "List all API keys for the organization",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ]
      },
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create an API key",
        "description": "Create a new API key for your organization. This is the recommended way to authenticate with the API.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created API key"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ]
      }
    },
    "/v1/api-keys/{id}": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Revoke an API key",
        "description": "Delete/revoke an API key by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "API key ID"
            },
            "required": true,
            "description": "API key ID",
            "name": "id",
            "in": "path"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys/session": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get or create session API key",
        "description": "Get or create a short-lived session API key for Foxy chat integration",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Session API key"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ]
      }
    },
    "/v1/leads/search": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Search for leads",
        "description": "Search for leads using Apollo-compatible filters (titles, locations, industries, company size)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead search results"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ]
      }
    },
    "/v1/qualify": {
      "post": {
        "tags": [
          "Qualify"
        ],
        "summary": "Qualify an email reply",
        "description": "Uses AI to qualify/classify an inbound email reply (interested, not interested, out-of-office, etc.)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QualifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Qualification result"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External organization ID (e.g. Clerk org ID `org_2xyz...`). Required when using an app key (`distrib.app_*`) on endpoints that need org context. Ignored when using a user key (`distrib.usr_*`)."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External user ID (e.g. Clerk user ID `user_2abc...`). Required when using an app key (`distrib.app_*`) on endpoints that need user context. Ignored when using a user key (`distrib.usr_*`)."
          }
        ]
      }
    },
    "/v1/brand/scrape": {
      "post": {
        "tags": [
          "Brand"
        ],
        "summary": "Scrape brand info",
        "description": "Scrape brand information from a URL using the scraping service",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scraped brand information"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
[...]
