{
  "openapi": "3.0.0",
  "info": {
    "title": "distribute API",
    "description": "API Gateway for distribute.\n\n## Quick Start\n\n1. Create an API key in the distribute dashboard, or via `POST /v1/api-keys`\n2. Use it as a Bearer token — that's it, no extra headers needed\n\n```\nAuthorization: Bearer distrib.usr_abc123...\n```\n\nYour key carries your org and user identity. All endpoints work out of the box.\n\n## Storing provider keys (BYOK)\n\nTo store your own provider API keys (e.g. OpenAI, Anthropic) for use in workflows:\n\n```\nPOST /v1/keys\nAuthorization: Bearer distrib.usr_abc123...\n\n{ \"provider\": \"openai\", \"apiKey\": \"sk-...\" }\n```\n\n## Error codes\n\n| Code | Meaning |\n|------|---------|\n| 401 | Missing or invalid Bearer token |\n| 400 | Organization context required (missing `x-org-id` — app key only) |\n| 502 | Identity resolution failed (internal service unreachable) |\n\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.distribute.you"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check and debug endpoints"
    },
    {
      "name": "Authentication",
      "description": "Create and manage your API keys"
    },
    {
      "name": "Keys",
      "description": "Provider key management"
    },
    {
      "name": "Performance",
      "description": "Public performance leaderboard"
    },
    {
      "name": "User",
      "description": "Current user information"
    },
    {
      "name": "Campaigns",
      "description": "Campaign management"
    },
    {
      "name": "Leads",
      "description": "Lead search"
    },
    {
      "name": "Qualify",
      "description": "Email reply qualification"
    },
    {
      "name": "Brand",
      "description": "Brand scraping and management"
    },
    {
      "name": "Activity",
      "description": "User activity tracking"
    },
    {
      "name": "Chat",
      "description": "AI chat with SSE streaming"
    },
    {
      "name": "Billing",
      "description": "Billing, credits, and checkout"
    },
    {
      "name": "Internal",
      "description": "Platform-level operations (API key auth, no identity headers)"
    },
    {
      "name": "Platform",
      "description": "Service discovery and platform configuration"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication.\n\nUse an API key (`distrib.usr_*`) as your Bearer token. Create one via `POST /v1/api-keys` or in the dashboard.\n\nYour key carries your org and user identity. No extra headers needed."
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Platform API key for internal/admin operations.\n\nUsed for cold-start operations (e.g. template deployment) where no user session exists."
      }
    },
    "schemas": {
      "ApiInfoResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "docs": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "version",
          "docs"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service",
          "version"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "error"
        ]
      },
      "WorkflowMetadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Workflow ID"
          },
          "slug": {
            "type": "string",
            "description": "Unique technical identifier. Use this to execute via /workflows/by-slug/{slug}/execute"
          },
          "name": {
            "type": "string",
            "description": "Workflow name"
          },
          "displayName": {
            "type": "string",
            "nullable": true,
            "description": "Stable display name for the workflow family"
          },
          "dynastyName": {
            "type": "string",
            "description": "Stable name for the lineage. Constant across all versions of a dynasty"
          },
          "dynastySlug": {
            "type": "string",
            "description": "Stable slug for the lineage. Use as key for dynasty-level lookups and stats grouping"
          },
          "version": {
            "type": "integer",
            "description": "Version number within the dynasty. Starts at 1"
          },
          "createdForBrandId": {
            "type": "string",
            "nullable": true,
            "description": "Brand ID that created this workflow"
          },
          "category": {
            "type": "string",
            "description": "Workflow category (e.g. 'sales', 'pr')"
          },
          "channel": {
            "type": "string",
            "description": "Communication channel (e.g. 'email')"
          },
          "audienceType": {
            "type": "string",
            "description": "Audience type (e.g. 'cold-outreach')"
          },
          "featureSlug": {
            "type": "string",
            "description": "Feature slug this workflow belongs to (e.g. 'pr-cold-email-outreach')"
          },
          "signature": {
            "type": "string",
            "description": "SHA-256 hash of the canonical DAG"
          },
          "signatureName": {
            "type": "string",
            "description": "Human-readable name for this DAG variant"
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "displayName",
          "dynastyName",
          "dynastySlug",
          "version",
          "createdForBrandId",
          "featureSlug",
          "signature",
          "signatureName"
        ]
      },
      "WorkflowEmailStats": {
        "type": "object",
        "properties": {
          "sent": {
            "type": "number",
            "description": "Total emails sent"
          },
          "delivered": {
            "type": "number",
            "description": "Total emails delivered"
          },
          "opened": {
            "type": "number",
            "description": "Total emails opened"
          },
          "clicked": {
            "type": "number",
            "description": "Total link clicks"
          },
          "replied": {
            "type": "number",
            "description": "Total replies received"
          },
          "bounced": {
            "type": "number",
            "description": "Total emails bounced"
          },
          "unsubscribed": {
            "type": "number",
            "description": "Total unsubscribes"
          },
          "recipients": {
            "type": "number",
            "description": "Total unique recipients"
          }
        },
        "required": [
          "sent",
          "delivered",
          "opened",
          "clicked",
          "replied",
          "bounced",
          "unsubscribed",
          "recipients"
        ],
        "description": "Aggregated transactional email stats"
      },
      "WorkflowStats": {
        "type": "object",
        "properties": {
          "totalCostInUsdCents": {
            "type": "number",
            "description": "Total cost across all completed runs"
          },
          "totalOutcomes": {
            "type": "number",
            "description": "Total replies or clicks (depending on objective)"
          },
          "costPerOutcome": {
            "type": "number",
            "nullable": true,
            "description": "Cost per reply or click in USD cents, null if no outcomes"
          },
          "completedRuns": {
            "type": "number",
            "description": "Number of completed runs"
          },
          "email": {
            "type": "object",
            "properties": {
              "transactional": {
                "$ref": "#/components/schemas/WorkflowEmailStats"
              },
              "broadcast": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkflowEmailStats"
                  },
                  {
                    "description": "Aggregated broadcast email stats"
                  }
                ]
              }
            },
            "required": [
              "transactional",
              "broadcast"
            ],
            "description": "Email engagement stats aggregated across runs"
          }
        },
        "required": [
          "totalCostInUsdCents",
          "totalOutcomes",
          "costPerOutcome",
          "completedRuns",
          "email"
        ]
      },
      "PublicRankedWorkflowItem": {
        "type": "object",
        "properties": {
          "workflow": {
            "$ref": "#/components/schemas/WorkflowMetadata"
          },
          "stats": {
            "$ref": "#/components/schemas/WorkflowStats"
          }
        },
        "required": [
          "workflow",
          "stats"
        ]
      },
      "PublicRankedWorkflowResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicRankedWorkflowItem"
            },
            "description": "Workflows ranked by performance, best first"
          }
        },
        "required": [
          "results"
        ]
      },
      "BestWorkflowRecord": {
        "type": "object",
        "nullable": true,
        "properties": {
          "workflowId": {
            "type": "string",
            "description": "ID of the workflow holding the record"
          },
          "workflowSlug": {
            "type": "string",
            "description": "Slug of the workflow"
          },
          "displayName": {
            "type": "string",
            "nullable": true,
            "description": "Stable display name of the workflow family"
          },
          "createdForBrandId": {
            "type": "string",
            "nullable": true,
            "description": "Brand ID that created this workflow"
          },
          "value": {
            "type": "number",
            "description": "The record value in USD cents"
          }
        },
        "required": [
          "workflowId",
          "workflowSlug",
          "displayName",
          "createdForBrandId",
          "value"
        ],
        "description": "Workflow with the lowest cost per email open"
      },
      "BestWorkflowResponse": {
        "type": "object",
        "properties": {
          "bestCostPerOpen": {
            "$ref": "#/components/schemas/BestWorkflowRecord"
          },
          "bestCostPerReply": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BestWorkflowRecord"
              },
              {
                "description": "Workflow with the lowest cost per reply"
              }
            ]
          }
        },
        "required": [
          "bestCostPerOpen",
          "bestCostPerReply"
        ]
      },
      "RankedWorkflowItem": {
        "type": "object",
        "properties": {
          "workflow": {
            "$ref": "#/components/schemas/WorkflowMetadata"
          },
          "dag": {
            "type": "object",
            "properties": {
              "nodes": {
                "type": "array",
                "items": {
                  "nullable": true
                },
                "description": "DAG nodes"
              },
              "edges": {
                "type": "array",
                "items": {
                  "nullable": true
                },
                "description": "DAG edges"
              }
            },
            "required": [
              "nodes",
              "edges"
            ],
            "description": "The DAG definition"
          },
          "stats": {
            "$ref": "#/components/schemas/WorkflowStats"
          }
        },
        "required": [
          "workflow",
          "dag",
          "stats"
        ]
      },
      "RankedWorkflowResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RankedWorkflowItem"
            },
            "description": "Workflows ranked by performance, best first"
          }
        },
        "required": [
          "results"
        ]
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "authType": {
            "type": "string",
            "enum": [
              "user_key",
              "admin"
            ]
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Campaign ID"
          },
          "orgId": {
            "type": "string",
            "description": "Organization ID"
          },
          "createdByUserId": {
            "type": "string",
            "nullable": true,
            "description": "User who created the campaign"
          },
          "name": {
            "type": "string",
            "description": "Campaign name"
          },
          "workflowSlug": {
            "type": "string",
            "description": "Workflow slug used for execution"
          },
          "brandUrl": {
            "type": "string",
            "nullable": true,
            "description": "Brand website URL"
          },
          "brandId": {
            "type": "string",
            "nullable": true,
            "description": "Brand ID"
          },
          "featureSlug": {
            "type": "string",
            "nullable": true,
            "description": "Feature slug for tracking"
          },
          "featureInputs": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Free-form JSONB inputs for the feature"
          },
          "maxBudgetDailyUsd": {
            "type": "string",
            "nullable": true,
            "description": "Max daily budget in USD"
          },
          "maxBudgetWeeklyUsd": {
            "type": "string",
            "nullable": true,
            "description": "Max weekly budget in USD"
          },
          "maxBudgetMonthlyUsd": {
            "type": "string",
            "nullable": true,
            "description": "Max monthly budget in USD"
          },
          "maxBudgetTotalUsd": {
            "type": "string",
            "nullable": true,
            "description": "Max total budget in USD"
          },
          "maxLeads": {
            "type": "number",
            "nullable": true,
            "description": "Maximum number of leads"
          },
          "startDate": {
            "type": "string",
            "nullable": true,
            "description": "Campaign start date"
          },
          "endDate": {
            "type": "string",
            "nullable": true,
            "description": "Campaign end date"
          },
          "status": {
            "type": "string",
            "description": "Campaign status (e.g. 'active', 'stopped')"
          },
          "toResumeAt": {
            "type": "string",
            "nullable": true,
            "description": "Scheduled resume time"
          },
          "notifyFrequency": {
            "type": "string",
            "nullable": true,
            "description": "Notification frequency"
          },
          "notifyChannel": {
            "type": "string",
            "nullable": true,
            "description": "Notification channel"
          },
          "notifyDestination": {
            "type": "string",
            "nullable": true,
            "description": "Notification destination"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO timestamp"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO timestamp"
          }
        },
        "required": [
          "id",
          "orgId",
          "createdByUserId",
          "name",
          "workflowSlug",
          "brandUrl",
          "brandId",
          "featureSlug",
          "featureInputs",
          "maxBudgetDailyUsd",
          "maxBudgetWeeklyUsd",
          "maxBudgetMonthlyUsd",
          "maxBudgetTotalUsd",
          "maxLeads",
          "startDate",
          "endDate",
          "status",
          "toResumeAt",
          "notifyFrequency",
          "notifyChannel",
          "notifyDestination",
          "createdAt",
          "updatedAt"
        ]
      },
      "CampaignListResponse": {
        "type": "object",
        "properties": {
          "campaigns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          }
        },
        "required": [
          "campaigns"
        ]
      },
      "CreateCampaignResponse": {
        "type": "object",
        "properties": {
          "campaign": {
            "$ref": "#/components/schemas/Campaign"
          }
        },
        "required": [
          "campaign"
        ]
      },
      "CreateCampaignRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Campaign name"
          },
          "workflowSlug": {
            "type": "string",
            "minLength": 1,
            "description": "Workflow slug (e.g. 'sales-email-cold-outreach-sienna'). Determines which execution pipeline to use."
          },
          "brandUrl": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL"
          },
          "featureSlug": {
            "type": "string",
            "minLength": 1,
            "description": "Feature slug — used to validate inputs against features-service"
          },
          "featureInputs": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Opaque feature inputs. Validated by key-presence against features-service, never inspected by api-service."
          },
          "maxBudgetDailyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max daily budget in USD"
          },
          "maxBudgetWeeklyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max weekly budget in USD"
          },
          "maxBudgetMonthlyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max monthly budget in USD"
          },
          "maxBudgetTotalUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max total budget in USD"
          },
          "maxLeads": {
            "type": "integer",
            "description": "Maximum number of leads to contact"
          },
          "endDate": {
            "type": "string",
            "description": "Campaign end date"
          }
        },
        "required": [
          "name",
          "workflowSlug",
          "brandUrl",
          "featureSlug",
          "featureInputs"
        ]
      },
      "GetCampaignResponse": {
        "type": "object",
        "properties": {
          "campaign": {
            "$ref": "#/components/schemas/Campaign"
          }
        },
        "required": [
          "campaign"
        ]
      },
      "UpdateCampaignResponse": {
        "type": "object",
        "properties": {
          "campaign": {
            "$ref": "#/components/schemas/Campaign"
          }
        },
        "required": [
          "campaign"
        ]
      },
      "StopCampaignResponse": {
        "type": "object",
        "properties": {
          "campaign": {
            "$ref": "#/components/schemas/Campaign"
          }
        },
        "required": [
          "campaign"
        ]
      },
      "ErrorSummary": {
        "type": "object",
        "properties": {
          "failedStep": {
            "type": "string",
            "description": "Which DAG step failed (e.g. 'fetch_lead', 'generate_email')"
          },
          "message": {
            "type": "string",
            "description": "Cleaned error message without stack traces"
          },
          "rootCause": {
            "type": "string",
            "description": "User-friendly root cause (e.g. 'billing-service unavailable')"
          }
        },
        "required": [
          "failedStep",
          "message",
          "rootCause"
        ],
        "description": "Structured error summary for failed runs. Contains a user-friendly rootCause, the failedStep, and a cleaned message. Only present when status is 'failed'."
      },
      "RunCostData": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Run status (e.g. completed, failed)"
          },
          "startedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO timestamp when the run started"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO timestamp when the run completed"
          },
          "totalCostInUsdCents": {
            "type": "string",
            "nullable": true,
            "description": "Total cost in USD cents"
          },
          "costs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "costName": {
                  "type": "string"
                },
                "totalCostInUsdCents": {
                  "type": "string"
                },
                "actualCostInUsdCents": {
                  "type": "string"
                },
                "provisionedCostInUsdCents": {
                  "type": "string"
                },
                "quantity": {
                  "type": "number"
                }
              },
              "required": [
                "costName",
                "totalCostInUsdCents",
                "actualCostInUsdCents",
                "provisionedCostInUsdCents",
                "quantity"
              ]
            },
            "description": "Per-cost-name breakdown"
          },
          "serviceName": {
            "type": "string",
            "nullable": true
          },
          "taskName": {
            "type": "string",
            "nullable": true
          },
          "error": {
            "type": "string",
            "description": "Raw error message (for debugging). Only present on failed runs."
          },
          "errorSummary": {
            "$ref": "#/components/schemas/ErrorSummary"
          },
          "descendantRuns": {
            "type": "array",
            "items": {
              "nullable": true
            },
            "description": "Child runs"
          }
        },
        "required": [
          "status",
          "startedAt",
          "completedAt",
          "totalCostInUsdCents",
          "costs",
          "serviceName",
          "taskName",
          "descendantRuns"
        ]
      },
      "CampaignRunsResponse": {
        "type": "object",
        "properties": {
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunCostData"
            }
          }
        },
        "required": [
          "runs"
        ]
      },
      "CampaignStatsResponse": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "leadsServed": {
            "type": "number"
          },
          "leadsContacted": {
            "type": "number",
            "description": "Count of unique leads that received at least one email"
          },
          "leadsBuffered": {
            "type": "number"
          },
          "leadsSkipped": {
            "type": "number"
          },
          "apollo": {
            "type": "object",
            "properties": {
              "enrichedLeadsCount": {
                "type": "number"
              },
              "searchCount": {
                "type": "number"
              },
              "fetchedPeopleCount": {
                "type": "number"
              },
              "totalMatchingPeople": {
                "type": "number"
              }
            },
            "required": [
              "enrichedLeadsCount",
              "searchCount",
              "fetchedPeopleCount",
              "totalMatchingPeople"
            ]
          },
          "emailsGenerated": {
            "type": "number"
          },
          "totalCostUsd": {
            "type": "number"
          },
          "emailsContacted": {
            "type": "number",
            "description": "Leads successfully submitted to email provider (immediate)"
          },
          "emailsSent": {
            "type": "number",
            "description": "Emails confirmed sent by provider (from webhook)"
          },
          "emailsDelivered": {
            "type": "number",
            "description": "Emails confirmed delivered (from webhook)"
          },
          "emailsOpened": {
            "type": "number"
          },
          "emailsClicked": {
            "type": "number"
          },
          "emailsReplied": {
            "type": "number"
          },
          "emailsBounced": {
            "type": "number"
          },
          "repliesWillingToMeet": {
            "type": "number"
          },
          "repliesInterested": {
            "type": "number"
          },
          "repliesNotInterested": {
            "type": "number"
          },
          "repliesOutOfOffice": {
            "type": "number"
          },
          "repliesUnsubscribe": {
            "type": "number"
          },
          "totalCostInUsdCents": {
            "type": "string",
            "nullable": true,
            "description": "Total cost from campaign-service budget tracking"
          },
          "costBreakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "costName": {
                  "type": "string"
                },
                "totalCostInUsdCents": {
                  "type": "string"
                },
                "actualCostInUsdCents": {
                  "type": "string"
                },
                "provisionedCostInUsdCents": {
                  "type": "string"
                },
                "totalQuantity": {
                  "type": "string"
                }
              },
              "required": [
                "costName",
                "totalCostInUsdCents",
                "actualCostInUsdCents",
                "provisionedCostInUsdCents",
                "totalQuantity"
              ]
            },
            "description": "Per-cost-name breakdown from runs-service"
          }
        },
        "required": [
          "campaignId",
          "leadsServed",
          "leadsContacted",
          "leadsBuffered",
          "leadsSkipped",
          "emailsGenerated",
          "emailsContacted",
          "emailsSent",
          "emailsOpened",
          "emailsClicked",
          "emailsReplied",
          "emailsBounced"
        ]
      },
      "CampaignsBatchStatsResponse": {
        "type": "object",
        "properties": {
          "campaigns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "campaignId": {
                  "type": "string"
                },
                "leadsServed": {
                  "type": "number"
                },
                "leadsContacted": {
                  "type": "number",
                  "description": "Count of unique leads that received at least one email"
                },
                "leadsBuffered": {
                  "type": "number"
                },
                "leadsSkipped": {
                  "type": "number"
                },
                "emailsGenerated": {
                  "type": "number"
                },
                "emailsContacted": {
                  "type": "number",
                  "description": "Leads successfully submitted to email provider (immediate)"
                },
                "emailsSent": {
                  "type": "number",
                  "description": "Emails confirmed sent by provider (from webhook)"
                },
                "emailsDelivered": {
                  "type": "number",
                  "description": "Emails confirmed delivered (from webhook)"
                },
                "emailsOpened": {
                  "type": "number"
                },
                "emailsClicked": {
                  "type": "number"
                },
                "emailsReplied": {
                  "type": "number"
                },
                "emailsBounced": {
                  "type": "number"
                },
                "repliesWillingToMeet": {
                  "type": "number"
                },
                "repliesInterested": {
                  "type": "number"
                },
                "repliesNotInterested": {
                  "type": "number"
                },
                "repliesOutOfOffice": {
                  "type": "number"
                },
                "repliesUnsubscribe": {
                  "type": "number"
                },
                "totalCostInUsdCents": {
                  "type": "string",
                  "nullable": true
                },
                "runCount": {
                  "type": "number"
                }
              },
              "required": [
                "campaignId",
                "leadsServed",
                "leadsContacted",
                "leadsBuffered",
                "leadsSkipped",
                "emailsGenerated",
                "emailsContacted",
                "emailsSent",
                "emailsDelivered",
                "emailsOpened",
                "emailsClicked",
                "emailsReplied",
                "emailsBounced",
                "repliesWillingToMeet",
                "repliesInterested",
                "repliesNotInterested",
                "repliesOutOfOffice",
                "repliesUnsubscribe",
                "totalCostInUsdCents",
                "runCount"
              ]
            }
          }
        },
        "required": [
          "campaigns"
        ]
      },
      "CampaignLeadsResponse": {
        "type": "object",
        "properties": {
          "leads": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "externalId": {
                  "type": "string",
                  "nullable": true
                },
                "firstName": {
                  "type": "string",
                  "nullable": true
                },
                "lastName": {
                  "type": "string",
                  "nullable": true
                },
                "emailStatus": {
                  "type": "string",
                  "nullable": true
                },
                "title": {
                  "type": "string",
                  "nullable": true
                },
                "organizationName": {
                  "type": "string",
                  "nullable": true
                },
                "organizationDomain": {
                  "type": "string",
                  "nullable": true
                },
                "organizationIndustry": {
                  "type": "string",
                  "nullable": true
                },
                "organizationSize": {
                  "type": "string",
                  "nullable": true
                },
                "linkedinUrl": {
                  "type": "string",
                  "nullable": true
                },
                "status": {
                  "type": "string",
                  "description": "Always 'contacted'"
                },
                "createdAt": {
                  "type": "string",
                  "nullable": true,
                  "description": "ISO timestamp (from lead-service servedAt)"
                },
                "enrichmentRunId": {
                  "type": "string",
                  "nullable": true
                },
                "enrichmentRun": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/RunCostData"
                    },
                    {
                      "nullable": true,
                      "description": "Enrichment run cost data, null if no run"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "email",
                "externalId",
                "firstName",
                "lastName",
                "emailStatus",
                "title",
                "organizationName",
                "organizationDomain",
                "organizationIndustry",
                "organizationSize",
                "linkedinUrl",
                "status",
                "createdAt",
                "enrichmentRunId",
                "enrichmentRun"
              ]
            }
          }
        },
        "required": [
          "leads"
        ]
      },
      "CampaignEmailsResponse": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Generation ID"
                },
                "campaignId": {
                  "type": "string"
                },
                "subject": {
                  "type": "string",
                  "nullable": true,
                  "description": "Email subject line"
                },
                "bodyHtml": {
                  "type": "string",
                  "nullable": true,
                  "description": "Email body as HTML"
                },
                "bodyText": {
                  "type": "string",
                  "nullable": true,
                  "description": "Email body as plain text"
                },
                "sequence": {
                  "type": "number",
                  "nullable": true,
                  "description": "Sequence number in the campaign"
                },
                "leadFirstName": {
                  "type": "string",
                  "nullable": true
                },
                "leadLastName": {
                  "type": "string",
                  "nullable": true
                },
                "leadCompany": {
                  "type": "string",
                  "nullable": true
                },
                "leadTitle": {
                  "type": "string",
                  "nullable": true
                },
                "leadIndustry": {
                  "type": "string",
                  "nullable": true
                },
                "clientCompanyName": {
                  "type": "string",
                  "nullable": true
                },
                "generationRunId": {
                  "type": "string",
                  "nullable": true
                },
                "createdAt": {
                  "type": "string",
                  "description": "ISO timestamp"
                },
                "generationRun": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/RunCostData"
                    },
                    {
                      "nullable": true,
                      "description": "Generation run cost data, null if no run"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "campaignId",
                "subject",
                "bodyHtml",
                "bodyText",
                "sequence",
                "leadFirstName",
                "leadLastName",
                "leadCompany",
                "leadTitle",
                "leadIndustry",
                "clientCompanyName",
                "generationRunId",
                "createdAt",
                "generationRun"
              ]
            }
          }
        },
        "required": [
          "emails"
        ]
      },
      "CampaignOutletsResponse": {
        "type": "object",
        "properties": {
          "outlets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "outletName": {
                  "type": "string",
                  "nullable": true
                },
                "outletUrl": {
                  "type": "string",
                  "nullable": true
                },
                "outletDomain": {
                  "type": "string",
                  "nullable": true
                },
                "relevanceScore": {
                  "type": "number",
                  "nullable": true
                },
                "whyRelevant": {
                  "type": "string",
                  "nullable": true
                },
                "outletStatus": {
                  "type": "string",
                  "nullable": true,
                  "description": "Campaign-level status: open, ended, or denied"
                }
              },
              "required": [
                "outletName",
                "outletUrl",
                "outletDomain",
                "relevanceScore",
                "whyRelevant",
                "outletStatus"
              ]
            }
          }
        },
        "required": [
          "outlets"
        ]
      },
      "CampaignJournalistsResponse": {
        "type": "object",
        "properties": {
          "journalists": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "outletId": {
                  "type": "string",
                  "format": "uuid"
                },
                "outletName": {
                  "type": "string",
                  "description": "Resolved outlet name"
                },
                "outletDomain": {
                  "type": "string",
                  "nullable": true,
                  "description": "Resolved outlet domain (e.g. techcrunch.com)"
                },
                "journalistName": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "entityType": {
                  "type": "string",
                  "enum": [
                    "individual",
                    "organization"
                  ]
                },
                "relevanceScore": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "whyRelevant": {
                  "type": "string"
                },
                "whyNotRelevant": {
                  "type": "string"
                },
                "articleUrls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "id",
                "outletId",
                "outletName",
                "outletDomain",
                "journalistName",
                "firstName",
                "lastName",
                "entityType",
                "relevanceScore",
                "whyRelevant",
                "whyNotRelevant",
                "articleUrls"
              ]
            }
          }
        },
        "required": [
          "journalists"
        ]
      },
      "CreateOutletRequest": {
        "type": "object",
        "properties": {
          "outletName": {
            "type": "string",
            "minLength": 1
          },
          "outletUrl": {
            "type": "string",
            "format": "uri"
          },
          "outletDomain": {
            "type": "string",
            "minLength": 1
          },
          "campaignId": {
            "type": "string",
            "format": "uuid"
          },
          "brandId": {
            "type": "string",
            "format": "uuid"
          },
          "whyRelevant": {
            "type": "string"
          },
          "whyNotRelevant": {
            "type": "string"
          },
          "relevanceScore": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "overallRelevance": {
            "type": "string"
          },
          "relevanceRationale": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "ended",
              "denied"
            ],
            "default": "open"
          },
          "workflowSlug": {
            "type": "string"
          }
        },
        "required": [
          "outletName",
          "outletUrl",
          "outletDomain",
          "campaignId",
          "brandId",
          "whyRelevant",
          "whyNotRelevant",
          "relevanceScore"
        ]
      },
      "BulkCreateOutletsRequest": {
        "type": "object",
        "properties": {
          "outlets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "outletName": {
                  "type": "string",
                  "minLength": 1
                },
                "outletUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "outletDomain": {
                  "type": "string",
                  "minLength": 1
                },
                "campaignId": {
                  "type": "string",
                  "format": "uuid"
                },
                "brandId": {
                  "type": "string",
                  "format": "uuid"
                },
                "whyRelevant": {
                  "type": "string"
                },
                "whyNotRelevant": {
                  "type": "string"
                },
                "relevanceScore": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "overallRelevance": {
                  "type": "string"
                },
                "relevanceRationale": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "open",
                    "ended",
                    "denied"
                  ],
                  "default": "open"
                },
                "workflowSlug": {
                  "type": "string"
                }
              },
              "required": [
                "outletName",
                "outletUrl",
                "outletDomain",
                "campaignId",
                "brandId",
                "whyRelevant",
                "whyNotRelevant",
                "relevanceScore"
              ]
            }
          }
        },
        "required": [
          "outlets"
        ]
      },
      "SearchOutletsRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1
          },
          "campaignId": {
            "type": "string",
            "format": "uuid"
          },
          "limit": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "default": 20
          }
        },
        "required": [
          "query"
        ]
      },
      "DiscoverOutletsRequest": {
        "type": "object",
        "properties": {
          "workflowSlug": {
            "type": "string"
          }
        }
      },
      "UpdateOutletRequest": {
        "type": "object",
        "properties": {
          "outletName": {
            "type": "string",
            "minLength": 1
          },
          "outletUrl": {
            "type": "string",
            "format": "uri"
          },
          "outletDomain": {
            "type": "string",
            "minLength": 1
          },
          "whyRelevant": {
            "type": "string"
          },
          "whyNotRelevant": {
            "type": "string"
          },
          "relevanceScore": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "overallRelevance": {
            "type": "string"
          },
          "relevanceRationale": {
            "type": "string"
          }
        }
      },
      "UpdateOutletStatusRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "open",
              "ended",
              "denied"
            ]
          },
          "reason": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ]
      },
      "ListJournalistsResponse": {
        "type": "object",
        "properties": {
          "campaignJournalists": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "journalistId": {
                  "type": "string",
                  "format": "uuid"
                },
                "journalistName": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "entityType": {
                  "type": "string",
                  "enum": [
                    "individual",
                    "organization"
                  ]
                },
                "relevanceScore": {
                  "type": "number",
                  "nullable": true
                },
                "whyRelevant": {
                  "type": "string",
                  "nullable": true
                },
                "whyNotRelevant": {
                  "type": "string",
                  "nullable": true
                },
                "articleUrls": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "string"
                  }
                },
                "runId": {
                  "type": "string",
                  "nullable": true,
                  "format": "uuid",
                  "description": "The discovery run that created this journalist entry"
                }
              },
              "required": [
                "id",
                "journalistId",
                "journalistName",
                "firstName",
                "lastName",
                "entityType",
                "relevanceScore",
                "whyRelevant",
                "whyNotRelevant",
                "articleUrls",
                "runId"
              ]
            }
          }
        },
        "required": [
          "campaignJournalists"
        ]
      },
      "DiscoverJournalistsResponse": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string",
            "format": "uuid",
            "description": "Child run ID for this discovery. Use to query journalists from this run or check costs via runs-service."
          },
          "discovered": {
            "type": "integer",
            "description": "Number of journalists discovered and stored as buffered"
          }
        },
        "required": [
          "runId",
          "discovered"
        ]
      },
      "DiscoverJournalistsRequest": {
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "format": "uuid"
          },
          "maxArticles": {
            "type": "integer",
            "minimum": 1,
            "maximum": 30,
            "default": 15,
            "description": "Maximum number of articles to search (1-30, default 15)"
          }
        },
        "required": [
          "outletId"
        ]
      },
      "DiscoverEmailsResponse": {
        "type": "object",
        "properties": {
          "discovered": {
            "type": "number"
          },
          "total": {
            "type": "number"
          },
          "skipped": {
            "type": "number"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "journalistId": {
                  "type": "string",
                  "format": "uuid"
                },
                "email": {
                  "type": "string",
                  "nullable": true
                },
                "emailStatus": {
                  "type": "string",
                  "nullable": true
                },
                "cached": {
                  "type": "boolean"
                },
                "enrichmentId": {
                  "type": "string"
                }
              },
              "required": [
                "journalistId",
                "email",
                "emailStatus",
                "cached",
                "enrichmentId"
              ]
            }
          }
        },
        "required": [
          "discovered",
          "total",
          "skipped",
          "results"
        ]
      },
      "DiscoverEmailsRequest": {
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "format": "uuid"
          },
          "organizationDomain": {
            "type": "string",
            "minLength": 1
          },
          "journalistIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "brandId": {
            "type": "string",
            "format": "uuid"
          },
          "campaignId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "outletId",
          "organizationDomain",
          "brandId",
          "campaignId"
        ]
      },
      "BufferNextJournalistResponse": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string",
            "format": "uuid",
            "description": "Child run ID for this buffer/next call"
          }
        },
        "required": [
          "runId"
        ]
      },
      "ResolveJournalistsResponse": {
        "type": "object",
        "properties": {
          "journalists": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "journalistName": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "entityType": {
                  "type": "string",
                  "enum": [
                    "individual",
                    "organization"
                  ]
                },
                "relevanceScore": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "whyRelevant": {
                  "type": "string"
                },
                "whyNotRelevant": {
                  "type": "string"
                },
                "articleUrls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "id",
                "journalistName",
                "firstName",
                "lastName",
                "entityType",
                "relevanceScore",
                "whyRelevant",
                "whyNotRelevant",
                "articleUrls"
              ]
            }
          },
          "cached": {
            "type": "boolean"
          }
        },
        "required": [
          "journalists",
          "cached"
        ]
      },
      "ResolveJournalistsRequest": {
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "format": "uuid"
          },
          "brandId": {
            "type": "string",
            "format": "uuid",
            "description": "Brand ID — alternative to x-campaign-id header. Returns journalists across all campaigns for this brand."
          },
          "featureInputs": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "default": {}
          },
          "maxArticles": {
            "type": "integer",
            "minimum": 1,
            "maximum": 30,
            "default": 15
          }
        },
        "required": [
          "outletId"
        ]
      },
      "CreateArticleRequest": {
        "type": "object",
        "properties": {
          "articleUrl": {
            "type": "string",
            "format": "uri"
          },
          "snippet": {
            "type": "string"
          },
          "ogDescription": {
            "type": "string"
          },
          "twitterCreator": {
            "type": "string"
          },
          "newsKeywords": {
            "type": "string"
          },
          "articlePublished": {
            "type": "string"
          },
          "articleChannel": {
            "type": "string"
          },
          "twitterTitle": {
            "type": "string"
          },
          "articleSection": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "ogTitle": {
            "type": "string"
          },
          "articleAuthor": {
            "type": "string"
          },
          "twitterDescription": {
            "type": "string"
          },
          "articleModified": {
            "type": "string"
          }
        },
        "required": [
          "articleUrl"
        ]
      },
      "BulkCreateArticlesRequest": {
        "type": "object",
        "properties": {
          "articles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "articleUrl": {
                  "type": "string",
                  "format": "uri"
                },
                "snippet": {
                  "type": "string"
                },
                "ogDescription": {
                  "type": "string"
                },
                "twitterCreator": {
                  "type": "string"
                },
                "newsKeywords": {
                  "type": "string"
                },
                "articlePublished": {
                  "type": "string"
                },
                "articleChannel": {
                  "type": "string"
                },
                "twitterTitle": {
                  "type": "string"
                },
                "articleSection": {
                  "type": "string"
                },
                "author": {
                  "type": "string"
                },
                "ogTitle": {
                  "type": "string"
                },
                "articleAuthor": {
                  "type": "string"
                },
                "twitterDescription": {
                  "type": "string"
                },
                "articleModified": {
                  "type": "string"
                }
              },
              "required": [
                "articleUrl"
              ]
            }
          }
        },
        "required": [
          "articles"
        ]
      },
      "SearchArticlesRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        },
        "required": [
          "query"
        ]
      },
      "CreateTopicRequest": {
        "type": "object",
        "properties": {
          "topicName": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "topicName"
        ]
      },
      "BulkCreateTopicsRequest": {
        "type": "object",
        "properties": {
          "topics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "topicName": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "topicName"
              ]
            }
          }
        },
        "required": [
          "topics"
        ]
      },
      "CreateDiscoveryRequest": {
        "type": "object",
        "properties": {
          "articleId": {
            "type": "string",
            "format": "uuid"
          },
          "brandId": {
            "type": "string",
            "format": "uuid"
          },
          "campaignId": {
            "type": "string",
            "format": "uuid"
          },
          "outletId": {
            "type": "string",
            "format": "uuid"
          },
          "journalistId": {
            "type": "string",
            "format": "uuid"
          },
          "topicId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "articleId",
          "brandId",
          "campaignId"
        ]
      },
      "BulkCreateDiscoveriesRequest": {
        "type": "object",
        "properties": {
          "discoveries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "articleId": {
                  "type": "string",
                  "format": "uuid"
                },
                "brandId": {
                  "type": "string",
                  "format": "uuid"
                },
                "campaignId": {
                  "type": "string",
                  "format": "uuid"
                },
                "outletId": {
                  "type": "string",
                  "format": "uuid"
                },
                "journalistId": {
                  "type": "string",
                  "format": "uuid"
                },
                "topicId": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "required": [
                "articleId",
                "brandId",
                "campaignId"
              ]
            }
          }
        },
        "required": [
          "discoveries"
        ]
      },
      "DiscoverOutletArticlesRequest": {
        "type": "object",
        "properties": {
          "outletDomain": {
            "type": "string",
            "minLength": 1
          },
          "brandId": {
            "type": "string",
            "format": "uuid"
          },
          "campaignId": {
            "type": "string",
            "format": "uuid"
          },
          "maxArticles": {
            "type": "integer"
          }
        },
        "required": [
          "outletDomain",
          "brandId",
          "campaignId"
        ]
      },
      "DiscoverJournalistPublicationsRequest": {
        "type": "object",
        "properties": {
          "journalistFirstName": {
            "type": "string",
            "minLength": 1
          },
          "journalistLastName": {
            "type": "string",
            "minLength": 1
          },
          "journalistId": {
            "type": "string",
            "format": "uuid"
          },
          "brandId": {
            "type": "string",
            "format": "uuid"
          },
          "campaignId": {
            "type": "string",
            "format": "uuid"
          },
          "maxResults": {
            "type": "integer"
          }
        },
        "required": [
          "journalistFirstName",
          "journalistLastName",
          "journalistId",
          "brandId",
          "campaignId"
        ]
      },
      "OrgKeyItem": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Provider name (e.g. openai, anthropic)"
          },
          "maskedKey": {
            "type": "string",
            "description": "Masked API key value (e.g. sk-...abc)"
          },
          "createdAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO timestamp"
          },
          "updatedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO timestamp"
          }
        },
        "required": [
          "provider",
          "maskedKey",
          "createdAt",
          "updatedAt"
        ]
      },
      "ListKeysResponse": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrgKeyItem"
            }
          }
        },
        "required": [
          "keys"
        ]
      },
      "UpsertKeyResponse": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Provider name"
          },
          "maskedKey": {
            "type": "string",
            "description": "Masked key value"
          },
          "message": {
            "type": "string",
            "description": "Confirmation message"
          }
        },
        "required": [
          "provider",
          "maskedKey",
          "message"
        ]
      },
      "UpsertKeyRequest": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Provider name (e.g. openai, anthropic, stripe)"
          },
          "apiKey": {
            "type": "string",
            "description": "The API key value"
          }
        },
        "required": [
          "provider",
          "apiKey"
        ]
      },
      "DeleteKeyResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Confirmation message"
          }
        },
        "required": [
          "message"
        ]
      },
      "KeySourcePreference": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Provider name"
          },
          "keySource": {
            "type": "string",
            "enum": [
              "org",
              "platform"
            ],
            "description": "Key source preference"
          }
        },
        "required": [
          "provider",
          "keySource"
        ]
      },
      "ListKeySourcesResponse": {
        "type": "object",
        "properties": {
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeySourcePreference"
            }
          }
        },
        "required": [
          "sources"
        ]
      },
      "GetKeySourceResponse": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Provider name"
          },
          "orgId": {
            "type": "string",
            "description": "Organization ID"
          },
          "keySource": {
            "type": "string",
            "enum": [
              "org",
              "platform"
            ],
            "description": "Key source preference"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Whether this is the default (no explicit preference set)"
          }
        },
        "required": [
          "provider",
          "orgId",
          "keySource",
          "isDefault"
        ]
      },
      "SetKeySourceResponse": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Provider name"
          },
          "orgId": {
            "type": "string",
            "description": "Organization ID"
          },
          "keySource": {
            "type": "string",
            "enum": [
              "org",
              "platform"
            ],
            "description": "Key source preference"
          },
          "message": {
            "type": "string",
            "description": "Confirmation message"
          }
        },
        "required": [
          "provider",
          "orgId",
          "keySource",
          "message"
        ]
      },
      "SetKeySourceRequest": {
        "type": "object",
        "properties": {
          "keySource": {
            "type": "string",
            "enum": [
              "org",
              "platform"
            ],
            "description": "Whether to use the org's own key or the platform key"
          }
        },
        "required": [
          "keySource"
        ]
      },
      "ProviderRequirementsResponse": {
        "type": "object",
        "properties": {
          "requirements": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "service": {
                  "type": "string",
                  "description": "Service name"
                },
                "method": {
                  "type": "string",
                  "description": "HTTP method"
                },
                "path": {
                  "type": "string",
                  "description": "Endpoint path"
                },
                "provider": {
                  "type": "string",
                  "description": "Required provider"
                }
              },
              "required": [
                "service",
                "method",
                "path",
                "provider"
              ]
            },
            "description": "Per-endpoint provider requirements"
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Unique list of all required providers"
          }
        },
        "required": [
          "requirements",
          "providers"
        ]
      },
      "ProviderRequirementsRequest": {
        "type": "object",
        "properties": {
          "endpoints": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "service": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Service name"
                },
                "method": {
                  "type": "string",
                  "minLength": 1,
                  "description": "HTTP method"
                },
                "path": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Endpoint path"
                }
              },
              "required": [
                "service",
                "method",
                "path"
              ]
            },
            "minItems": 1,
            "description": "List of service endpoints to check"
          }
        },
        "required": [
          "endpoints"
        ]
      },
      "ApiKeyItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "API key ID"
          },
          "keyPrefix": {
            "type": "string",
            "description": "Key prefix for identification (e.g. distrib.usr_abc...)"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable name"
          },
          "orgId": {
            "type": "string",
            "description": "Organization ID"
          },
          "userId": {
            "type": "string",
            "description": "User ID"
          },
          "createdBy": {
            "type": "string",
            "description": "Who created the key"
          },
          "createdAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO timestamp"
          },
          "lastUsedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO timestamp of last usage"
          }
        },
        "required": [
          "id",
          "keyPrefix",
          "name",
          "orgId",
          "userId",
          "createdBy",
          "createdAt",
          "lastUsedAt"
        ]
      },
      "ListApiKeysResponse": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKeyItem"
            }
          }
        },
        "required": [
          "keys"
        ]
      },
      "CreateApiKeyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "API key ID"
          },
          "key": {
            "type": "string",
            "description": "Full API key value (only returned at creation)"
          },
          "name": {
            "type": "string",
            "description": "Key name"
          },
          "orgId": {
            "type": "string",
            "description": "Organization ID"
          },
          "userId": {
            "type": "string",
            "description": "User ID"
          },
          "createdBy": {
            "type": "string",
            "description": "Who created the key"
          },
          "createdAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO timestamp"
          }
        },
        "required": [
          "id",
          "key",
          "name",
          "orgId",
          "userId",
          "createdBy",
          "createdAt"
        ]
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name for the API key"
          }
        }
      },
      "RevokeApiKeyResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Confirmation message"
          }
        },
        "required": [
          "message"
        ]
      },
      "SessionApiKeyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Key ID"
          },
          "key": {
            "type": "string",
            "description": "Full API key value"
          },
          "keyPrefix": {
            "type": "string",
            "description": "Key prefix for display"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Key name"
          }
        },
        "required": [
          "id",
          "key",
          "keyPrefix",
          "name"
        ]
      },
      "LeadSearchResponse": {
        "type": "object",
        "properties": {
          "people": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Person ID"
                },
                "first_name": {
                  "type": "string",
                  "nullable": true,
                  "description": "First name"
                },
                "last_name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Last name"
                },
                "email": {
                  "type": "string",
                  "nullable": true,
                  "description": "Email address"
                },
                "title": {
                  "type": "string",
                  "nullable": true,
                  "description": "Job title"
                },
                "linkedin_url": {
                  "type": "string",
                  "nullable": true,
                  "description": "LinkedIn URL"
                },
                "organization": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "website_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "industry": {
                      "type": "string",
                      "nullable": true
                    },
                    "estimated_num_employees": {
                      "type": "number",
                      "nullable": true
                    }
                  },
                  "required": [
                    "name",
                    "website_url",
                    "industry",
                    "estimated_num_employees"
                  ],
                  "description": "Company info"
                }
              },
              "required": [
                "id",
                "first_name",
                "last_name",
                "email",
                "title",
                "linkedin_url",
                "organization"
              ]
            },
            "description": "Matching people"
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "number"
              },
              "per_page": {
                "type": "number"
              },
              "total_entries": {
                "type": "number"
              },
              "total_pages": {
                "type": "number"
              }
            },
            "required": [
              "page",
              "per_page",
              "total_entries",
              "total_pages"
            ],
            "description": "Pagination info"
          }
        },
        "required": [
          "people",
          "pagination"
        ]
      },
      "LeadSearchRequest": {
        "type": "object",
        "properties": {
          "person_titles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Job titles to search for"
          },
          "organization_locations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Company locations filter"
          },
          "organization_industries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Industry tag IDs filter"
          },
          "organization_num_employees_ranges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Employee count ranges"
          },
          "per_page": {
            "type": "integer",
            "maximum": 100,
            "default": 10,
            "description": "Results per page (max 100)"
          }
        },
        "required": [
          "person_titles"
        ]
      },
      "QualifyResponse": {
        "type": "object",
        "properties": {
          "qualification": {
            "type": "string",
            "description": "Classification (e.g. 'interested', 'not_interested', 'out_of_office', 'unsubscribe')"
          },
          "confidence": {
            "type": "number",
            "description": "Confidence score 0-1"
          },
          "reasoning": {
            "type": "string",
            "description": "AI reasoning for the classification"
          }
        },
        "required": [
          "qualification"
        ]
      },
      "QualifyRequest": {
        "type": "object",
        "properties": {
          "sourceService": {
            "type": "string",
            "default": "api",
            "description": "Source service identifier"
          },
          "sourceOrgId": {
            "type": "string",
            "description": "Organization ID (defaults to auth org)"
          },
          "sourceRefId": {
            "type": "string",
            "description": "Reference ID in the source system"
          },
          "fromEmail": {
            "type": "string",
            "minLength": 1,
            "description": "Sender email address"
          },
          "toEmail": {
            "type": "string",
            "minLength": 1,
            "description": "Recipient email address"
          },
          "subject": {
            "type": "string",
            "description": "Email subject line"
          },
          "bodyText": {
            "type": "string",
            "description": "Plain text email body"
          },
          "bodyHtml": {
            "type": "string",
            "description": "HTML email body"
          },
          "byokApiKey": {
            "type": "string",
            "description": "BYOK API key for AI provider"
          }
        },
        "required": [
          "fromEmail",
          "toEmail"
        ]
      },
      "BrandSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Brand ID"
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "Brand domain"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Brand name"
          },
          "brandUrl": {
            "type": "string",
            "nullable": true,
            "description": "Brand website URL"
          },
          "createdAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO timestamp"
          },
          "updatedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO timestamp"
          },
          "logoUrl": {
            "type": "string",
            "nullable": true,
            "description": "Logo URL"
          },
          "elevatorPitch": {
            "type": "string",
            "nullable": true,
            "description": "Short brand description"
          }
        },
        "required": [
          "id",
          "domain",
          "name",
          "brandUrl",
          "createdAt",
          "updatedAt",
          "logoUrl",
          "elevatorPitch"
        ]
      },
      "BrandDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BrandSummary"
          },
          {
            "type": "object",
            "properties": {
              "bio": {
                "type": "string",
                "nullable": true,
                "description": "Brand biography"
              },
              "mission": {
                "type": "string",
                "nullable": true,
                "description": "Brand mission statement"
              },
              "location": {
                "type": "string",
                "nullable": true,
                "description": "Brand location"
              },
              "categories": {
                "type": "string",
                "nullable": true,
                "description": "Brand categories"
              }
            },
            "required": [
              "bio",
              "mission",
              "location",
              "categories"
            ]
          }
        ]
      },
      "BrandScrapeResponse": {
        "type": "object",
        "properties": {
          "brand": {
            "$ref": "#/components/schemas/BrandDetail"
          }
        },
        "required": [
          "brand"
        ]
      },
      "BrandScrapeRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL to scrape"
          },
          "skipCache": {
            "type": "boolean",
            "description": "Skip cached results and force re-scrape"
          }
        },
        "required": [
          "url"
        ]
      },
      "BrandByUrlResponse": {
        "type": "object",
        "properties": {
          "brand": {
            "$ref": "#/components/schemas/BrandDetail"
          }
        },
        "required": [
          "brand"
        ]
      },
      "ListBrandsResponse": {
        "type": "object",
        "properties": {
          "brands": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BrandSummary"
            }
          }
        },
        "required": [
          "brands"
        ]
      },
      "GetBrandResponse": {
        "type": "object",
        "properties": {
          "brand": {
            "$ref": "#/components/schemas/BrandDetail"
          }
        },
        "required": [
          "brand"
        ]
      },
      "ExtractFieldResult": {
        "type": "object",
        "properties": {
          "value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "nullable": true
                }
              },
              {
                "type": "object",
                "additionalProperties": {
                  "nullable": true
                }
              },
              {
                "nullable": true
              },
              {
                "nullable": true
              }
            ],
            "description": "Extracted value. Type depends on the field key: string (companyOverview, valueProposition, callToAction), array (targetAudience, keyFeatures, customerPainPoints, productDifferentiators), object (socialProof, funding, additionalContext, riskReversal, scarcity, urgency), or null when the field was not found on the site (e.g. competitors, leadership)."
          },
          "cached": {
            "type": "boolean",
            "description": "Whether this result was served from cache"
          },
          "extractedAt": {
            "type": "string",
            "description": "ISO timestamp of extraction"
          },
          "expiresAt": {
            "type": "string",
            "description": "ISO timestamp when cached result expires"
          },
          "sourceUrls": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "URLs scraped to extract this field. Null for pre-existing extractions."
          }
        },
        "required": [
          "value",
          "cached",
          "extractedAt",
          "expiresAt",
          "sourceUrls"
        ]
      },
      "ExtractFieldsResponse": {
        "type": "object",
        "properties": {
          "brandId": {
            "type": "string",
            "description": "Brand ID"
          },
          "results": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ExtractFieldResult"
            },
            "description": "Extraction results keyed by field name (e.g. results.biography.value)"
          }
        },
        "required": [
          "brandId",
          "results"
        ]
      },
      "ExtractFieldRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Field key (e.g. 'industry', 'valueProposition')"
          },
          "description": {
            "type": "string",
            "description": "Description of what to extract"
          }
        },
        "required": [
          "key",
          "description"
        ]
      },
      "ExtractFieldsRequest": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExtractFieldRequest"
            },
            "description": "Fields to extract"
          }
        },
        "required": [
          "fields"
        ]
      },
      "CachedField": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Field key"
          },
          "value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "nullable": true
                }
              },
              {
                "type": "object",
                "additionalProperties": {
                  "nullable": true
                }
              },
              {
                "nullable": true
              },
              {
                "nullable": true
              }
            ],
            "description": "Extracted value. Type depends on the field key: string, array, object, or null when not found."
          },
          "sourceUrls": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "URLs scraped to extract this field. Null for pre-existing extractions."
          },
          "extractedAt": {
            "type": "string",
            "description": "ISO timestamp of extraction"
          },
          "expiresAt": {
            "type": "string",
            "description": "ISO timestamp when cached result expires"
          }
        },
        "required": [
          "key",
          "value",
          "sourceUrls",
          "extractedAt",
          "expiresAt"
        ]
      },
      "ExtractedFieldsResponse": {
        "type": "object",
        "properties": {
          "brandId": {
            "type": "string",
            "description": "Brand ID"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CachedField"
            },
            "description": "Previously extracted and cached fields"
          }
        },
        "required": [
          "brandId",
          "fields"
        ]
      },
      "IcpSuggestionResponse": {
        "type": "object",
        "properties": {
          "person_titles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Suggested job titles"
          },
          "organization_locations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Suggested locations"
          },
          "organization_industries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Suggested industries"
          },
          "organization_num_employees_ranges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Suggested company sizes"
          }
        },
        "required": [
          "person_titles"
        ]
      },
      "IcpSuggestionRequest": {
        "type": "object",
        "properties": {
          "brandUrl": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL"
          }
        },
        "required": [
          "brandUrl"
        ]
      },
      "UpsertBrandResponse": {
        "type": "object",
        "properties": {
          "brandId": {
            "type": "string",
            "description": "Brand ID"
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "Extracted domain"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Brand name"
          },
          "created": {
            "type": "boolean",
            "description": "True if newly created, false if already existed"
          }
        },
        "required": [
          "brandId",
          "domain",
          "name",
          "created"
        ]
      },
      "BrandUpsertRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL"
          }
        },
        "required": [
          "url"
        ]
      },
      "BrandRunsResponse": {
        "type": "object",
        "properties": {
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunCostData"
            }
          }
        },
        "required": [
          "runs"
        ]
      },
      "EmailGatewayStatsResponse": {
        "type": "object",
        "properties": {
          "emailsContacted": {
            "type": "number",
            "description": "Leads successfully submitted to email provider (immediate)"
          },
          "emailsSent": {
            "type": "number",
            "description": "Emails confirmed sent by provider (from webhook)"
          },
          "emailsDelivered": {
            "type": "number",
            "description": "Emails confirmed delivered (from webhook)"
          },
          "emailsOpened": {
            "type": "number"
          },
          "emailsClicked": {
            "type": "number"
          },
          "emailsReplied": {
            "type": "number"
          },
          "emailsBounced": {
            "type": "number"
          },
          "repliesWillingToMeet": {
            "type": "number"
          },
          "repliesInterested": {
            "type": "number"
          },
          "repliesNotInterested": {
            "type": "number"
          },
          "repliesOutOfOffice": {
            "type": "number"
          },
          "repliesUnsubscribe": {
            "type": "number"
          }
        },
        "required": [
          "emailsContacted",
          "emailsSent",
          "emailsDelivered",
          "emailsOpened",
          "emailsClicked",
          "emailsReplied",
          "emailsBounced",
          "repliesWillingToMeet",
          "repliesInterested",
          "repliesNotInterested",
          "repliesOutOfOffice",
          "repliesUnsubscribe"
        ]
      },
      "RunsCostStatsResponse": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dimensions": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string",
                    "nullable": true
                  },
                  "description": "Dimension key-value pairs (e.g. { brandId: '...' })"
                },
                "totalCostInUsdCents": {
                  "type": "string"
                },
                "actualCostInUsdCents": {
                  "type": "string"
                },
                "provisionedCostInUsdCents": {
                  "type": "string"
                },
                "cancelledCostInUsdCents": {
                  "type": "string"
                },
                "runCount": {
                  "type": "number"
                },
                "totalQuantity": {
                  "type": "string",
                  "description": "Present when groupBy includes costName"
                }
              },
              "required": [
                "dimensions",
                "totalCostInUsdCents",
                "actualCostInUsdCents",
                "provisionedCostInUsdCents",
                "cancelledCostInUsdCents",
                "runCount"
              ]
            }
          }
        },
        "required": [
          "groups"
        ]
      },
      "BrandScrapeResultResponse": {
        "type": "object",
        "properties": {
          "brand": {
            "$ref": "#/components/schemas/BrandDetail"
          }
        },
        "required": [
          "brand"
        ]
      },
      "ListWorkflowsResponse": {
        "type": "object",
        "properties": {
          "workflows": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/WorkflowMetadata"
                },
                {
                  "type": "object",
                  "properties": {
                    "requiredProviders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Provider name"
                          },
                          "domain": {
                            "type": "string",
                            "nullable": true,
                            "description": "Provider domain"
                          }
                        },
                        "required": [
                          "name",
                          "domain"
                        ]
                      },
                      "description": "External providers required by this workflow"
                    }
                  }
                }
              ]
            }
          }
        },
        "required": [
          "workflows"
        ]
      },
      "GetWorkflowResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowMetadata"
          },
          {
            "type": "object",
            "properties": {
              "dag": {
                "type": "object",
                "properties": {
                  "nodes": {
                    "type": "array",
                    "items": {
                      "nullable": true
                    },
                    "description": "DAG nodes"
                  },
                  "edges": {
                    "type": "array",
                    "items": {
                      "nullable": true
                    },
                    "description": "DAG edges"
                  }
                },
                "required": [
                  "nodes",
                  "edges"
                ],
                "description": "The DAG definition"
              },
              "requiredProviders": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Provider name"
                    },
                    "domain": {
                      "type": "string",
                      "nullable": true,
                      "description": "Provider domain"
                    }
                  },
                  "required": [
                    "name",
                    "domain"
                  ]
                },
                "description": "External providers required by this workflow"
              }
            },
            "required": [
              "dag"
            ]
          }
        ]
      },
      "GenerateWorkflowResponse": {
        "type": "object",
        "properties": {
          "workflow": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Workflow ID"
              },
              "name": {
                "type": "string",
                "description": "Auto-generated workflow slug"
              },
              "featureSlug": {
                "type": "string",
                "description": "Feature slug this workflow belongs to"
              },
[...]
